
.ui-button.ui-button-text-icon-left.ui-state-default  {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    line-height: 1px;
    letter-spacing: 0.4px;
    font-weight: normal;
    font-size: medium;
    margin-right: 0px;
    text-decoration: none;
    width: auto;
    height: 37px;
    outline: none!important;
    border-radius: 4px!important;
    cursor: pointer;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.12);
    margin-top: 16px!important;
    margin-bottom: 16px!important;
    font-family: Roboto!important;

}

.ui-button.ui-button-text-icon-left:hover {
    color: #fff!important;
    background-color: #286090!important;
    border-color: #204d74!important;
}

.ui-button.button-print {
    background-color: #23c6c8!important;
    color: #FFFFFF!important;
    border-color: #23c6c8!important;
}

.ui-button.button-print:hover {
    color: #fff!important;
    background-color: #21b9bb!important;
    border-color: #21b9bb!important;
}
.ui-button.button-clean {
    background-color: #868686 !important;
    border-color: #868686 !important;
    color: #FFFFFF !important;

}

.ui-button.button-clean:hover {
    background-color: #6B6B6B!important;
    border-color: #6B6B6B!important;
    color: #FFFFFF!important;
}

.ui-button.button-search {
    /*background-color: #1ab394!important;*/
    /*border-color: #1ab394!important;*/
    background-color: #13C2B0!important;
    border-color: #13C2B0!important;
    color: #FFFFFF!important;
}

.ui-button.button-search:hover {
    background-color: #18a689!important;
    border-color: #18a689!important;
    color: #FFFFFF!important;
}

.ui-button.button-print:hover {

}

.ui-button.button-edit {

    box-shadow: none !important;
    -moz-box-shadow: none !important;
    /*background-color: #58889F!important;*/
    background-color: #337ab7!important;
    border-color: #2e6da4!important;
    text-shadow: none !important;
    border-radius: 4px 4px !important;
    /*border-color: transparent !important;*/
    -webkit-box-shadow: none !important;
    color: white;
}

.ui-button.button-edit:hover {
    /*background-color: #507D92!important;*/
    /*border-color: #507D92!important;*/
    color: #000!important;
}

.ui-button.button-live {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    border-radius: 4px 4px;
    text-shadow: none !important;
    vertical-align: middle;
    -webkit-box-shadow: none !important;
}

.ui-button.button-save {
    /*18AD9E old*/
    background-color: #13C2B0!important;
    border-color: #13C2B0!important;
    line-height: 1px;
    letter-spacing: 0.4px;
    font-weight: normal;
    font-size: medium;
    margin-right: 1px;
    text-decoration: none;
    margin-left: 15px;

}

.ui-button.button-save:hover {
    color: #fff!important;
    background-color: #179C8E!important;
    border-color: #179C8E!important;

}

.ui-button.button-back {
    background-color: #43859C!important;
    border-color: #43859C!important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    color: #fff;
    line-height: 1px;
    letter-spacing: 0.4px;
    font-weight: normal;

}

.ui-button.excluir {
    box-shadow: none;
    text-shadow: none;
    min-height: 40px;
    display: inline-block;
    border-radius: 3px;
}

/*.ui-button-icon-only {*/
    /*width: 0px;*/
/*}*/

.ui-button.button-back:hover {
    background-color: #3B7A8F!important;
    border-color: #3B7A8F!important;
    text-decoration: none!important;
}


.ui-inputfield {
    background: white !important;
    /*color: black !important;*/
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    font-weight: normal!important;
}

.icone-30 {
    width: 30px;
    height: 30px;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li a {
    color: inherit;
}

.ui-autocomplete-input {
    background: #e6f9ff !important;
    color: black !important;
}

.ui-autocomplete-list-item {
    background: white !important;
    color: black !important;
    border: #e6f9ff !important;
}

.ui-inputfield.ui-autocomplete-input {
    background: #eaf6fe !important;
}

.ui-widget {
    text-shadow: none !important;
    /*box-shadow: none !important;*/
    border-radius: 2px;
    outline: none!important;
}

.ui-autocomplete-list-item:hover {
    background: #eaf6fe !important;
    color: black !important;
    border: #eaf6fe !important;
    border-radius: 4px 4px;
}

.campo-obrigatorio {
    font-weight: bold !important;
    color: #cd0a0a !important;
}

.ui-button.button-excluir {
    background-color: #EA5757!important;
    color: white!important;
    border-color: #EA5757!important;
}

.ui-button.button-excluir:hover {
    background-color: #EA4E4E!important;
    border-color: #EA4E4E!important;
}

.ui-button.button-edit-visualizar {
    background-color: #74868F!important;
    border-color: #74868F!important;
}

.ui-button.button-edit-visualizar:hover {
    background-color: #6B7B83!important;

}


.ui-growl  {
    position:absolute;
    z-index:9999;
}
.ui-widget-header {
    text-transform: none!important;
}
.ui-growl-item-container {
    background-color: #1e2e3d;
    border-radius: 2px;
}

.ui-growl-image-info {

}

.ui-growl-image-warn {

}

.ui-growl-image-error {

}


.ui-growl-image-fatal {

}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    text-transform: none!important;
}


.ui-tabs .ui-tabs-nav.ui-widget-header li {
    background: #EDEDED!important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav li {
    background: #EDEDED!important;
}
.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active {
    background: #FFFFFF!important;
}
.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header {
    border-bottom: 0px!important;
}

.ui-panel .ui-panel-titlebar {
    height: 100%!important;
    width: 100%!important;
    /*background: #466368;*/
    /*background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);*/
    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *


    /*opacity: 0.9;*/
    /*filter: alpha(opacity=50); !* For IE8 and earlier *!*/
    border-radius: 3px!important;
}

/*.ui-widget {*/
    /*!*font-family: Roboto;*!*/
/*}*/

/*.ui-helper-clearfix {*/
    /*display: inline-block!important;*/
/*}*/

.ui-widget-header {
    font-weight: lighter!important;
    font-size: 13px!important;
}

.negrito-verde {
    color: green !important;
    font-weight: bold !important;
}

.negrito-vermelho {
    color: red !important;
    font-weight: bold !important;
}

.negrito-azul {
    color: blue !important;
    font-weight: bold !important;
}

.negrito-amarelo {
    color: orange !important;
    font-weight: bold !important;
}
.negrito {
    font-weight: bold !important;
}

.negrito-branco {
    color: white !important;
    font-weight: bold !important;
}

.negrito-preto {
    color: black !important;
    font-weight: bold !important;
}

.negrito-azul {
    color: #0e90d2 !important;
    font-weight: bold !important;
}

.ui-accordion .ui-accordion-content.ui-widget-content {
    border: solid 1px #13C2B0;
}



.vertical-center {
    vertical-align: inherit!important;
}


.text-selecionado .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    color: #0e90d2 !important;
}
