<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        Extrato Financeiro
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">
            <h:panelGrid columns="2">


                <fc:labelObrigatorio para="loja" value="Loja:"/>
                <p:autoComplete id="loja" title="Selecione uma loja"
                                value="#{extratoControlador.loja}"
                                completeMethod="#{lojaControlador.completarEstaEntidade}"
                                var="ob"
                                queryDelay="0"
                                effectDuration="0"
                                itemLabel="#{ob}"
                                itemValue="#{ob}"
                                size="60"
                                onkeyup="maiuscula(this.id)"
                                onfocus="this.select()"
                                onclick="this.select()"
                                converter="#{lojaControlador.converterAutoComplete}">
                    <p:ajax event="itemSelect" update="@form" listener="#{extratoControlador.recuperarLoja}"/>
                </p:autoComplete>


                <p:outputLabel for="conta" value="Conta:"/>
                <h:selectOneMenu value="#{extratoControlador.contaCorrente}"
                                 converter="#{extratoControlador.converterContaCorrente}"
                                 id="conta">
                    <f:selectItems value="#{extratoControlador.contasAsSelectItem}"/>
                </h:selectOneMenu>

                <fc:labelObrigatorio para="dataInicial" value="Data inicial:"/>
                <p:calendar id="dataInicial" value="#{extratoControlador.dataInicial}"
                            title="Digite a data de filtro"
                            locale="pt"
                            autocomplete="off" pattern="dd/MM/yyyy" size="10" maxlength="10"
                            navigator="true"
                            showButtonPanel="true"/>

                <fc:labelObrigatorio para="data" value="Data final:"/>
                <p:calendar id="data" value="#{extratoControlador.dataFinal}"
                            title="Digite a data de filtro"
                            locale="pt"
                            autocomplete="off" pattern="dd/MM/yyyy" size="10" maxlength="10"
                            navigator="true"
                            showButtonPanel="true"/>
            </h:panelGrid>

            <h:panelGrid columns="3">
                <p:commandButton value="Pesquisar"
                                 onclick="abrirStatusDialog()"
                                 oncomplete="fechaStatusDialog()"
                                 style="box-shadow: none;
                         text-shadow: none;
                         width: 150px;
                         height: 20px;
                         min-height: 40px;
                         display: inline-block;
                         border-radius: 3px;
                         border: solid 1px #4E6CA3;"
                                 styleClass="btn btn-primary mrg-lef05 mrg-top10"
                                 icon="fa fa-search"
                                 update="@form"

                                 actionListener="#{extratoControlador.recuperarLancamentos()}"/>


            </h:panelGrid>

            <p:tabView id="tabView">
                <p:tab title="Resumo">
                    <h:panelGrid columns="2">
                        <h:outputText value="Total de #{extratoControlador.descricaoTipo1}:"/>
                        <h:outputText value="#{extratoControlador.somaContaPagar}" converter="moedaConverter"
                                      styleClass="negrito"/>

                        <h:outputText value="Total de #{extratoControlador.descricaoTipo2}:"/>
                        <h:outputText value="#{extratoControlador.somaContaReceber}" converter="moedaConverter"
                                      styleClass="negrito"/>

                        <h:outputText value="Saldo da Conta:"/>
                        <h:outputText value="#{extratoControlador.saldoConta}" converter="moedaConverter"
                                      styleClass="negrito"/>
                    </h:panelGrid>
                    <p:separator/>
                    <h:panelGrid columns="2">
                        <h:outputText value="Total:" style="padding-right: 150px"/>
                        <h:outputText value="#{extratoControlador.saldoFinal}" converter="moedaConverter"
                                      styleClass="negrito"/>
                    </h:panelGrid>
                </p:tab>
                <p:tab title="Receitas/Pagamentos">
                    <p:dataTable value="#{extratoControlador.lancamentos}"
                                 id="tabelaLancamento"
                                 styleClass="mrg-top10"
                                 emptyMessage="Não foram localizados registros"
                                 var="objeto">
                        <f:facet name="header">
                            <h:outputText value="Lançamentos"/>
                        </f:facet>

                        <p:column headerText="Data"
                                  filterBy="#{objeto.dataLancamento}"
                                  sortBy="#{objeto.dataLancamento}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{objeto.dataLancamento}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Histórico"
                                  filterBy="#{objeto.historico}"
                                  sortBy="#{objeto.historico}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{objeto.historico}"/>
                        </p:column>
                        <p:column headerText="Referência"
                                  filterBy="#{objeto.referencia}"
                                  sortBy="#{objeto.referencia}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{objeto.referencia}"/>
                        </p:column>
                        <p:column headerText="Débito"
                                  filterBy="#{objeto.valor}"
                                  sortBy="#{objeto.valor}"
                                  filterMatchMode="contains"
                                  style="text-align: right!important;">
                            <h:outputText value="#{objeto.valor}" converter="moedaConverter"
                                          rendered="#{objeto.tipoOperacao eq 'DEBITO'}"
                                          styleClass="negrito-vermelho"/>
                        </p:column>
                        <p:column headerText="Crédito"
                                  filterBy="#{objeto.valor}"
                                  sortBy="#{objeto.valor}"
                                  style="text-align: right!important;"
                                  filterMatchMode="contains">
                            <h:outputText value="#{objeto.valor}" converter="moedaConverter"
                                          rendered="#{objeto.tipoOperacao eq 'CREDITO'}"
                                          styleClass="negrito-verde"/>
                        </p:column>
                    </p:dataTable>

                    <h1 style="text-align: right!important;">Saldo da Conta:
                        <h:outputText value="#{extratoControlador.saldoConta}" converter="moedaConverter"/>
                    </h1>
                </p:tab>
                <p:tab title="#{extratoControlador.descricaoTipo1}">
                    <p:dataTable value="#{extratoControlador.contasAPagar}"
                                 styleClass="mrg-top10"
                                 emptyMessage="Não foram localizados registros"
                                 var="objeto">
                        <f:facet name="header">
                            <h:outputText value="Lançamentos"/>
                        </f:facet>
                        <p:column headerText="Visualizar" style="width: 5%!important;">
                            <p:button
                                styleClass="btn btn-inverse icone-30 button-live"
                                title="Clique para visualizar os detalhes deste registro."
                                icon="fa fa-search"
                                href="/admin/contas-pagar/ver/#{objeto.id}/"/>
                        </p:column>
                        <p:column headerText="Data"
                                  filterBy="#{objeto.dataVencimento}"
                                  sortBy="#{objeto.dataVencimento}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{objeto.dataVencimento}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Descrição"
                                  filterBy="#{objeto.descricao}"
                                  sortBy="#{objeto.descricao}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{objeto.descricao}"/>
                        </p:column>
                        <p:column headerText="Pessoa"
                                  filterBy="#{objeto.pessoa}"
                                  sortBy="#{objeto.pessoa}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{objeto.pessoa}"/>
                        </p:column>
                        <p:column headerText="Valor"
                                  filterBy="#{objeto.valor}"
                                  sortBy="#{objeto.valor}"
                                  filterMatchMode="contains"
                                  style="text-align: right!important;">
                            <h:outputText value="#{objeto.valor}" converter="moedaConverter"/>
                        </p:column>
                    </p:dataTable>
                    <h1 style="text-align: right!important;">Total:
                        <h:outputText value="#{extratoControlador.somaContaPagar}" converter="moedaConverter"/>
                    </h1>
                </p:tab>
                <p:tab title="#{extratoControlador.descricaoTipo2}">
                    <p:dataTable value="#{extratoControlador.contasReceber}"
                                 styleClass="mrg-top10"
                                 emptyMessage="Não foram localizados registros"
                                 var="objeto">
                        <f:facet name="header">
                            <h:outputText value="Lançamentos"/>
                        </f:facet>
                        <p:column headerText="Visualizar" style="width: 5%!important;">
                            <p:button
                                styleClass="btn btn-inverse icone-30 button-live"
                                title="Clique para visualizar os detalhes deste registro."
                                icon="fa fa-search"
                                href="/admin/contas-receber/ver/#{objeto.id}/"/>
                        </p:column>
                        <p:column headerText="Data"
                                  filterBy="#{objeto.dataVencimento}"
                                  sortBy="#{objeto.dataVencimento}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{objeto.dataVencimento}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Descrição"
                                  filterBy="#{objeto.descricao}"
                                  sortBy="#{objeto.descricao}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{objeto.descricao}"/>
                        </p:column>
                        <p:column headerText="Pessoa"
                                  filterBy="#{objeto.pessoa}"
                                  sortBy="#{objeto.pessoa}"
                                  filterMatchMode="contains">
                            <h:outputText value="#{objeto.pessoa}"/>
                        </p:column>
                        <p:column headerText="Valor"
                                  filterBy="#{objeto.valor}"
                                  sortBy="#{objeto.valor}"
                                  filterMatchMode="contains"
                                  style="text-align: right!important;">
                            <h:outputText value="#{objeto.valor}" converter="moedaConverter"/>
                        </p:column>
                    </p:dataTable>
                    <h1 style="text-align: right!important;">Total:
                        <h:outputText value="#{extratoControlador.somaContaReceber}" converter="moedaConverter"/>
                    </h1>
                </p:tab>
            </p:tabView>

        </h:form>

    </ui:define>
</ui:composition>
</html>

