<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{agenciaControlador.id == null ? 'Novo' : 'Editar'} Agência
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">

            <h:panelGrid columns="2">

                <fc:labelObrigatorio para="codigo" value="Número:"/>
                <p:inputText value="#{agenciaControlador.selecionado.numero}"
                             id="codigo"
                             maxlength="15"
                             styleClass="maiuscula"
                             onkeyup="maiuscula(this.id)"
                             title="Digite o código da Agência."/>

                <fc:labelObrigatorio para="nome" value="Descrição:"/>
                <p:inputText value="#{agenciaControlador.selecionado.descricao}"
                             id="nome"
                             size="60"
                             maxlength="255"
                             styleClass="maiuscula"
                             onkeyup="maiuscula(this.id)"
                             title="Digite a descrição da Agência."/>

                <fc:labelObrigatorio para="banco" value="Banco:"/>
                <fc:completar controller="#{bancoControlador}" title="Selecione um banco"
                              value="#{agenciaControlador.selecionado.banco}" id="banco"/>
            </h:panelGrid>

            <fc:rodapePadrao controlador="#{agenciaControlador}"/>
        </h:form>

    </ui:define>
</ui:composition>
</html>

