<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{configuracaoFinanceiraControlador.id == null ? 'Nova' : 'Editar'} Configuração Financeira
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">

            <h:panelGrid columns="2">
                <fc:labelObrigatorio para="email" value="Email:"/>
                <p:inputText value="#{configuracaoFinanceiraControlador.selecionado.email}"
                             id="email"
                             size="60"
                             title="Digite o email da Configuração."/>

                <fc:labelObrigatorio para="token" value="Token:"/>
                <p:inputText value="#{configuracaoFinanceiraControlador.selecionado.token}"
                             id="token"
                             size="60"
                             title="Digite o token da Configuração."/>

                <fc:labelObrigatorio para="apikey" value="ApiKey:"/>
                <p:inputText value="#{configuracaoFinanceiraControlador.selecionado.apiKey}"
                             id="apikey"
                             size="60"
                             title="Digite o apikey da Configuração."/>

                <fc:labelObrigatorio para="partners_id" value="Partners_id:"/>
                <p:inputText value="#{configuracaoFinanceiraControlador.selecionado.partners_id}"
                             id="partners_id"
                             size="60"
                             title="Digite o partners_id da Configuração."/>

                <p:outputLabel for ="urlNotificacao" value="Url Notificação:"/>
                <p:inputText value="#{configuracaoFinanceiraControlador.selecionado.urlNotificacao}"
                             id="urlNotificacao"
                             size="60"
                             title="Digite a urlNotificacao da Configuração."/>

            </h:panelGrid>

            <fc:rodapePadrao controlador="#{configuracaoFinanceiraControlador}"/>

        </h:form>

    </ui:define>
</ui:composition>
</html>

