<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{cargoControlador.selecionado.id == null ? 'Novo' : 'Editar'} Cadastro de Cargo
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Dados do Cargo</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Descrição do Cargo: "/>
                                <p:inputText value="#{cargoControlador.selecionado.descricao}" size="70" maxlength="255"/>

                                <fc:labelObrigatorio value="Tipo de Cargo: "/>
                                <h:selectOneMenu value="#{cargoControlador.selecionado.tipoCargo}">
                                    <f:selectItems value="#{cargoControlador.getTipoCargos()}" />
                                </h:selectOneMenu>
                            </h:panelGrid>
                        </div>

                    </div>
                </div>
            </div>
            <fc:rodapePadrao controlador="#{cargoControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
