<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core"
>

<!-- INTERFACE -->
<cc:interface>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-nav navbar-collapse collapse">
                <h:form id="form-loja">
                    <div class="m-t-md" style="font-size: 20px!important;">
                        <h:outputText value="Loja:" styleClass="font-bold"/>
                        <h:selectOneMenu value="#{homeControlador.lojaCorrente}"
                                         converter="#{lojaControlador.converterAutoComplete}">
                            <f:selectItems value="#{homeControlador.lojasUsuario}"/>
                            <p:ajax event="valueChange"
                                    onstart="abrirStatusDialog()"
                                    update="@all"
                                    process="@all"
                                    oncomplete="location.reload();fechaStatusDialog()"/>
                        </h:selectOneMenu>
                    </div>
                </h:form>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Bem vindo a <strong>GLEAC</strong>.
                    <script type="text/javascript">
                data = new Date();
                dia = data.getDate();
                mes = data.getMonth();
                ano = data.getFullYear();

                meses = new Array(12);

                meses[0] = "Janeiro";
                meses[1] = "Fevereiro";
                meses[2] = "Março";
                meses[3] = "Abril";
                meses[4] = "Maio";
                meses[5] = "Junho";
                meses[6] = "Julho";
                meses[7] = "Agosto";
                meses[8] = "Setembro";
                meses[9] = "Outubro";
                meses[10] = "Novembro";
                meses[11] = "Dezembro";

                document.write(+dia + " de " + meses[mes] + " de " + ano);
            </script>
                    </span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i> <span
                        class="label label-primary">#{homeControlador.numeroNotificacao}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <h:form id="form-notificacao">
                            <c:if test="#{homeControlador.numeroNotificacao eq 0 }">
                                Nenhuma notificação!
                            </c:if>
                            <c:if test="#{homeControlador.numeroNotificacao gt 0 }">
                                <ui:repeat value="#{homeControlador.notificacoes}" var="noti">
                                    <li>
                                        <p:commandButton
                                            onclick="abrirStatusDialog()"
                                            oncomplete="fechaStatusDialog();location.reload();"
                                            icon="fa  fa-check"
                                            styleClass="btn btn-primary pull-left m-t"
                                            style="height: 30px"
                                            actionListener="#{homeControlador.marcarNotificacaoVisualizada(noti)}"/>
                                        <a href="#{noti.link}">
                                            <div>

                                                <i class="fa #{noti.tipoNotificacao.icon} fa-fw"></i>
                                                #{noti.mensagem}
                                                <span class="pull-right text-muted small">
                                            <h:outputText value="#{noti.data}">
                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                            </h:outputText>
                                        </span>

                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                </ui:repeat>
                            </c:if>
                        </h:form>
                    </ul>
                </li>

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">#{homeControlador.usuarioComSaudacao}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#{request.contextPath}/admin/usuario/alterar-senha/#{homeControlador.usuario.id}/"
                               onclick="aguarde()" class="button-search m-t m-l-xs"> <i class="fa fa-user"
                                                                                        aria-hidden="true"></i> Alterar Senha</a>
                        </li>
                        <li>
                            <a href="${request.contextPath}/j_spring_security_logout"
                               class="button-search m-t m-l-xs"> <i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>


</cc:implementation>
</html>
