<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute name="title" required="true"/>
    <cc:attribute name="value" required="true"/>
    <cc:attribute name="controller" required="true" type="br.com.gleac.supers.AbstractController"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <p:autoComplete id="obj" title="#{cc.attrs.title}"
                    value="#{cc.attrs.value}"
                    completeMethod="#{cc.attrs.controller.completarEstaEntidade}"
                    var="ob"
                    queryDelay="0"
                    effectDuration="0"
                    itemLabel="#{ob}"
                    itemValue="#{ob}"
                    size="50"
                    onkeyup="maiuscula(this.id)"
                    onfocus="this.select()"
                    onclick="this.select()"
                    maxResults="20"
                    converter="#{cc.attrs.controller.converterAutoComplete}"/>
</cc:implementation>
</html>
