<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute name="controlador" required="true"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>

    <h:panelGrid columns="3" style="width: 100%">
        <h:commandLink target="_blank"
                       actionListener="#{cc.attrs.controlador.imprimirPDF}"
                       value="PDF"
                       title="Clique para gerar em PDF"
                       styleClass="link-discreto">
            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icons/pdf.png"/>
        </h:commandLink>

        <h:commandLink
                ajax="false"
                value="EXCEL"
                title="Clique para gerar em EXCEL"
                styleClass="link-discreto">
            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icons/excel.png"/>
            <p:fileDownload value="#{cc.attrs.controlador.imprimirExcel()}"/>
        </h:commandLink>


        <h:commandLink
                ajax="false"
                value="TEXTO"
                title="Clique para gerar em TEXTO"
                styleClass="link-discreto">
            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/icons/text.png"/>
            <p:fileDownload value="#{cc.attrs.controlador.gerarTexto()}"/>
        </h:commandLink>


    </h:panelGrid>
</cc:implementation>
</html>
