<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite">

<!-- INTERFACE -->
<cc:interface>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>

    <!--&lt;!&ndash;calendar&ndash;&gt;-->
    <h:outputScript library="js" name="locales-primefaces.js"/>


    <h:outputStylesheet library="css" name="bootstrap.css"/>
    <h:outputStylesheet library="css" name="style.css"/>
    <h:outputStylesheet library="css" name="style_1.css"/>
    <h:outputStylesheet library="css" name="plugins/dataTables/datatables.min.css"/>
    <h:outputStylesheet library="css" name="animate.css"/>
    <h:outputStylesheet library="font-awesome" name="css/font-awesome.css"/>

    <!--Biblioteca 'jquery-ui-1.10.4.min.js' comentada para funcionamento correto do componente <p:fileUpload>-->
    <!--<h:outputScript library="js" name="jquery-2.1.1.js"/>-->
    <!--<h:outputScript library="js" name="bootstrap.min.js"/>
    <h:outputScript library="js" name="plugins/metisMenu/jquery.metisMenu.js"/>
    <h:outputScript library="js" name="plugins/slimscroll/jquery.slimscroll.js"/>
    &lt;!&ndash;Biblioteca 'jquery-ui-1.10.4.min.js' comentada para funcionamento correto do componente <p:calendar>&ndash;&gt;
    &lt;!&ndash;<h:outputScript library="js" name="jquery-ui-1.10.4.min.js"/>&ndash;&gt;
    <h:outputScript library="js" name="plugins/dataTables/datatables.min.js"/>
    <h:outputScript library="js" name="inspinia.js"/>
    <h:outputScript library="js" name="bootstrap.js"/>-->


    <script src="/resources/js/bootstrap.min.js"></script>
    <script src="/resources/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/resources/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/resources/js/plugins/dataTables/datatables.min.js"></script>

    <script src="/resources/js/inspinia.js"></script>


    <script src="/resources/js/function-sge.js"></script>
    <h:outputScript library="js" name="Chart.min.js"/>

</cc:implementation>
</html>
