<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>

<!-- INTERFACE -->
<cc:interface>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>

    <nav class="navbar-default navbar-static-side animated fadeInLeft" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <div style="text-align: center">
                            <c:if test="#{homeControlador.usuario.arquivo eq null}">
                                <img
                                    src="#{facesContext.externalContext.requestContextPath}/resources/images/no_user.png"
                                    alt="image" class="img-circle" style="text-align: center!important;"/>
                            </c:if>
                            <c:if test="#{homeControlador.usuario.arquivo ne null}">
                                <img
                                    src="#{facesContext.externalContext.requestContextPath}/arquivo?id=#{homeControlador.usuario.arquivo.id}"
                                    alt="image" class="img-circle " style="text-align: center!important;"/>
                            </c:if>

                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong
                                class="font-bold">${homeControlador.getUsuario()}</strong>
                             </span> <span class="text-muted text-xs block">Configurações<b
                                class="caret"></b></span> </span> </a>
                        </div>

                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        Gleac
                    </div>
                </li>
                <li class="active"><a href="#{request.contextPath}/admin/home" onclick="aguarde()"><i
                    class="fa fa-home"></i>
                    <span>Home</span></a>
                </li>
                <!--menu-->
                <ui:repeat value="#{homeControlador.moduloSistemaPorUsuario}" var="modulo" >
                    <li>
                        <a>
                        <i class="#{modulo.icone}"></i>
                        <span class="nav-label">#{modulo.descricao}</span>
                        <span class="fa arrow"></span>
                        </a>


                        <!--menu item -->
                        <ul class="nav nav-second-level">

                        <ui:repeat value="#{modulo.recursos}" var="recurso" >
                            <fc:item-menu controller="#{homeControlador}"
                                          descricao="#{recurso.recursoSistema.descricao}"
                                          path="#{recurso.recursoSistema.path}"/>
                        </ui:repeat>
                        </ul>
                    </li>
                </ui:repeat>
            </ul>


        </div>
    </nav>
</cc:implementation>
</html>
