<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute name="controlador" required="true"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <div class="row text-center">
        <p:outputPanel
            rendered="#{cc.attrs.controlador.view.objetos ne null and cc.attrs.controlador.view.objetos.size() >0 }">
            <div class="col-md-12">
                <div>
                    <p:commandLink
                        styleClass="#{cc.attrs.controlador.botaoSelecionado(1)}"
                        actionListener="#{cc.attrs.controlador.alterarQuantidadeDeRegistrosPara(1)}"
                        onclick="aguarde()"
                        oncomplete="fechaAguarde()"
                        update="@form">
                        1
                    </p:commandLink>
                    <p:commandLink
                        styleClass="#{cc.attrs.controlador.botaoSelecionado(10)}"
                        actionListener="#{cc.attrs.controlador.alterarQuantidadeDeRegistrosPara(10)}"
                        onclick="aguarde()"
                        oncomplete="fechaAguarde()"
                        update="@form">
                        10
                    </p:commandLink>
                    <p:commandLink
                        styleClass="#{cc.attrs.controlador.botaoSelecionado(25)}"
                        actionListener="#{cc.attrs.controlador.alterarQuantidadeDeRegistrosPara(25)}"
                        onclick="aguarde()"
                        oncomplete="fechaAguarde()"
                        update="@form">
                        25
                    </p:commandLink>
                    <p:commandLink
                        styleClass="#{cc.attrs.controlador.botaoSelecionado(50)}"
                        actionListener="#{cc.attrs.controlador.alterarQuantidadeDeRegistrosPara(50)}"
                        onclick="aguarde()"
                        oncomplete="fechaAguarde()"
                        update="@form">
                        50
                    </p:commandLink>
                    <p:commandLink

                        actionListener="#{cc.attrs.controlador.alterarQuantidadeDeRegistrosPara(cc.attrs.controlador.totalDeRegistrosExistentes)}"
                        styleClass="#{cc.attrs.controlador.botaoSelecionado(cc.attrs.controlador.totalDeRegistrosExistentes)}"
                        onclick="aguarde()"
                        oncomplete="fechaAguarde()"
                        update="@form">
                        TODOS
                    </p:commandLink>
                </div>
                <div class="text-muted text-center">

                        <h:outputText value="Total de Registros: "/>
                        <h:outputText value="#{cc.attrs.controlador.totalDeRegistrosExistentes}"
                                      styleClass="negrito"/>

                </div>
            </div>
            <div class="col-sm-12">
                <div class="text-center">
                    <ul class="pagination">
                        <li class="paginate_button previous">
                            <p:commandLink
                                actionListener="#{cc.attrs.controlador.mostrarPrimeirosRegistros}"
                                onclick="aguarde()"
                                title="Clique para mostrar os #{cc.attrs.controlador.view.maximoRegistrosTabela} primeiros registros."
                                disabled="#{cc.attrs.controlador.desabilitarBotaoPrimeiro()}"
                                oncomplete="fechaAguarde()"
                                update="@form">
                                <i class="fa fa-backward"></i>
                                Primeira
                            </p:commandLink>
                        </li>
                        <li class="paginate_button previous">
                            <p:commandLink
                                disabled="#{cc.attrs.controlador.desabilitarBotaoPrimeiro()}"
                                title="Clique para mostrar os #{cc.attrs.controlador.view.maximoRegistrosTabela} registros anteriores."
                                actionListener="#{cc.attrs.controlador.anteriores()}"
                                onclick="aguarde()"
                                oncomplete="fechaAguarde()"
                                update="@form">
                                <i class="fa fa-step-backward"></i>
                                Anterior
                            </p:commandLink>
                        </li>

                        <li class="paginate_button">
                            <p:commandLink
                                disabled="#{cc.attrs.controlador.desabilitarBotaoUtilmo()}"
                                actionListener="#{cc.attrs.controlador.proximos}"
                                onclick="aguarde()"
                                title="Clique para mostrar os próximos #{cc.attrs.controlador.view.maximoRegistrosTabela} registros."
                                oncomplete="fechaAguarde()"
                                update="@form">
                                Próxima
                                <i class="fa fa-step-forward"></i>
                            </p:commandLink>

                        </li>

                        <li id="DataTables_Table_0_next" tabindex="0" aria-controls="DataTables_Table_0"
                            class="paginate_button next">
                            <p:commandLink
                                disabled="#{cc.attrs.controlador.desabilitarBotaoUtilmo()}"
                                actionListener="#{cc.attrs.controlador.mostrarUltimosRegistros}"
                                title="Clique para mostrar os últimos #{cc.attrs.controlador.view.maximoRegistrosTabela}  registros."
                                onclick="aguarde()"
                                oncomplete="fechaAguarde()"
                                update="@form">
                                <i class="fa fa-forward"></i>
                                Última
                            </p:commandLink>
                        </li>
                    </ul>
                </div>
            </div>
        </p:outputPanel>
    </div>
</cc:implementation>
</html>
