<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="controlador" required="true"/>
        <cc:attribute name="mostrarEditar" default="true" type="java.lang.Boolean" required="false" />
        <cc:attribute name="mostrarImprimir" default="false" type="java.lang.Boolean" required="false" />
        <cc:attribute name="actionImprimir"  method-signature="void execute()" required="false" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:button value="Editar"
                         title="Clique para editar este registro."
                         icon="fa fa-edit"
                         onclick="abrirStatusDialog() "
                         oncomplete="fechaStatusDialog()"
                         rendered="#{cc.attrs.mostrarEditar}"
                         styleClass="button-search m-t m-l-xs"
                         href="#{cc.attrs.controlador.selecionado.caminhoPadrao}editar/#{cc.attrs.controlador.selecionado.id}/"/>

        <p:commandButton value="Excluir"
                         title="Clique para remover este registro."
                         icon="fa fa-trash"
                         styleClass="button-excluir m-t m-l-xs"
                         actionListener="#{cc.attrs.controlador.excluir()}"
                         rendered="#{cc.attrs.controlador.mostrarBotaoExcluir(request)}"
                         onstart="abrirStatusDialog() "
                         oncomplete="fechaStatusDialog()"
                         onclick="if (!confirm('Deseja excluir este registro?'))
                                     return false;"/>

        <p:commandButton value="Voltar"
                         styleClass="button-clean m-t m-l-xs"
                         icon="fa fa-close"
                         immediate="true"
                         onclick="abrirStatusDialog() "
                         oncomplete="fechaStatusDialog()"
                         actionListener="#{cc.attrs.controlador.navegarEmbora()}"/>


        <h:commandLink target="_blank"
                       rendered="#{cc.attrs.mostrarImprimir}"
                       actionListener="#{cc.attrs.actionImprimir}"
                       title="Clique para imprimir o relatório."
        >
            <p:commandButton value="Imprimir"
                             ajax="false"
                             update="@form"
                             icon="fa fa-print"
                             styleClass="button-back m-t m-l-xs"
                             title="Clique para imprimir o relatório.">

            </p:commandButton>
        </h:commandLink>


    </cc:implementation>
</html>
