<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
>

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute name="controlador" required="true"/>
    <cc:attribute name="navegaEmboraVoltar" required="false" method-signature="void execute()" default="null"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <div class="row">
        <p:commandButton value="Salvar"
                         onclick="abrirStatusDialog() "
                         oncomplete="fechaStatusDialog()"
                         icon="fa  fa-save"
                         ajax="false"
                         styleClass="button-search m-t m-l-xs"
                         rendered="#{cc.attrs.controlador.mostrarBotaoSalvar(request)}"
                         style="outline: none"
                         actionListener="#{cc.attrs.controlador.salvar()}"
        />

        <p:commandButton value="Voltar"
                         onclick="abrirStatusDialog() "
                         oncomplete="fechaStatusDialog()"
                         styleClass="button-clean m-t m-l-xs"
                         icon="fa fa-close"
                         immediate="true"
                         style="outline: none"
                         ajax="false"
                         action="#{cc.attrs.controlador.navegarEmbora()}"
        />

    </div>
</cc:implementation>
</html>
