<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://java.sun.com/jsf/composite"
>

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute name="value" required="true"/>
    <cc:attribute name="controlador" required="true"/>
    <cc:attribute name="controladorPesquisa" required="true"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <h:panelGrid columns="2">
        <p:selectOneMenu value="#{cc.attrs.value}" style="width: 400px"
                         rendered="#{cc.attrs.rendered}"
                         converter="#{cc.attrs.controladorPesquisa.converterAutoComplete}">
            <f:selectItems value="#{cc.attrs.controladorPesquisa.objetosSelectItem}"/>
            <p:ajax event="change"
                    update="@form"
                    onstart="aguarde();"
                    oncomplete="fechaAguarde();"
                    listener="#{cc.attrs.controlador.filtrar()}"/>
        </p:selectOneMenu>

        <p:commandButton icon="ui-icon-search" styleClass="mrg-lef05 icone-30"
                         rendered="#{cc.attrs.rendered}"
                         id="btnProcurar#{rowlx}"/>

        <p:overlayPanel id="panelProcurar#{rowlx}" for="btnProcurar#{rowlx}" hideEffect="fade">
            <p:selectOneListbox value="#{cc.attrs.value}"
                                style="width: 400px"
                                filter="true"
                                filterMatchMode="contains"
                                converter="#{cc.attrs.controladorPesquisa.converterAutoComplete}">
                <f:selectItems value="#{cc.attrs.controladorPesquisa.objetosSelectItem}"/>
                <p:ajax event="change"
                        update="@form"
                        onstart="aguarde();"
                        oncomplete="fechaAguarde();"
                        listener="#{cc.attrs.controlador.filtrar()}"/>
            </p:selectOneListbox>
        </p:overlayPanel>
    </h:panelGrid>
</cc:implementation>
</html>
