<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
      xmlns:cc="http://java.sun.com/jsf/composite">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute name="controlador" required="true"
                  type="br.com.gleac.supers.AbstractController"/>
    <cc:attribute name="mostrarNovo" required="false" type="java.lang.Boolean" default="true"/>
    <cc:attribute name="mostrarEditar" required="false" type="java.lang.Boolean" default="true"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>

    <div>
        <div>
            <p:accordionPanel activeIndex="3" id="filtros">
                <p:tab title="Pesquisar Por">
                    <ui:repeat value="#{cc.attrs.controlador.view.parametros}" var="parametro">
                        <div class="form-group col-sm-3">
                            <h:outputText value="#{parametro.label}:"
                                          style="font-weight: bold !important;"/>
                        </div>

                        <div class="form-group col-sm-7">
                            <p:inputText value="#{parametro.valor}"
                                         rendered="#{parametro.tipoComponente eq 'STRING'}"
                                         size="60"
                                         styleClass="maiuscula"
                                         onkeyup="maiuscula(this.id)"
                                         title="Informe o filtro de #{parametro.label}."/>


                            <p:calendar value="#{parametro.valor}"
                                        title="Informe o filtro de #{parametro.label}."
                                        rendered="#{parametro.tipoComponente eq 'DATA'}"
                                        locale="pt"
                                        onkeyup="mascara(this, mdata)"
                                        autocomplete="off" pattern="dd/MM/yyyy" size="10" maxlength="10"
                                        navigator="true"
                                        showButtonPanel="true"/>

                            <h:panelGroup rendered="#{parametro.tipoComponente eq 'DATA_BETWEEN'}">
                                <p:calendar value="#{parametro.valor}"
                                            title="Informe o filtro de #{parametro.label}."
                                            locale="pt"
                                            onkeyup="mascara(this, mdata)"
                                            autocomplete="off" pattern="dd/MM/yyyy" size="10" maxlength="10"
                                            navigator="true"
                                            showButtonPanel="true"/>
                                à
                                <p:calendar value="#{parametro.valor2}"
                                            title="Informe o filtro de #{parametro.label}."
                                            locale="pt"
                                            onkeyup="mascara(this, mdata)"
                                            autocomplete="off" pattern="dd/MM/yyyy" size="10" maxlength="10"
                                            navigator="true"
                                            showButtonPanel="true"/>
                            </h:panelGroup>

                            <p:calendar value="#{parametro.valor}"
                                        title="Informe o filtro de #{parametro.label}."
                                        rendered="#{parametro.tipoComponente eq 'DATA_HORA'}"
                                        locale="pt"
                                        autocomplete="off" pattern="dd/MM/yyyy HH:mm:ss" size="10" maxlength="10"
                                        navigator="true"
                                        showButtonPanel="true"/>

                            <p:calendar value="#{parametro.valor}"
                                        title="Informe o filtro de #{parametro.label}."
                                        rendered="#{parametro.tipoComponente eq 'HORA'}"
                                        locale="pt"
                                        autocomplete="off" pattern="HH:mm:ss" size="10" maxlength="10"
                                        navigator="true"
                                        showButtonPanel="true"/>

                            <fc:completar controller="#{parametro.controlador}"
                                          title="Informe o filtro de #{parametro.label}."
                                          value="#{parametro.valor}"
                                          rendered="#{parametro.tipoComponente eq 'AUTO_COMPLETE'}"/>

                            <fc:selectMenu value="#{parametro.valor}"
                                           rendered="#{parametro.tipoComponente eq 'SELECT_MENU'}"
                                           controladorPesquisa="#{parametro.controlador}"
                                           controlador="#{cc.attrs.controlador}"/>

                            <h:selectOneMenu rendered="#{parametro.tipoComponente eq 'SELECT_MENU_ENUM'}"
                                             value="#{parametro.valor}">
                                <f:selectItems value="#{parametro.valoresEnum}"/>
                                <p:ajax event="valueChange" update="@form" process="@form"/>
                            </h:selectOneMenu>
                        </div>
                    </ui:repeat>
                </p:tab>
            </p:accordionPanel>

            <p:button value="Novo"
                      href="#{cc.attrs.controlador.caminhoNovo}"
                      icon="fa fa-plus"
                      rendered="#{cc.attrs.mostrarNovo}"
                      style="outline: none"
                      styleClass="btn btn-w-m button-live m-xs">
            </p:button>

            <p:commandButton value="Pesquisar"
                             update="@form"
                             process="@form"
                             onclick="abrirStatusDialog()"
                             oncomplete="fechaStatusDialog()"
                             actionListener="#{cc.attrs.controlador.pesquisar()}"
                             icon="fa fa-search"
                             styleClass="btn button-search m-xs"
                             title="Clique para filtrar."/>

            <p:commandButton value="Limpar"
                             update="@form"
                             process="@form"
                             onclick="abrirStatusDialog()"
                             oncomplete="fechaStatusDialog()"
                             actionListener="#{cc.attrs.controlador.limparFiltros()}"
                             icon="fa fa-file-o"
                             styleClass="btn button-clean m-xs"
                             title="Clique para limpar filtros."/>

            <p:commandButton value="Imprimir"
                             update="@form"
                             ajax="false"
                             icon="fa fa-print"
                             styleClass="btn button-back m-xs "
                             actionListener="#{cc.attrs.controlador.gerarRelatorioGenerico()}"
                             title="Clique para imprimir o relatório."/>

            <p:commandButton value="Gerar Excel"
                             ajax="false"
                             icon="fa fa-file-excel-o"
                             id="bt-gerar-excel"
                             styleClass="btn button-clean m-xs"
                             title="Clique para fazer o download do arquivo gerado.">
                <p:fileDownload value="#{cc.attrs.controlador.fileDownload()}"/>
            </p:commandButton>

        </div>


        <div id="tabela-geral">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12" style="overflow: hidden">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="card-box table-responsive" style="overflow: hidden">

                                    <table id="tabela" class="table  table-bordered">
                                        <thead>
                                        <th class="centro">#</th>

                                        <ui:repeat value="#{cc.attrs.controlador.view.colunas}"
                                                   var="coluna">
                                            <th class="text-center"> #{coluna.nomeColuna}</th>
                                        </ui:repeat>
                                        <th class="text-center">Ações</th>
                                        </thead>


                                        <tbody>
                                        <ui:repeat value="#{cc.attrs.controlador.view.objetos}"
                                                   varStatus="var"
                                                   var="objeto">
                                            <tr>
                                                <td style="width: 2%!important;"><h5>#{var.index+1}</h5></td>

                                                <ui:repeat value="#{objeto.colunas}"
                                                           var="coluna">
                                                    <td><h:outputText value="#{coluna.valor.toString()}"
                                                                      escape="false" styleClass="link-discreto"/></td>
                                                </ui:repeat>
                                                <td class="text-center">
                                                    <p:button
                                                        styleClass="btn btn-inverse icone-30 button-live"
                                                        title="Clique para visualizar os detalhes deste registro."
                                                        icon="fa fa-search"
                                                        rendered="#{cc.attrs.controlador.mostrarBotaoVisualizacao(request)}"
                                                        href="../ver/#{objeto.id}/"/>

                                                    <p:button icon="fa fa-edit"
                                                              rendered="#{cc.attrs.controlador.mostrarBotaoEdicao(request)}"
                                                              styleClass="btn btn-round btn-primary  icone-30 button-edit mrg-lef05"
                                                              title="Clique para editar este registro."
                                                              href="../editar/#{objeto.id}/"/>
                                                </td>
                                            </tr>
                                        </ui:repeat>

                                        </tbody>
                                    </table>
                                    <fc:paginacao controlador="#{cc.attrs.controlador}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</cc:implementation>
</html>
