<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute name="objetoLista" required="true"
                  type="java.util.List"/>
    <cc:attribute name="id-tabela" required="true" type="java.lang.String"/>

</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <!-- pace -->
    <script src="/resources/css/template/js/pace/pace.min.js"></script>
    <script>
        var handleDataTableButtons = function () {
                    "use strict";
                    0 !== $("#datatable-buttons").length and $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [{
                            extend: "copy",
                            className: "btn-sm"
                        }, {
                            extend: "csv",
                            className: "btn-sm"
                        }, {
                            extend: "excel",
                            className: "btn-sm"
                        }, {
                            extend: "pdf",
                            className: "btn-sm"
                        }, {
                            extend: "print",
                            className: "btn-sm"
                        }],
                        responsive: !0
                    })
                },
                TableManageButtons = function () {
                    "use strict";
                    return {
                        init: function () {
                            handleDataTableButtons()
                        }
                    }
                }();
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });
        });
        TableManageButtons.init();
    </script>
    <!-- Datatables-->
    <script src="/resources/css/template/js/datatables/jquery.dataTables.min.js"></script>
    <script src="/resources/css/template/js/datatables/dataTables.bootstrap.js"></script>
    <script src="/resources/css/template/js/datatables/dataTables.buttons.min.js"></script>
    <script src="/resources/css/template/js/datatables/buttons.bootstrap.min.js"></script>
    <script src="/resources/css/template/js/datatables/jszip.min.js"></script>
    <script src="/resources/css/template/js/datatables/pdfmake.min.js"></script>
    <script src="/resources/css/template/js/datatables/vfs_fonts.js"></script>
    <script src="/resources/css/template/js/datatables/buttons.html5.min.js"></script>
    <script src="/resources/css/template/js/datatables/buttons.print.min.js"></script>
    <script src="/resources/css/template/js/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="/resources/css/template/js/datatables/dataTables.keyTable.min.js"></script>
    <script src="/resources/css/template/js/datatables/dataTables.responsive.min.js"></script>
    <script src="/resources/css/template/js/datatables/responsive.bootstrap.min.js"></script>
    <script src="/resources/css/template/js/datatables/dataTables.scroller.min.js"></script>

    <div class="page-title" role="main">


        <div class="clearfix"></div>
        <div class="separator"/>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">

                                <table id="datatable-keytable" class="table table-striped table-bordered">
                                    <thead>
                                    <th>Ações</th>
                                    <ui:repeat value="#{cc.attrs.controlador.view.colunas}"
                                               var="coluna">
                                        <th> #{coluna.nomeColuna}</th>
                                    </ui:repeat>
                                    </thead>


                                    <tbody>
                                    <!--<ui:repeat value="#{cc.attrs.controlador.view.objetos}"-->
                                               <!--var="objeto">-->
                                        <!--<tr>-->
                                            <!--<td class="centro">-->
                                                <!--<p:button value=""-->
                                                          <!--styleClass="btn btn-warning fa fa-search icone-30-altura"-->
                                                          <!--title="Clique para visualizar os detalhes deste registro."-->
                                                          <!--href="../ver/#{objeto.id}/"/>-->

                                                <!--<p:button value=""-->
                                                          <!--styleClass="btn btn-default fa fa-edit icone-30-altura"-->

                                                          <!--title="Clique para editar este registro."-->
                                                          <!--href="../editar/#{objeto.id}/"/>-->
                                            <!--</td>-->
                                            <ui:repeat value="#{objeto.colunas}"
                                                       var="coluna">
                                                <td><h:outputText value="#{coluna.valor.toString()}"
                                                                  escape="false" styleClass="link-discreto"/></td>
                                            </ui:repeat>
                                        <!--</tr>-->
                                    <!--</ui:repeat>-->

                                    <p:dataTable paginator="true"
                                                 id="tabela-cargo"
                                                 rowStyleClass="#{empty rowIx or rowIx mod 2 ne 0 ? 'linha-selecionada trintaAltura' : 'trintaAltura'}"
                                                 rowIndexVar="rowIx"
                                                 styleClass="mtop05"
                                                 emptyMessage="Não foram localizados registros para serem apresentados"
                                                 value="#{cc.attrs.objetoLista}"
                                                 rows="10"
                                                 paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>CARGOS&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                                 rowsPerPageTemplate="10,25,50,100"
                                                 var="obj">

                                    </p:dataTable>
                                    <ui:repeat value="#{objeto.colunas}" var="coluna">
                                        <td><h:outputText value="#{coluna.valor.toString()}"
                                                          escape="false" styleClass="link-discreto"/></td>
                                    </ui:repeat>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</cc:implementation>
</html>
