<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute name="controlador" required="true"
                  type="br.com.gleac.supers.AbstractController"/>

</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <h3>Detalhes: #{cc.attrs.controlador.selecionado}</h3>
    <table class="table mrg-top10">

        <ui:repeat value="#{cc.attrs.controlador.atributosTabelaveis}" var="atr">
            <tr>
                <td> #{cc.attrs.controlador.getNomeCampo(atr)}</td>
                <td> <h:outputText value="#{cc.attrs.controlador.getValorCampo(atr, cc.attrs.controlador.selecionado)}"
                                   escape="false" styleClass="link-discreto"/></td>
            </tr>
        </ui:repeat>

    </table>

    <fc:rodapePadraoVisualizar controlador="#{cc.attrs.controlador}"/>
</cc:implementation>
</html>
