<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="body">
        <h:form id="Formulario">
            <div class="panel  mrg-top50 well" style="background: white;">
                <p:panel header="Cadastro de Conjugê">
                    <h:panelGrid columns="2">
                        <fc:labelObrigatorio value="Pessoa Física: "/>
                        <p:autoComplete value="#{conjugeControlador.selecionado.pessoaFisica}"
                                        completeMethod="#{conjugeControlador.completarPessoaFisica}"
                                        converter="#{pessoaFisicaControlador.converterAutoComplete}"
                                        var="pf"
                                        itemLabel="#{pf.nome}"
                                        itemValue="#{pf}"
                                        maxlength="20"
                                        maxResults="10"
                                        size="40"/>


                        <fc:labelObrigatorio value="Maçom: "/>
                        <p:autoComplete value="#{conjugeControlador.selecionado.macon}"
                                        completeMethod="#{conjugeControlador.completarMacon}"
                                        converter="#{conjugeControlador.converterMacon}"
                                        var="macon"
                                        itemLabel="#{macon.pessoaFisica.nome}"
                                        itemValue="#{macon}"
                                        maxlength="20"
                                        maxResults="10"
                                        size="40"/>

                    </h:panelGrid>
                </p:panel>
            </div>
            <fc:rodapePadrao controlador="#{conjugeControlador}" />
        </h:form>
    </ui:define>
</ui:composition>
</html>
