<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{entradaEstoqueControlador.id == null ? 'Novo' : 'Editar'} Cadastro de Estoque
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações da Entrada de Estoque</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Data:"/>
                                <p:calendar maxlength="24"
                                            style="text-align: right"
                                            autocomplete="off"
                                            disabled="#{entradaEstoqueControlador.selecionado.id ne null}"
                                            title="Informe a data da entrada do estoque"
                                            value="#{entradaEstoqueControlador.selecionado.data}"
                                            showButtonPanel="true"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="20"/>


                                <fc:labelObrigatorio value="Departamento: "/>
                                <p:autoComplete value="#{entradaEstoqueControlador.selecionado.departamento}"
                                                converter="#{solicitacaoProcessoControlador.converterDepartamento}"
                                                disabled="#{entradaEstoqueControlador.selecionado.id ne null}"
                                                completeMethod="#{solicitacaoProcessoControlador.completarDepartamento}"
                                                var="c"
                                                size="40"
                                                itemValue="#{c}"
                                                itemLabel="#{c}"/>

                                <p:outputLabel for="descricao" value="Descrição: "/>
                                <p:inputText
                                    value="#{entradaEstoqueControlador.selecionado.descricao}"
                                    id="descricao"
                                    disabled="#{entradaEstoqueControlador.selecionado.id ne null}"
                                    size="70"
                                    styleClass="maiuscula"
                                    onkeyup="maiuscula(this.id)"
                                    title="Digite a Descrição da entrada."/>


                                <p:outputLabel for="valor" value="Valor: "/>
                                <p:inputText value="#{entradaEstoqueControlador.selecionado.valor}"
                                             id="valor"
                                             converter="moneyConverter"
                                             size="16"
                                             disabled="#{entradaEstoqueControlador.selecionado.id ne null}"
                                             styleClass="maiuscula"
                                             onclick="this.select();"
                                             onfocus="this.select();"
                                             style="text-align: right"
                                             onkeypress="mascara(this, mvalor);"
                                             title="Digite o valor da nota de entrada."/>

                                <p:outputLabel for="nota" value="Número da Nota: "/>
                                <p:inputText
                                    value="#{entradaEstoqueControlador.selecionado.numeroNota}"
                                    id="nota"
                                    disabled="#{entradaEstoqueControlador.selecionado.id ne null}"
                                    size="70"
                                    styleClass="maiuscula"
                                    onkeyup="maiuscula(this.id)"
                                    title="Digite o Valor da nota de entrada."/>

                                <p:outputLabel for="observacao" value="Observação: "/>
                                <p:inputText
                                    value="#{entradaEstoqueControlador.selecionado.observacao}"
                                    id="observacao"
                                    size="60"
                                    styleClass="maiuscula"
                                    onkeyup="maiuscula(this.id)"
                                    title="Digite a Observação da entrada."/>
                            </h:panelGrid>

                            <p:tabView id="tab-view-geral">
                                <p:tab title="Produto">
                                    <h:panelGrid columns="2" id="grid"  rendered="#{entradaEstoqueControlador.selecionado.id eq null}">
                                        <fc:labelObrigatorio para="produto" value="Produto:"/>
                                        <p:autoComplete value="#{entradaEstoqueControlador.item.produto}"
                                                        id="produto"
                                                        completeMethod="#{entradaEstoqueControlador.completarProduto}"
                                                        converter="#{entradaEstoqueControlador.converterProduto}"
                                                        var="p"
                                                        size="40"
                                                        itemLabel="#{p.descricao}"
                                                        itemValue="#{p.id}"/>

                                        <fc:labelObrigatorio para="quantidade" value="Quantidade:"/>
                                        <p:inputText value="#{entradaEstoqueControlador.item.quantidade}"
                                                     id="quantidade"
                                                     size="20" maxlength="10">
                                        </p:inputText>

                                    </h:panelGrid>
                                    <p:commandButton value="Adicionar"
                                                     icon="ui-icon-circle-plus"
                                                     onclick="aguarde.show()"
                                                     rendered="#{entradaEstoqueControlador.selecionado.id eq null}"
                                                     title="Clique para adicionar o Item"
                                                     oncomplete="aguarde.hide()"
                                                     update=":Formulario:tab-view-geral:grid :Formulario:tab-view-geral:tabelaItens"
                                                     actionListener="#{entradaEstoqueControlador.adicionarItemEntradaEstoque}"/>


                                    <p:dataTable value="#{entradaEstoqueControlador.selecionado.itens}"
                                                 id="tabelaItens"
                                                 styleClass="mrg-top10"
                                                 emptyMessage="Não foram localizados registros"
                                                 var="objeto"
                                                 tableStyleClass="table"
                                                 paginator="true"
                                                 rowIndexVar="rowIx"
                                                 rows="10"
                                                 paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Listas de Itens&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                                 rowsPerPageTemplate="10,25,50,100"
                                                 rowKey="#{objeto}">


                                        <p:column styleClass="text-center" style="width: 150px" rendered="#{entradaEstoqueControlador.selecionado.id eq null}">

                                            <p:commandButton icon="fa fa-edit"
                                                             styleClass="btn mrg-lef05"
                                                             update="@form"
                                                             title="Clique para editar este registro."
                                                             actionListener="#{entradaEstoqueControlador.alterarItemEntradaEstoque(objeto)}"/>

                                            <p:commandButton icon="fa fa-remove"
                                                             styleClass="btn mrg-lef05"
                                                             onclick="if (!confirm('Tem certeza que deseja excluir este registro?')) {
                                                             return false;}"
                                                             title="Clique para excluir este regitros."
                                                             actionListener="#{entradaEstoqueControlador.removerItemEntradaEstoque(objeto)}"
                                                             update="@form"/>
                                        </p:column>


                                        <p:column headerText="Produto"
                                                  filterBy="#{objeto.produto}"
                                                  sortBy="#{objeto.produto}"
                                                  filterMatchMode="contains">
                                            <h:outputText value="#{objeto.produto}"/>
                                        </p:column>

                                        <p:column headerText="Quantidade"
                                                  filterBy="#{objeto.quantidade}"
                                                  sortBy="#{objeto.quantidade}"
                                                  filterMatchMode="contains">
                                            <h:outputText value="#{objeto.quantidade}"/>
                                        </p:column>

                                    </p:dataTable>

                                    <h:panelGrid columns="2">
                                        <p:outputLabel value="Quantidade Total: "/>
                                        <h:outputText
                                            value="#{entradaEstoqueControlador.selecionado.quantidade}"
                                            styleClass="text-primary"/>
                                    </h:panelGrid>
                                </p:tab>
                            </p:tabView>
                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadrao controlador="#{entradaEstoqueControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>


