<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
    <ui:composition template="../../../resources/template/template.xhtml">
        <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
            #{grupoUsuarioControlador.selecionado.id == null ? 'Novo' : 'Editar'}  Grupo de Usuário
        </ui:define>
        <ui:define name="body">
            <script type="text/javascript">
                $('#nav li a').click(function (event) {
                    $(this).parent().find('a.active').removeClass('active');
                    $(this).addClass('active');
                });
            </script>
            <h:form id="Formulario">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab1"> Grupo de Usuário</a></li>
                        <li ><a data-toggle="tab" href="#tab2"> Usuários</a></li>
                        <li ><a data-toggle="tab" href="#tab3"> Grupo de Acessos</a></li>

                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane active">
                            <div class="panel-body">
                                <h:panelGrid columns="2">

                                    <fc:labelObrigatorio para="descricao" value="Descrição:"/>
                                    <p:inputText value="#{grupoUsuarioControlador.selecionado.descricao}"
                                                 id="descricao"
                                                 size="60"
                                                 styleClass="maiuscula"
                                                 onblur="maiuscula(this.id)"
                                                 title="Digite a Descrição do Grupo."/>

                                </h:panelGrid>

                            </div>
                        </div>



                        <div id="tab2" class="tab-pane ">
                            <div class="panel-body">
                                <h:panelGrid columns="3" id="painel-grid-usuario">

                                    <fc:labelObrigatorio para="usuario" value="Usuário:"/>
                                    <h:panelGrid columns="2">
                                        <p:autoComplete value="#{grupoUsuarioControlador.usuario}"
                                                        completeMethod="#{grupoUsuarioControlador.completarUsuarioByLogin}"
                                                        converter="#{grupoUsuarioControlador.converterUsuario}"
                                                        var="ob"
                                                        id="usuario"
                                                        queryDelay="0"
                                                        effectDuration="0"
                                                        itemLabel="#{ob}"
                                                        itemValue="#{ob}"
                                                        size="50"
                                                        onkeyup="maiuscula(this.id)"
                                                        onfocus="this.select()"
                                                        onclick="this.select()"
                                                        maxResults="10">
                                            <p:ajax event="itemSelect" process="@this" update="@this" />

                                        </p:autoComplete>


                                        <p:commandButton icon="fa fa-plus-circle"
                                                         title="Clique para adicionar o Usuário"
                                                         style="margin-left: 5px!important;"
                                                         styleClass="btn  btn-primary  icone-30 button-edit mrg-lef05"
                                                         actionListener="#{grupoUsuarioControlador.adicionarUsuario()}"
                                                         update=":Formulario:painel-usuario :Formulario:painel-grid-usuario :Formulario:usuario"/>
                                    </h:panelGrid>


                                </h:panelGrid>



                                <h:panelGroup id="painel-usuario"  >
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 5%!important;">#</th>
                                            <th style="width: 10%!important;">Ações</th>
                                            <th style="width: 10%!important; text-align: right">Login</th>
                                            <th>Pessoa</th>
                                        </tr>
                                        </thead>
                                        <ui:repeat value="#{grupoUsuarioControlador.selecionado.usuarios}"
                                                   var="usuario"
                                                   varStatus="var">
                                            <tr>
                                                <td style="vertical-align: inherit!important;">
                                                    #{var.index+1}
                                                </td>
                                                <td style="vertical-align: inherit!important;">
                                                    <p:commandButton icon="fa fa-trash"
                                                                     styleClass="btn btn-round btn-primary  icone-30 button-edit mrg-lef05"
                                                                     title="Clique para editar este registro."
                                                                     update=":Formulario:painel-usuario"
                                                                     process="@form"
                                                                     onclick="abrirStatusDialog()"
                                                                     oncomplete="fechaStatusDialog()"
                                                                     actionListener="#{grupoUsuarioControlador.removerUsuario(usuario)}"/>
                                                </td>
                                                <td style="text-align: right; vertical-align: inherit!important;">
                                                    #{usuario.login}
                                                </td>
                                                <td style="vertical-align: inherit!important;">
                                                    #{usuario.pessoa.nomePessoa}
                                                </td>
                                            </tr>
                                        </ui:repeat>
                                    </table>
                                </h:panelGroup>



                             </div>
                        </div>

                        <div id="tab3" class="tab-pane ">
                            <div class="panel-body">
                                <h:panelGrid columns="3" id="painel-grid-grupo-acesso">

                                    <fc:labelObrigatorio para="grupoacesso" value="Grupo de Acesso:"/>
                                    <h:panelGrid columns="2">
                                        <p:autoComplete value="#{grupoUsuarioControlador.grupoAcesso}"
                                                        completeMethod="#{grupoUsuarioControlador.completarGrupoAcesso}"
                                                        converter="#{grupoUsuarioControlador.converterGrupoAcesso}"
                                                        var="grupoAcesso"
                                                        queryDelay="0"
                                                        effectDuration="0"
                                                        itemLabel="#{grupoAcesso}"
                                                        itemValue="#{grupoAcesso}"
                                                        size="50"
                                                        id="grupoacesso"
                                                        onkeyup="maiuscula(this.id)"
                                                        onfocus="this.select()"
                                                        onclick="this.select()"
                                                        maxResults="10">
                                            <p:ajax event="itemSelect" process="@this" update="@this" />

                                        </p:autoComplete>


                                        <p:commandButton icon="fa fa-plus-circle"
                                                         title="Clique para adicionar o Usuário"
                                                         style="margin-left: 5px!important;"
                                                         styleClass="btn  btn-primary  icone-30 button-edit mrg-lef05"
                                                         actionListener="#{grupoUsuarioControlador.adicionarGrupoAcesso()}"
                                                         update=":Formulario:painel-grid-grupo-acesso
                                                          :Formulario:painel-grupo-acesso
                                                          :Formulario:grupoacesso"/>
                                    </h:panelGrid>


                                </h:panelGrid>



                                <h:panelGroup id="painel-grupo-acesso"  >
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 5%!important;">#</th>
                                            <th>Ações</th>
                                            <th >Descrição</th>
                                            <th>Loja</th>
                                            <th>Tipo de Acesso</th>
                                        </tr>
                                        </thead>
                                        <ui:repeat value="#{grupoUsuarioControlador.selecionado.gruposAcessos}"
                                                   var="grupoacesso"
                                                   varStatus="var">
                                            <tr>
                                                <td style="vertical-align: inherit!important;">
                                                    #{var.index+1}
                                                </td>
                                                <td style="vertical-align: inherit!important;">
                                                    <p:commandButton icon="fa fa-trash"
                                                                     styleClass="btn btn-round btn-primary  icone-30 button-edit mrg-lef05"
                                                                     title="Clique para editar este registro."
                                                                     update=":Formulario:painel-grupo-acesso"
                                                                     process="@form"
                                                                     onclick="abrirStatusDialog()"
                                                                     oncomplete="fechaStatusDialog()"
                                                                     actionListener="#{grupoUsuarioControlador.removerGrupoAcesso(grupoacesso)}"/>
                                                </td>
                                                <td>
                                                    #{grupoacesso.descricao}
                                                </td>
                                                <td >
                                                    #{grupoacesso.loja.nome}
                                                </td>
                                                <td>
                                                    #{grupoacesso.grupoAcessoUsuario.descricao}
                                                </td>
                                            </tr>
                                        </ui:repeat>
                                    </table>
                                </h:panelGroup>



                            </div>
                        </div>
                    </div>
                </div>
                <fc:rodapePadrao controlador="#{grupoUsuarioControlador}"/>
            </h:form>
        </ui:define>
    </ui:composition>
    </html>
