<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-file-text fa-1x"></i>
        Gerenciamento de Boleto
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">
            <h:panelGrid columns="2">


                <p:outputLabel for="loja" value="Beneficiário:"/>
                <p:autoComplete id="loja" title="Selecione um Beneficiário"
                                value="#{boletoControlador.filtroBoleto.loja}"
                                completeMethod="#{lojaControlador.completarEstaEntidade}"
                                var="ob"
                                queryDelay="0"
                                effectDuration="0"
                                itemLabel="#{ob}"
                                itemValue="#{ob}"
                                size="60"
                                onkeyup="maiuscula(this.id)"
                                onfocus="this.select()"
                                onclick="this.select()"
                                converter="#{lojaControlador.converterAutoComplete}"/>


                <p:outputLabel for="dataInicial" value="Data Vencimento Inicial:"/>
                <p:calendar id="dataInicial" value="#{boletoControlador.filtroBoleto.dataInicial}"
                            title="Digite a data inicial"
                            locale="pt"
                            autocomplete="off" pattern="dd/MM/yyyy" size="10" maxlength="10"
                            navigator="true"
                            showButtonPanel="true"
                            onkeyup="mascara(this, mdata)"/>

                <p:outputLabel for="data" value="Data Vencimento Final:"/>
                <p:calendar id="data" value="#{boletoControlador.filtroBoleto.dataFinal}"
                            title="Digite a data final"
                            locale="pt"
                            autocomplete="off" pattern="dd/MM/yyyy" size="10" maxlength="10"
                            navigator="true"
                            showButtonPanel="true"
                            onkeyup="mascara(this, mdata)"/>

                <p:outputLabel for="tipo" value="Situação:"/>
                <h:selectOneMenu id="tipo" value="#{boletoControlador.filtroBoleto.situacaoContaPagar}">
                    <f:selectItems value="#{boletoControlador.situacoes}"/>

                </h:selectOneMenu>

                <p:outputLabel for="pessoa" value="Pagador:"/>
                <p:autoComplete id="pessoa" title="Selecione um(a) Pagador(a)"
                                value="#{boletoControlador.filtroBoleto.pessoa}"
                                completeMethod="#{pessoaFisicaControlador.completarTodasPessoa}"
                                var="ob"
                                queryDelay="0"
                                effectDuration="0"
                                itemLabel="#{ob}"
                                itemValue="#{ob}"
                                size="60"
                                onkeyup="maiuscula(this.id)"
                                onfocus="this.select()"
                                onclick="this.select()"
                                converter="#{pessoaFisicaControlador.converterPessoa}"/>
            </h:panelGrid>

            <h:panelGrid columns="4">
                <p:commandButton value="Pesquisar"
                                 onclick="abrirStatusDialog()"
                                 oncomplete="fechaStatusDialog()"
                                 styleClass="button-search m-t m-l-xs"
                                 icon="fa fa-search"
                                 update="@form"
                                 actionListener="#{boletoControlador.recuperarLancamentos()}"/>


                <p:commandButton value="Gerar Carnê de Boletos"
                                 onclick="abrirStatusDialog()"
                                 oncomplete="fechaStatusDialog()"
                                 styleClass="btn btn-round btn-primary  m-t m-l-xs"
                                 icon="fa fa-print"
                                 update="@form"
                                 actionListener="#{boletoControlador.imprimirBoletosAgrupados()}"/>

                <p:button value="Imprimir Carnê"
                          href="#{boletoControlador.urlCarne}"
                          disabled="#{boletoControlador.urlCarne eq null}"
                          icon="fa fa-print"
                          styleClass="button-search m-t m-l-xs"
                          target="_blank"/>

                <p:commandButton value="Limpar"
                                 onclick="abrirStatusDialog()"
                                 oncomplete="fechaStatusDialog()"
                                 styleClass="button-clean m-t m-l-xs"
                                 icon="fa fa-file-text"
                                 update="@form"

                                 actionListener="#{boletoControlador.limpar()}"/>

            </h:panelGrid>

            <div class="row">

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">

                        <p:dataTable value="#{boletoControlador.contasRecebersComBoleto}"
                                     id="tabela-conta2"
                                     styleClass="mrg-top10"
                                     emptyMessage="Não foram localizados registros."
                                     selectionMode="multiple"
                                     selection="#{boletoControlador.boletoSelecionados}"
                                     rowKey="#{bol.id}"
                                     var="bol"
                                     tableStyleClass="table"
                                     paginator="true"
                                     rowIndexVar="rowIx"
                                     rows="10"
                                     paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>BOLETOS&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                     rowsPerPageTemplate="10,25,50,100">

                            <p:column headerText="Data" style="text-align:center">
                                <h:outputText value="#{bol.boleto.dataTransacao}" styleClass="text-selecionado">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Vencimento" style="text-align:center">
                                <h:outputText value="#{bol.boleto.dataVencimento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Responsável"
                                      style="text-align:center">
                                <h:outputText value="#{bol.pessoa.nomePessoa}"/>
                            </p:column>
                            <p:column headerText="Loja"
                                      style="text-align:center">
                                <h:outputText value="#{bol.loja.nome}"/>
                            </p:column>
                            <p:column headerText="Tipo" style="text-align:center">
                                <h:outputText value="#{bol.tipoContaPagar.descricao}"/>
                            </p:column>
                            <p:column headerText="Situação" style="text-align:center">
                                <h:outputText value="#{bol.situacaoContaPagar.descricao}"/>
                            </p:column>
                            <p:column headerText="Valor" style="text-align:center">
                                <h:outputText value="#{bol.boleto.valorTotal}" converter="moneyConverter"/>
                            </p:column>
                            <p:column headerText="Baixar" style="text-align:center">
                                <p:button
                                    href="/admin/contas-receber/editar/#{bol.id}/"
                                    icon="fa fa-edit"
                                    styleClass="btn btn-round btn-primary  icone-30 button-edit mrg-lef05"/>
                            </p:column>
                            <p:column headerText="Imprimir" style="text-align:center">
                                <p:button
                                    href="#{bol.boleto.urlPdfPagamento}"
                                    icon="fa fa-print"
                                    styleClass="button-search m-t m-l-xs"
                                    target="_blank"/>
                            </p:column>
                            <p:column headerText="Cancelar" style="text-align:center">
                                <p:commandButton onclick="aguarde"
                                                 oncomplete="fechaAguarde()"
                                                 update=":Formulario:tabela-conta2"
                                                 icon="fa fa-ban"
                                                 styleClass="button-excluir m-t m-l-xs"
                                                 disabled="#{bol.situacaoContaPagar.descricao ne 'Aberta'}"
                                                 actionListener="#{boletoControlador.cancelarBoleto(bol)}"/>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>

            </div>


        </h:form>

    </ui:define>
</ui:composition>
</html>

