<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{lojaControlador.selecionado.id == null ? 'Novo' : 'Editar'} Cadastro de Loja
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Dados Gerais</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Número: "/>
                                <p:inputText value="#{lojaControlador.selecionado.numero}" size="10" maxlength="60"/>

                                <fc:labelObrigatorio value="Nome: "/>
                                <p:inputText value="#{lojaControlador.selecionado.nome}" size="40" maxlength="60"/>

                                <fc:labelObrigatorio value="Fundada em:"/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "

                                            showButtonPanel="true"
                                            title="Digite a data de fundação"
                                            value="#{lojaControlador.selecionado.fundadaEm}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>

                                <fc:labelObrigatorio value="Pessoa Jurídica: "/>
                                <p:autoComplete value="#{lojaControlador.selecionado.pessoaJuridica}"
                                                completeMethod="#{maconControlador.completarPessoaJuridica}"
                                                converter="#{pessoaJuridicaControlador.converterAutoComplete}"
                                                var="pj"
                                                itemLabel="#{pj.nomeFantasia}"
                                                itemValue="#{pj}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="40">
                                    <p:ajax event="itemSelect" update="@form" process="@form"
                                            listener="#{lojaControlador.recuperarPessoa}"/>
                                </p:autoComplete>

                                <fc:labelObrigatorio value="Venerável Mestre: "/>
                                <p:autoComplete value="#{lojaControlador.selecionado.macon}"
                                                completeMethod="#{maconControlador.completarEstaEntidade}"
                                                converter="#{maconControlador.converterAutoComplete}"
                                                var="macon"
                                                itemLabel="#{macon}"
                                                itemValue="#{macon}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="40"/>

                                <fc:labelObrigatorio value="Potência: "/>
                                <p:autoComplete value="#{lojaControlador.selecionado.potencia}"
                                                completeMethod="#{lojaControlador.completarPotencia}"
                                                converter="#{potenciaControlador.converterAutoComplete}"
                                                var="po"
                                                itemLabel="#{po.nome}"
                                                itemValue="#{po}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="40"/>
                            </h:panelGrid>

                            <p:tabView id="tabView">
                                <p:tab title="Departamento">
                                    <h:panelGrid columns="2" id="panel-departamento">
                                        <fc:labelObrigatorio value="Número: "/>
                                        <p:inputText value="#{lojaControlador.departamento.numero}" size="10"
                                                     maxlength="60"/>

                                        <fc:labelObrigatorio value="Nome: "/>
                                        <p:inputText value="#{lojaControlador.departamento.nome}" size="40"
                                                     maxlength="60"/>

                                    </h:panelGrid>
                                    <p:commandButton value="Adicionar"
                                                     actionListener="#{lojaControlador.adicionarDepartamento}"
                                                     icon="fa fa-plus-circle"
                                                     title="clique para adicionar um departamento"
                                                     update=" :Formulario:tabView:panel-departamento
                                                     :Formulario:tabView:tabela-departamento"
                                                     process="@form"/>

                                    <p:dataTable value="#{lojaControlador.selecionado.departamentos}"
                                                 id="tabela-departamento"
                                                 styleClass="mrg-top10"
                                                 emptyMessage="Não foram localizados registros"
                                                 var="departamento"
                                                 tableStyleClass="table"
                                                 paginator="true"
                                                 rowIndexVar="rowIx"
                                                 rows="10"
                                                 paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Departamentos&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                                 rowsPerPageTemplate="10,25,50,100"
                                                 rowKey="#{departamento}">
                                        <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                            <p:commandButton
                                                actionListener="#{lojaControlador.removerDepartamento(departamento)}"
                                                update=":Formulario:tabView:tabela-departamento"
                                                process="@this"
                                                icon="fa fa-remove"/>
                                            <p:commandButton
                                                actionListener="#{lojaControlador.editarDepartamento(departamento)}"
                                                update=":Formulario:tabView:panel-departamento
                                                     :Formulario:tabView:tabela-departamento"
                                                process="@this"
                                                icon="fa fa-edit"/>
                                        </p:column>
                                        <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{departamento.numero}"/>
                                        </p:column>
                                        <p:column headerText="Nome" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{departamento.nome}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:tab>
                                <p:tab title="Contas Bancárias">
                                    <h:panelGrid columns="2" id="panel-conta">
                                        <fc:labelObrigatorio para="numero" value="Número da Conta:"/>
                                        <p:inputText
                                            value="#{lojaControlador.contaCorrente.numero}"
                                            id="numero"
                                            styleClass="maiuscula"
                                            onkeyup="maiuscula(this.id)"
                                            title="Digite o Número da conta."/>

                                        <fc:labelObrigatorio para="nomeConta" value="Nome da Conta:"/>
                                        <p:inputText
                                            value="#{lojaControlador.contaCorrente.nome}"
                                            id="nomeConta"
                                            size="60"
                                            styleClass="maiuscula"
                                            onkeyup="maiuscula(this.id)"
                                            title="Digite o Nome da conta."/>

                                        <fc:labelObrigatorio value="Conta Bancária: "/>
                                        <fc:completar title="Selecione uma conta corrente bancária"
                                                      controller="#{contaCorrenteControlador}"
                                                      value="#{lojaControlador.contaCorrente.contaCorrenteBancaria}"/>

                                        <h:outputLabel value="Principal: "/>
                                        <p:selectBooleanButton onLabel="Sim" offLabel="Não"
                                                               value="#{lojaControlador.contaCorrente.principal}"/>

                                    </h:panelGrid>
                                    <p:commandButton value="Adicionar"
                                                     actionListener="#{lojaControlador.adicionarConta}"
                                                     icon="fa fa-plus-circle"
                                                     title="clique para adicionar uma Conta"
                                                     update=":Formulario:tabView:panel-conta
                                                     :Formulario:tabView:tabela-conta"
                                                     process="@form"/>

                                    <p:dataTable value="#{lojaControlador.selecionado.contas}"
                                                 id="tabela-conta"
                                                 styleClass="mrg-top10"
                                                 emptyMessage="Não foram localizados registros"
                                                 var="conta"
                                                 tableStyleClass="table"
                                                 paginator="true"
                                                 rowIndexVar="rowIx"
                                                 rows="10"
                                                 paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Contas&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                                 rowsPerPageTemplate="10,25,50,100"
                                                 rowKey="#{conta}">
                                        <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                            <p:commandButton
                                                actionListener="#{lojaControlador.removerConta(conta)}"
                                                update=":Formulario:tabView:tabela-conta"
                                                process="@this"
                                                icon="fa fa-remove"/>
                                            <p:commandButton
                                                actionListener="#{lojaControlador.editarConta(conta)}"
                                                update=":Formulario:tabView:panel-conta
                                                     :Formulario:tabView:tabela-conta"
                                                process="@this"
                                                icon="fa fa-edit"/>
                                        </p:column>
                                        <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.numero}"/>
                                        </p:column>
                                        <p:column headerText="Nome" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.nome}"/>
                                        </p:column>
                                        <p:column headerText="Conta" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.contaCorrenteBancaria.numero}"/>
                                        </p:column>
                                        <p:column headerText="Agência" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.contaCorrenteBancaria.agencia.numero}"/>
                                        </p:column>
                                        <p:column headerText="Banco" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.contaCorrenteBancaria.agencia.banco}"/>
                                        </p:column>
                                        <p:column headerText="Principal" styleClass="alinhamentoCentralizado">
                                            <h:outputText
                                                value="#{conta.contaCorrente.principal == null or conta.contaCorrente.principal == false ? 'Não' : 'Sim'}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:tab>
                            </p:tabView>
                        </div>

                    </div>
                </div>
            </div>
            <fc:rodapePadrao controlador="#{lojaControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
