<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-eye fa-1x"></i>
        Visualizar Cadastro de Loja
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Número: "/>
                                <h:outputLabel value="#{lojaControlador.selecionado.numero}"/>

                                <fc:labelObrigatorio value="Nome: "/>
                                <h:outputLabel value="#{lojaControlador.selecionado.nome}"/>

                                <fc:labelObrigatorio value="Fundada em:"/>
                                <h:outputLabel value="#{lojaControlador.selecionado.fundadaEm}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputLabel>

                                <fc:labelObrigatorio value="Pessoa Jurídica: "/>
                                <h:outputLabel value="#{lojaControlador.selecionado.pessoaJuridica}"/>

                                <fc:labelObrigatorio value="Venerável Mestre: "/>
                                <h:outputLabel value="#{lojaControlador.selecionado.macon}"/>

                                <fc:labelObrigatorio value="Potência: "/>
                                <h:outputLabel value="#{lojaControlador.selecionado.potencia}"/>
                            </h:panelGrid>

                            <p:tabView id="tabView">
                                <p:tab title="Departamento">

                                    <p:dataTable value="#{lojaControlador.selecionado.departamentos}"
                                                 id="tabela"
                                                 styleClass="mrg-top10"
                                                 emptyMessage="Não foram localizados registros"
                                                 var="departamento"
                                                 tableStyleClass="table"
                                                 paginator="true"
                                                 rowIndexVar="rowIx"
                                                 rows="10"
                                                 paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Departamentos&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                                 rowsPerPageTemplate="10,25,50,100"
                                                 rowKey="#{departamento}">

                                        <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{departamento.numero}"/>
                                        </p:column>
                                        <p:column headerText="Nome" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{departamento.nome}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:tab>

                            </p:tabView>
                        </div>

                    </div>
                </div>
            </div>
            <fc:rodapePadraoVisualizar controlador="#{lojaControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
