<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components" xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="body">
        <h:form id="Formulario">
            <p:panel header="Cadastro de Documentos Para o Site">
                <h:panelGrid columns="2">
                    <fc:labelObrigatorio value="Tipo de Documento: "/>
                    <h:selectOneMenu value="#{documentoSiteControlador.selecionado.tipoDocumentoSite}">
                        <f:selectItems value="#{documentoSiteControlador.getTipoDocumento()}"/>
                    </h:selectOneMenu>

                    <fc:labelObrigatorio value="Descrição: "/>
                    <p:inputText value="#{documentoSiteControlador.selecionado.descricao}"
                                 size="40" maxlength="30"/>

                    <fc:labelObrigatorio value="Data de Publicação:"/>
                    <p:calendar maxlength="24"
                                style="text-align: right"
                                autocomplete="off"
                                title="Digite a data de publicação do documento"
                                value="#{documentoSiteControlador.selecionado.dataPublicacao}"
                                showButtonPanel="true"
                                locale="pt" navigator="true" pattern="dd/MM/yyyy HH:mm:ss"
                                size="20"/>

                    <fc:labelObrigatorio value="Documento"/>
                    <p:fileUpload auto="true"
                                  update="@form"
                                  process="@form"
                                  label="Selecionar"
                                  id="bt-upload-arquivo"
                                  sizeLimit="15728640"
                                  multiple="false"
                                  invalidSizeMessage="O tamanho do arquivo é inválido, o tamanho do arquivo não pode ser superior a 10Mb."
                                  invalidFileMessage="O tipo do arquivo é inválido."
                                  style="z-index : 0;"
                                  fileUploadListener="#{documentoSiteControlador.handleFileUpload}">
                    </p:fileUpload>
                </h:panelGrid>
            </p:panel>
            <fc:rodapePadrao controlador="#{documentoSiteControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
