<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components" xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="body">
        <h:form id="Formulario">
            <p:panel header="Cadastro de Documentos Para o Site">
                <h:panelGrid columns="2">
                    <fc:labelObrigatorio value="Tipo de Documento: "/>
                    <h:outputLabel value="#{documentoSiteControlador.selecionado.tipoDocumentoSite}"/>

                    <fc:labelObrigatorio value="Descrição: "/>
                    <h:outputLabel value="#{documentoSiteControlador.selecionado.descricao}"/>

                    <fc:labelObrigatorio value="Data de Publicação:"/>
                    <h:outputLabel value="#{documentoSiteControlador.selecionado.dataPublicacao}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                    </h:outputLabel>

                    <fc:labelObrigatorio value="Documento:"/>
                    <h:outputLabel value="#{documentoSiteControlador.selecionado.arquivo.nome} ">
                        <p:commandButton
                            icon="fa fa-download"
                            styleClass="mrg-top10"
                            title="Clique para fazer download"
                            update="@form"
                            ajax="false">
                            <p:fileDownload value="#{documentoSiteControlador.selecionado.arquivo.streamedContent}"/>
                        </p:commandButton>
                    </h:outputLabel>

                </h:panelGrid>
            </p:panel>
            <fc:rodapePadraoVisualizar controlador="#{documentoSiteControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
