<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components" xmlns:f="http://java.sun.com/jsf/core"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{processoFinanceiroControlador.id == null ? 'Novo' : 'Editar'} Processo Financeiro
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">

            <h:panelGrid columns="2">
                <h:outputLabel value="Gerado Em:"/>
                <h:outputLabel styleClass="negrito"
                               value="#{processoFinanceiroControlador.selecionado.geradoEm}">
                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                </h:outputLabel>

                <fc:labelObrigatorio value="Vencimento Boleto:"/>
                <p:calendar maxlength="24"
                            style="text-align: right"
                            autocomplete="off"
                            disabled="#{processoFinanceiroControlador.selecionado.id ne null}"
                            mindate="#{processoFinanceiroControlador.selecionado.geradoEm}"
                            title="Informe a data de vencimento do boleto do processo financeiro"
                            value="#{processoFinanceiroControlador.selecionado.vencimentoBoleto}"
                            showButtonPanel="true"
                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                            size="20"/>

                <fc:labelObrigatorio para="solicitacao" value="Solicitação Financeira:"/>
                <p:autoComplete id="solicitacao"
                                disabled="#{processoFinanceiroControlador.selecionado.id ne null}"
                                value="#{processoFinanceiroControlador.selecionado.solicitacaoProcesso}"
                                completeMethod="#{processoFinanceiroControlador.completarSolicitacaoProcesso}"
                                converter="#{processoFinanceiroControlador.converterSolicitacaoProcesso}"
                                var="p"
                                size="80"
                                itemLabel="#{p}"
                                itemValue="#{p}">
                    <p:ajax event="itemSelect" update="@form"/>
                </p:autoComplete>
            </h:panelGrid>

            <p:separator/>
            <p:outputPanel
                rendered="#{processoFinanceiroControlador.selecionado.solicitacaoProcesso ne null and processoFinanceiroControlador.selecionado.solicitacaoProcesso.tipoSolicitacao eq 'SERVICO'}">
                <h:outputText value="Serviço:"/>
                <h:outputText value="#{processoFinanceiroControlador.selecionado.solicitacaoProcesso.servico}"
                              styleClass="negrito"/>
            </p:outputPanel>

            <p:outputPanel
                rendered="#{processoFinanceiroControlador.selecionado.solicitacaoProcesso ne null and processoFinanceiroControlador.selecionado.solicitacaoProcesso.tipoSolicitacao eq 'PRODUTO'}">
                <p:dataTable
                    value="#{processoFinanceiroControlador.selecionado.solicitacaoProcesso.solicitacaoProdutos}"
                    id="tabela-itens"
                    styleClass="mrg-top10"
                    emptyMessage="Não foram localizados registros"
                    var="cc"
                    tableStyleClass="table"
                    paginator="true"
                    rowIndexVar="rowIx"
                    rows="10"
                    paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Itens da Solicitação&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                    currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                    rowsPerPageTemplate="10,25,50,100"
                    rowKey="#{cc}">
                    <p:column style="text-align: center!important;">
                        <p:outputLabel value="#{cc.produto.descricao}"/>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
            <br/>
            <p:outputPanel
                rendered="#{processoFinanceiroControlador.selecionado.boleto ne null}">
                <div class="panel panel-info mrg-top50 well" style="background: white;">
                    <h2 class="font-bold">Boleto</h2>


                    <h:panelGrid columns="2">
                        <h:outputText value="Transação:"/>
                        <h:outputText value="#{processoFinanceiroControlador.selecionado.boleto.idTransacao}"
                                      styleClass="font-bold"/>
                        <h:outputText value="Situação:"/>
                        <h:outputText value="#{processoFinanceiroControlador.selecionado.boleto.status}"
                                      styleClass="font-bold"/>
                        <h:outputText value="Data da Transação:"/>
                        <h:outputText value="#{processoFinanceiroControlador.selecionado.boleto.dataTransacao}"
                                      styleClass="font-bold">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                        <h:outputText value="Data de Vencimento:"/>
                        <h:outputText value="#{processoFinanceiroControlador.selecionado.boleto.dataVencimento}"
                                      styleClass="font-bold">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </h:panelGrid>

                    <h2 class="font-bold">#{processoFinanceiroControlador.selecionado.boleto.linhaDigitavel}</h2>
                    <h:outputText value="#{processoFinanceiroControlador.selecionado.retorno}" escape="false"/>
                </div>
            </p:outputPanel>

            <h:panelGrid columns="4">
                <p:button value="Imprimir Boleto"
                          href="#{processoFinanceiroControlador.selecionado.boleto.urlPdfPagamento}"
                          icon="fa fa-print"
                          rendered="#{processoFinanceiroControlador.selecionado.boleto ne null}"
                          styleClass="btn btn-primary"
                          target="_blank"/>

                <p:commandButton value="Verificar Boleto"
                                 onclick="aguarde"
                                 oncomplete="fechaAguarde()"
                                 update="@form"
                                 icon="fa  fa-gear"
                                 styleClass="button-save btn-danger m-t"
                                 rendered="#{processoFinanceiroControlador.selecionado.boleto ne null and !processoFinanceiroControlador.selecionado.boleto.isPago()}"
                                 actionListener="#{processoFinanceiroControlador.verificarBoleto()}"/>

                <p:commandButton value="Cancelar Boleto"
                                 onclick="aguarde"
                                 oncomplete="fechaAguarde()"
                                 update="@form"
                                 icon="fa  fa-cancel"
                                 styleClass="button-save btn-danger m-t"
                                 rendered="#{processoFinanceiroControlador.selecionado.boleto ne null and !processoFinanceiroControlador.selecionado.boleto.isPago()}"
                                 actionListener="#{processoFinanceiroControlador.cancelarBoleto()}"/>

                <p:commandButton value="Salvar"
                                 onclick="aguarde.show()"
                                 oncomplete="aguarde.hide()"
                                 icon="fa  fa-save"
                                 styleClass="button-save m-t"
                                 actionListener="#{processoFinanceiroControlador.salvar()}"/>

                <p:commandButton value="Voltar"
                                 styleClass="button-back m-t m-l-xs"
                                 icon="fa fa-close"
                                 immediate="true"
                                 actionListener="#{processoFinanceiroControlador.navegarEmbora()}"/>
            </h:panelGrid>

        </h:form>

    </ui:define>
</ui:composition>
</html>

