<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
>
<ui:composition template="../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-eye fa-1x"></i>
        Relatório de Maçons
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">
            <h:panelGrid columns="2">
                <h:outputLabel value="Loja: "
                               rendered="#{relatorioMaconControlador.lojaGestora}"/>
                <p:autoComplete value="#{relatorioMaconControlador.loja}"
                                rendered="#{relatorioMaconControlador.lojaGestora}"
                                completeMethod="#{relatorioMaconControlador.completarLoja}"
                                converter="#{relatorioMaconControlador.converterLoja}"
                                var="l"
                                size="70"
                                maxResults="10"
                                itemLabel="#{l.toString()}"
                                itemValue="#{l}">
                </p:autoComplete>

                <h:outputLabel value="Grau: "/>
                <h:selectOneMenu value="#{relatorioMaconControlador.grau}">
                    <f:selectItems value="#{relatorioMaconControlador.getGraus()}"/>
                </h:selectOneMenu>

                <h:outputLabel value="Situação: "/>
                <h:selectOneMenu value="#{relatorioMaconControlador.situacao}">
                    <f:selectItems value="#{relatorioMaconControlador.getSituacoes()}"/>
                </h:selectOneMenu>

                <h:outputLabel value="Relatório Simplificado: "/>
                <p:selectBooleanButton onLabel="Sim" offLabel="Não"
                                       value="#{relatorioMaconControlador.versaoSimplificada}">
                    <p:ajax update="Formulario:botoes" process="@this"/>
                </p:selectBooleanButton>
            </h:panelGrid>

            <h:panelGrid columns="3" id="botoes">

                <h:commandLink actionListener="#{relatorioMaconControlador.gerarRelatorio}"
                               target="_blank"
                               id="btGerar">
                    <p:commandButton value="Gerar"
                                     icon="fa fa-print"
                                     ajax="false"
                                     style="width: 120px; height: 20px; min-height: 40px; margin-top: 10px;"
                                     styleClass="btn btn-default m-t mrg-lef05"
                                     id="btGerarRelatorio"/>
                </h:commandLink>

                <p:commandButton value="Gerar Excel"
                                 rendered="#{relatorioMaconControlador.versaoSimplificada}"
                                 icon="fa fa-file-excel-o"
                                 actionListener="#{relatorioMaconControlador.gerarRelatorioExcel}"
                                 style="width: 150px; height: 20px; min-height: 40px; margin-top: 10px;"
                                 styleClass="btn button-default m-t m-l-xs mrg-lef05"
                                 title="Clique para fazer o download do arquivo gerado em excel."/>

                <p:commandButton value="Limpar"
                                 icon="fa fa-refresh"
                                 ajax="false"
                                 update=":formulario"
                                 process="@this"
                                 actionListener="#{relatorioMaconControlador.limparCampos}"
                                 style="width: 120px; height: 20px; min-height: 40px; margin-top: 10px;"
                                 styleClass="btn button-clean m-t m-l-xs"/>
            </h:panelGrid>

            <p:poll interval="1"
                    widgetVar="poll"
                    update=":Formulario :formBarra"
                    listener="#{relatorioMaconControlador.verificarTerminoProcesso()}"
                    autoStart="false"/>
        </h:form>

        <div class="modal fade" id="imprimir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             style="z-index: 10000!important;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Dados Gerados com Sucesso</h4>
                    </div>
                    <div class="modal-body">
                        <h:form id="formBarra">
                            <div class="alert alert-success">
                                <h4>Operação realizada com sucesso!</h4>
                                O Relatório de Maçons está pronto para download.
                            </div>
                            <br/>
                            <h:panelGrid columns="2" style="width: 100%; text-align: center">
                                <p:commandButton value="Download"
                                                 process="@this"
                                                 ajax="false"
                                                 icon="fa fa-file-excel-o"
                                                 styleClass="mrig05 operacao"
                                                 title="Clique para fazer o download do arquivo gerado em excel.">
                                    <p:fileDownload value="#{relatorioMaconControlador.fileDownload()}"/>
                                </p:commandButton>
                                <p:commandButton value="Fechar"
                                                 onclick="imprimir.hide();aguarde.hide();"
                                                 icon="ui-icon-close"
                                                 styleClass="operacao"
                                />
                            </h:panelGrid>
                        </h:form>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>
