<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
    <ui:composition template="../../../resources/template/template.xhtml">
        <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
            #{grupoAcessoControlador.selecionado.id == null ? 'Novo' : 'Editar'}  Grupo de Acesso
        </ui:define>
        <ui:define name="body">
            <script type="text/javascript">
                $('#nav li a').click(function (event) {
                    $(this).parent().find('a.active').removeClass('active');
                    $(this).addClass('active');
                });
            </script>
            <h:form id="Formulario">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab1"> Grupo de Acesso</a></li>
                        <li ><a data-toggle="tab" href="#tab2"> Recursos</a></li>

                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane active">
                            <div class="panel-body">
                                <h:panelGrid columns="2">

                                    <fc:labelObrigatorio para="descricao" value="Descrição:"/>
                                    <p:inputText value="#{grupoAcessoControlador.selecionado.descricao}"
                                                 id="descricao"
                                                 size="60"
                                                 styleClass="maiuscula"
                                                 onblur="maiuscula(this.id)"
                                                 title="Digite a Descrição do Grupo."/>

                                    <fc:labelObrigatorio para="grupo" value="Grupo:"/>
                                    <h:selectOneMenu id="grupo" value="#{grupoAcessoControlador.selecionado.grupoAcessoUsuario}">
                                        <f:selectItems value="#{grupoAcessoControlador.grupos}"/>
                                    </h:selectOneMenu>



                                    <fc:labelObrigatorio para="loja" value="Loja:"/>
                                    <fc:completar id="loja" title="Selecione loja"
                                                  controller="#{lojaControlador}"
                                                  value="#{grupoAcessoControlador.selecionado.loja}"/>


                                </h:panelGrid>

                            </div>
                        </div>



                        <div id="tab2" class="tab-pane ">
                            <div class="panel-body">
                                <h:panelGrid columns="3" id="painel-grid-recursos">

                                    <fc:labelObrigatorio value="Recurso: " />
                                    <p:autoComplete value="#{grupoAcessoControlador.recurso.recursoSistema}"
                                                    completeMethod="#{grupoAcessoControlador.completarRecursoSistema}"
                                                    var="rs"
                                                    itemLabel="#{rs.descricao}"
                                                    itemValue="#{rs}"
                                                    converter="#{grupoAcessoControlador.converterRecursoSistema}"
                                                    maxlength="50"
                                                    size="60"
                                    >
                                        <p:ajax event="itemSelect" process="@this" update="@this" />
                                    </p:autoComplete>
                                    <p:commandButton icon="fa fa-plus-circle"
                                                     style="margin-left: 5px!important;"
                                                     styleClass="btn  btn-primary  icone-30 button-edit mrg-lef05"
                                                      update=":Formulario:painel-recurso :Formulario:painel-grid-recursos" process="@this"
                                                     actionListener="#{grupoAcessoControlador.adicionarRecurso()}"/>


                                </h:panelGrid>



                                <h:panelGroup id="painel-recurso"  >
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 5%!important;" >#</th>
                                            <th style="width: 2%!important;" class="text-left" >Ações</th>
                                            <th style="width: 5%!important;" class="text-center">Descricao</th>
                                            <th style="width: 5%!important;" class="text-center">Cadastrar</th>
                                            <th style="width: 5%!important;" class="text-center">Editar</th>
                                            <th style="width: 5%!important;" class="text-center">Visualizar</th>
                                            <th style="width: 5%!important;" class="text-center">Excluir</th>
                                        </tr>
                                        </thead>
                                        <ui:repeat value="#{grupoAcessoControlador.selecionado.recursos}"
                                                   var="recurso"
                                                   varStatus="var">
                                            <tr>
                                                <td style="vertical-align: inherit!important;">
                                                    #{var.index+1}
                                                </td>
                                                <td style="vertical-align: inherit!important; " class="text-left">
                                                    <p:commandButton icon="fa fa-trash"
                                                                     styleClass="btn btn-round btn-primary  icone-30 button-edit mrg-lef05"
                                                                     title="Clique para editar este registro."
                                                                     update=":Formulario:painel-recurso :Formulario:painel-grid-recursos"
                                                                     onclick="abrirStatusDialog()"
                                                                     oncomplete="fechaStatusDialog()"
                                                                     actionListener="#{grupoAcessoControlador.removerRecurso(recurso)}"/>
                                                </td>
                                                <td class="vertical-center text-center">
                                                    <h:outputText value="#{recurso.recursoSistema.descricao}"/>
                                                </td>
                                                <td class="vertical-center text-center">
                                                    <h:selectBooleanCheckbox value="#{recurso.podeCadastrar}"/>
                                                </td>
                                                <td class="vertical-center text-center">
                                                    <h:selectBooleanCheckbox value="#{recurso.podeEditar}"/>
                                                </td>
                                                <td class="vertical-center text-center">
                                                    <h:selectBooleanCheckbox value="#{recurso.podeVisualizar}"/>
                                                </td>
                                                <td class="vertical-center text-center">
                                                    <h:selectBooleanCheckbox value="#{recurso.podeExcluir}"/>
                                                </td>
                                            </tr>
                                        </ui:repeat>
                                    </table>
                                </h:panelGroup>



                             </div>
                        </div>
                    </div>
                </div>
                <fc:rodapePadrao controlador="#{grupoAcessoControlador}"/>
            </h:form>
        </ui:define>
    </ui:composition>
    </html>
