<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{maconControlador.selecionado.id == null ? 'Novo' : 'Editar'} Cadastro de Maçom
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Dados Gerais</a></li>
                    <li><a data-toggle="tab" href="#tab2"> Documentos</a></li>
                    <li><a data-toggle="tab" href="#tab3"> Histórico do Obreiro</a></li>
                    <li><a data-toggle="tab" href="#tab4"> Histórico Maçônico</a></li>
                    <li><a data-toggle="tab" href="#tab5"> Histórico de Cargo</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <td style="height: auto!important;">

                                <h:panelGrid id="pFoto"
                                             style="float : right; text-align: center;"
                                             columns="1">
                                    <p:graphicImage value="#{request.contextPath}/resources/images/no-logo.png"
                                                    id="oSemFoto"
                                                    width="110"
                                                    rendered="#{maconControlador.exibirSiluetaImagem()}"
                                                    height="150"
                                                    style="height: 150px; text-align: center;"/>

                                    <p:graphicImage cache="false"
                                                    value="#{facesContext.externalContext.sessionMap.get('imagem-foto')}"
                                                    id="oFotoUpload"
                                                    rendered="#{!maconControlador.exibirSiluetaImagem()}"
                                                    width="110"
                                                    height="150"
                                                    style="height: 150px; text-align: center;"/>

                                    <p:fileUpload fileUploadListener="#{maconControlador.carregarFoto}"
                                                  update=":Formulario:pFoto"
                                                  process=":Formulario:pFoto"
                                                  cancelLabel="Cancelar"
                                                  auto="true"
                                                  uploadLabel="Enviar"
                                                  label="Selecionar"
                                                  sizeLimit="15728640"
                                                  id="iBotaoUpload"
                                                  allowTypes="/(\.|\/)(jpe?g|png)$/"
                                                  invalidFileMessage="O tipo do arquivo é inválido.">
                                    </p:fileUpload>
                                </h:panelGrid>
                            </td>
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Pessoa Física: "/>
                                <p:autoComplete value="#{maconControlador.selecionado.pessoaFisica}"
                                                completeMethod="#{maconControlador.completarPessoaFisica}"
                                                converter="#{maconControlador.converterPessoaFisica}"
                                                var="pf"
                                                itemLabel="#{pf.nome}"
                                                itemValue="#{pf}"
                                                maxlength="50"
                                                maxResults="10"
                                                size="50"/>

                                <fc:labelObrigatorio value="Código Cadastral: "/>
                                <p:inputText value="#{maconControlador.selecionado.identificacao}" size="20"
                                             maxlength="20"/>

                                <h:outputLabel value="Grau: "/>
                                <h:selectOneMenu value="#{maconControlador.selecionado.grau}">
                                    <f:selectItems value="#{maconControlador.getGraus()}"/>
                                </h:selectOneMenu>

                                <h:outputLabel value="Situação: "/>
                                <h:selectOneMenu value="#{maconControlador.selecionado.situacao}">
                                    <f:selectItems value="#{maconControlador.getSituacoes()}"/>
                                </h:selectOneMenu>

                                <h:outputLabel value="Licenciamento sem ônus? "/>
                                <p:selectBooleanCheckbox value="#{maconControlador.selecionado.licenciamento}"/>
                            </h:panelGrid>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane">
                        <div class="panel-body">
                            <h:panelGrid columns="2" styleClass="m-t-md">
                                <h:outputLabel value="Documento(s): "/>
                                <p:fileUpload fileUploadListener="#{maconControlador.carregarFileupload}"
                                              label="Selecionar"
                                              cancelLabel="Cancelar"
                                              uploadLabel="Upload"
                                              mode="advanced" dragDropSupport="false"
                                              multiple="true"
                                              allowTypes="/(\.|\/)(pdf|gif|jpe?g|png)$/"
                                              invalidFileMessage="O tipo do arquivo é inválido."/>
                            </h:panelGrid>

                            <p:dataTable
                                value="#{maconControlador.selecionado.documentosMacon}"
                                id="tabela-documentos"
                                styleClass="mrg-top10"
                                emptyMessage="Não foram localizados registros"
                                var="documento"
                                tableStyleClass="table"
                                paginator="true"
                                rowIndexVar="rowIx"
                                rows="10"
                                paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Documentos&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                rowsPerPageTemplate="10,25,50,100">
                                <p:column headerText="Ações" style="width: 20%!important; text-align: center!important;"
                                          styleClass="larguraPequena">
                                    <p:commandButton
                                        actionListener="#{maconControlador.removerDocumentoFornecedor(documento)}"
                                        update=":Formulario:tabela-documentos"
                                        process="@this"
                                        icon="fa fa-trash-o"/>
                                </p:column>
                                <p:column headerText="Nome do Arquivo" style="text-align: center!important;width: auto">
                                    <a target="_blank"
                                       href='${facesContext.externalContext.requestContextPath}/arquivo?id=#{documento.arquivo.id}'>
                                        <h:outputText value="#{documento.arquivo.nome}"/>
                                    </a>
                                </p:column>
                                <p:column headerText="Tipo do Arquivo" style="text-align: center!important;">
                                    <p:outputLabel value="#{documento.arquivo.tipo}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab3" class="tab-pane ">
                        <div class="panel-body">
                            <h:panelGrid columns="2" id="panel-grid-historico-obreiro">
                                <h:outputLabel value="Discriminação: "/>
                                <p:inputText value="#{maconControlador.historicoObreiro.descriminacao}" size="50"
                                             title="Informe uma Discriminação"
                                             maxlength="50"/>

                                <h:outputLabel value="Data do Histórico: "/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "
                                            autocomplete="off"
                                            title="Digite a Data do Histórico"
                                            value="#{maconControlador.historicoObreiro.dataHistorico}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>

                                <h:outputLabel value="Conferido Por: "/>
                                <p:autoComplete value="#{maconControlador.historicoObreiro.conferidor}"
                                                completeMethod="#{maconControlador.completarPessoaFisica}"
                                                converter="#{pessoaFisicaControlador.converterAutoComplete}"
                                                var="obj"
                                                itemLabel="#{obj.nome}"
                                                itemValue="#{obj}"
                                                maxlength="50"
                                                size="50"
                                                queryDelay="1000"
                                                maxResults="10"/>
                            </h:panelGrid>

                            <p:commandButton value="Adicionar"
                                             actionListener="#{maconControlador.adicionarHistoricoObreiro()}"
                                             icon="fa fa-plus-circle"
                                             title="Clique para adicionar ao histórico do obreiro"
                                             update=" :Formulario:panel-grid-historico-obreiro
                                                     :Formulario:tabela-historico-obreiro"
                                             process="@form"/>

                            <p:dataTable value="#{maconControlador.selecionado.historicosObreiro}"
                                         id="tabela-historico-obreiro"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="objeto"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Histórico do Obreiro&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{objeto}">
                                <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                    <p:commandButton
                                        actionListener="#{maconControlador.removerHistoricoObreiro(objeto)}"
                                        update=":Formulario:tabela-historico-obreiro"
                                        process="@this"
                                        icon="fa fa-remove"/>
                                    <p:commandButton actionListener="#{maconControlador.editarHistoricoObreiro(objeto)}"
                                                     update=":Formulario:panel-grid-historico-obreiro
                                                     :Formulario:tabela-historico-obreiro"
                                                     process="@this"
                                                     icon="fa fa-edit"/>
                                </p:column>
                                <p:column headerText="Discriminação" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.descriminacao}"/>
                                </p:column>
                                <p:column headerText="Data do Histórico" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.dataHistorico}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Conferido Por " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.conferidor.nome}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab4" class="tab-pane ">
                        <div class="panel-body">
                            <h:panelGrid columns="2" id="panel-grid-historico-loja">
                                <h:outputLabel value="Situação Histórico: "/>
                                <h:selectOneMenu value="#{maconControlador.historicoMaconico.situacaoHistorico}">
                                    <f:selectItems value="#{maconControlador.situacoesHistorico}"/>
                                </h:selectOneMenu>

                                <fc:labelObrigatorio value="Data: "/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "
                                            autocomplete="off"
                                            styleClass="mrg-top10"
                                            title="Digite a data mudança"
                                            value="#{maconControlador.historicoMaconico.dataHistorico}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>
                                <fc:labelObrigatorio value="Potência: "/>
                                <p:inputText value="#{maconControlador.historicoMaconico.potencia}"
                                             size="50" maxlength="50"/>

                                <h:outputLabel value="Tipo Histórico: "/>
                                <h:selectOneMenu value="#{maconControlador.historicoMaconico.tipoLocalHistorico}">
                                    <f:selectItems value="#{maconControlador.tipoLocalHistorico}"/>
                                    <p:ajax event="change"
                                            process="@form"
                                            update=":Formulario:panel-grid-historico-loja"></p:ajax>
                                </h:selectOneMenu>

                                <fc:labelObrigatorio value="Loja: "/>
                                <p:autoComplete value="#{maconControlador.historicoMaconico.loja}"
                                                completeMethod="#{maconControlador.completarLojaByNome}"
                                                converter="#{lojaControlador.converterAutoComplete}"
                                                var="loja"
                                                itemLabel="#{loja.nome}"
                                                itemValue="#{loja}"
                                                maxResults="10"
                                                id="loja-interna"
                                                rendered="#{maconControlador.historicoMaconico.tipoLocalHistorico eq 'INTERNO'}"
                                                queryDelay="1000"
                                                size="50"/>

                                <p:inputText value="#{maconControlador.historicoMaconico.lojaExterna}" id="loja-externa"
                                             rendered="#{maconControlador.historicoMaconico.tipoLocalHistorico eq 'EXTERNO'}"
                                             size="50" maxlength="50"/>

                                <h:outputLabel value="Observação: "/>
                                <h:panelGrid columns="2">
                                    <p:inputTextarea value="#{maconControlador.historicoMaconico.observacao}"
                                                     rows="4" cols="50"
                                                     maxlength="255"
                                                     counter="contadorObservacao"
                                                     counterTemplate="{0} Caracteres restantes."
                                                     autoResize="false"/>
                                    <h:outputText id="contadorObservacao"
                                                  styleClass="negrito mrig100"
                                                  style="color: #497692"/>
                                </h:panelGrid>
                            </h:panelGrid>

                            <p:commandButton value="Adicionar"
                                             actionListener="#{maconControlador.adicionarHistoricoMaconico()}"
                                             icon="fa fa-plus-circle"
                                             title="clique para adicionar um histórico maçônico em lojas"
                                             update=" :Formulario:panel-grid-historico-loja
                                                      :Formulario:tabela-historico-loja"
                                             process="@form"/>

                            <p:dataTable value="#{maconControlador.selecionado.historicoMaconicos}"
                                         id="tabela-historico-loja"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="objeto"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'> Histórico Maçônico &lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{objeto}">
                                <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                    <p:commandButton
                                        actionListener="#{maconControlador.removerHistoricoMaconico(objeto)}"
                                        update=":Formulario:tabela-historico-loja"
                                        process="@this"
                                        icon="fa fa-remove"/>
                                    <p:commandButton
                                        actionListener="#{maconControlador.editarHistoricoMaconico(objeto)}"
                                        update=":Formulario:panel-grid-historico-loja
                                                      :Formulario:tabela-historico-loja"
                                        process="@this"
                                        icon="fa fa-edit"/>
                                </p:column>
                                <p:column headerText="Loja" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.loja.nome}"
                                                  rendered="#{objeto.tipoLocalHistorico eq 'INTERNO'}"/>
                                    <h:outputText value="#{objeto.lojaExterna}"
                                                  rendered="#{objeto.tipoLocalHistorico eq 'EXTERNO'}"/>
                                </p:column>
                                <p:column headerText="Data" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.dataHistorico}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Tipo Histórico" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.tipoLocalHistorico.descricao}"/>
                                </p:column>
                                <p:column headerText="Situação Histórico" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.situacaoHistorico.descricao}"/>
                                </p:column>
                                <p:column headerText="Potência" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.potencia}"/>
                                </p:column>
                                <p:column headerText="Observação" styleClass="alinhamentoCentralizado">
                                    <div align="justify"><h:outputText value="#{objeto.observacao}"/></div>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab5" class="tab-pane ">
                        <div class="panel-body">
                            <h:panelGrid columns="2" id="panel-grid-historico-cargo">
                                <fc:labelObrigatorio value="Cargo: "/>
                                <p:autoComplete
                                    value="#{maconControlador.historicoCargo.cargo}"
                                    completeMethod="#{maconControlador.completarCargo}"
                                    converter="#{cargoControlador.converterAutoComplete}"
                                    var="obj"
                                    itemLabel="#{obj.getDescricao()}"
                                    itemValue="#{obj}"
                                    maxResults="10"
                                    size="50"
                                    queryDelay="1000"/>

                                <fc:labelObrigatorio value="Tipo de Cargo Exercido: "/>
                                <h:selectOneMenu value="#{maconControlador.historicoCargo.tipoCargoExercido}">
                                    <f:selectItems value="#{maconControlador.getCargosExercidos()}"/>
                                </h:selectOneMenu>

                                <h:outputLabel value="Data Inicial: "/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "
                                            autocomplete="off"
                                            styleClass="mrg-top10"
                                            title="Digite a data inicial"
                                            value="#{maconControlador.historicoCargo.inicioEm}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>

                                <h:outputLabel value="Data Final: "/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "
                                            autocomplete="off"
                                            styleClass="mrg-top10"
                                            title="Digite a data final"
                                            value="#{maconControlador.historicoCargo.fimEm}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>
                            </h:panelGrid>

                            <p:commandButton value="Adicionar"
                                             actionListener="#{maconControlador.adicionarHistoricoCargo()}"
                                             icon="fa fa-plus-circle"
                                             title="clique para adicionar um histórico cargo"
                                             update=" :Formulario:panel-grid-historico-cargo
                                                      :Formulario:tabela-historico-cargo"
                                             process="@form"/>

                            <p:dataTable value="#{maconControlador.selecionado.historicoCargos}"
                                         id="tabela-historico-cargo"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="historico"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'> Histórico de Cargos&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{historico}">
                                <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                    <p:commandButton
                                        actionListener="#{maconControlador.removerHistoricoCargo(historico)}"
                                        update=":Formulario:tabela-historico-cargo"
                                        process="@this"
                                        icon="fa fa-remove"/>
                                    <p:commandButton
                                        actionListener="#{maconControlador.editarHistoricoCargo(historico)}"
                                        update=":Formulario:panel-grid-historico-cargo
                                                      :Formulario:tabela-historico-cargo"
                                        process="@this"
                                        icon="fa fa-edit"/>
                                </p:column>

                                <p:column headerText="Cargo " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{historico.cargo.descricao}"/>
                                </p:column>

                                <p:column headerText="Tipo de Cargo " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{historico.tipoCargoExercido.getDescricao()}"/>
                                </p:column>

                                <p:column headerText="Data Inicial" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{historico.inicioEm}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Data Final" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{historico.fimEm}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadrao controlador="#{maconControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
