<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-eye fa-1x"></i>
        Visualizar Cadastro de Maçom
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Dados Gerais</a></li>
                    <li><a data-toggle="tab" href="#tab2"> Documentos</a></li>
                    <li><a data-toggle="tab" href="#tab3"> Histórico do Obreiro</a></li>
                    <li><a data-toggle="tab" href="#tab4"> Histórico Maçônico</a></li>
                    <li><a data-toggle="tab" href="#tab5"> Histórico de Cargo</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <td style="height: auto!important;">

                                <h:panelGrid id="pFoto"
                                             style="float : right; text-align: center;"
                                             columns="1">
                                    <p:graphicImage value="#{request.contextPath}/resources/images/no-logo.png"
                                                    id="oSemFoto"
                                                    width="110"
                                                    rendered="#{maconControlador.exibirSiluetaImagem()}"
                                                    height="150"
                                                    style="height: 150px; text-align: center;"/>

                                    <p:graphicImage cache="false"
                                                    value="#{facesContext.externalContext.sessionMap.get('imagem-foto')}"
                                                    id="oFotoUpload"
                                                    rendered="#{!maconControlador.exibirSiluetaImagem()}"
                                                    width="110"
                                                    height="150"
                                                    style="height: 150px; text-align: center;"/>
                                </h:panelGrid>
                            </td>

                            <h:panelGrid columns="2">

                                <fc:labelObrigatorio value="Pessoa Física: "/>
                                <h:outputLabel value="#{maconControlador.selecionado.pessoaFisica}"/>

                                <fc:labelObrigatorio value="Código Cadastral: "/>
                                <h:outputLabel value="#{maconControlador.selecionado.identificacao}"/>

                                <h:outputLabel value="Situação: "/>
                                <h:outputLabel value="#{maconControlador.selecionado.situacao.toString()}"/>

                                <h:outputLabel value="Grau: "/>
                                <h:outputLabel value="#{maconControlador.selecionado.grau.toString()}"/>

                            </h:panelGrid>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane">
                        <div class="panel-body">
                            <p:dataTable
                                value="#{maconControlador.selecionado.documentosMacon}"
                                id="tabela-documentos"
                                styleClass="mrg-top10"
                                emptyMessage="Não foram localizados registros"
                                var="documento"
                                tableStyleClass="table"
                                paginator="true"
                                rowIndexVar="rowIx"
                                rows="10"
                                paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Documentos&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                rowsPerPageTemplate="10,25,50,100">
                                <p:column headerText="Nome do Arquivo" style="text-align: center!important;width: auto">
                                    <a target="_blank"
                                       href='${facesContext.externalContext.requestContextPath}/arquivo?id=#{documento.arquivo.id}'>
                                        <h:outputText value="#{documento.arquivo.nome}"/>
                                    </a>
                                </p:column>
                                <p:column headerText="Tipo do Arquivo" style="text-align: center!important;">
                                    <p:outputLabel value="#{documento.arquivo.tipo}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab3" class="tab-pane ">
                        <div class="panel-body">
                            <p:dataTable value="#{maconControlador.selecionado.historicosObreiro}"
                                         id="tabela-historico-obreiro"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="objeto"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Histórico do Obreiro&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{objeto}">

                                <p:column headerText="Discriminação" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.descriminacao}"/>
                                </p:column>

                                <p:column headerText="Data do Histórico" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.dataHistorico}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Conferido Por " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.conferidor.nome}"/>
                                </p:column>

                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab4" class="tab-pane ">
                        <div class="panel-body">
                            <p:dataTable value="#{maconControlador.selecionado.historicoMaconicos}"
                                         id="tabela-historico-loja"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="objeto"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'> Histórico Maçônico &lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{objeto}">
                                <p:column headerText="Loja" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.loja.nome}"
                                                  rendered="#{objeto.tipoLocalHistorico eq 'INTERNO'}"/>
                                    <h:outputText value="#{objeto.lojaExterna}"
                                                  rendered="#{objeto.tipoLocalHistorico eq 'EXTERNO'}"/>
                                </p:column>
                                <p:column headerText="Data" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.dataHistorico}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Tipo Histórico" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.tipoLocalHistorico.descricao}"/>
                                </p:column>
                                <p:column headerText="Situação Histórico" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.situacaoHistorico.descricao}"/>
                                </p:column>
                                <p:column headerText="Potência" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{objeto.potencia}"/>
                                </p:column>
                                <p:column headerText="Observação" styleClass="alinhamentoCentralizado">
                                    <div align="justify"><h:outputText value="#{objeto.observacao}"/></div>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab5" class="tab-pane ">
                        <div class="panel-body">
                            <p:dataTable value="#{maconControlador.selecionado.historicoCargos}"
                                         id="tabela-historico-cargo"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="historico"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'> Histórico de Cargos&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{historico}">

                                <p:column headerText="Cargo " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{historico.cargo.descricao}"/>
                                </p:column>

                                <p:column headerText="Tipo de Cargo " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{historico.tipoCargoExercido.getDescricao()}"/>
                                </p:column>

                                <p:column headerText="Data Inicial" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{historico.inicioEm}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Data Final" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{historico.fimEm}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadraoVisualizar controlador="#{maconControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
