<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fc="http://java.sun.com/jsf/composite/components">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{parecerSolicitacaoProcessoControlador.id == null ? 'Novo' : 'Editar'} Parecer da Solicitação de Processo
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações do Parecer</a></li>
                    <li><a data-toggle="tab" href="#tab2"> Conferência </a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab1" class="tab-pane active">
                    <div class="panel-body">

                        <h:panelGrid columns="2" styleClass="m-t-md">

                            <h:outputLabel value="Número do Parecer: "/>
                            <h:outputLabel styleClass="negrito"
                                           value="#{parecerSolicitacaoProcessoControlador.selecionado.numero eq null
                                   ? 'Número gerado automaticamente ao salvar'
                                   : parecerSolicitacaoProcessoControlador.selecionado.numero}"/>


                            <h:outputLabel value="Data de Emissão: "/>
                            <h:outputLabel styleClass="negrito"
                                           value="#{parecerSolicitacaoProcessoControlador.selecionado.emitidoEm}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputLabel>

                            <fc:labelObrigatorio value="Solicitação de Processo: "/>
                            <p:autoComplete
                                    value="#{parecerSolicitacaoProcessoControlador.selecionado.solicitacaoProcesso}"
                                    completeMethod="#{parecerSolicitacaoProcessoControlador.completarSolicitacaoProcesso}"
                                    converter="#{parecerSolicitacaoProcessoControlador.converterSolicitacaoProcesso}"
                                    var="p"
                                    size="80"
                                    itemLabel="#{p.toString()}"
                                    itemValue="#{p}">
                                <p:ajax event="itemSelect" update="@this" process="@this"
                                        listener="#{parecerSolicitacaoProcessoControlador.carregarDocumentosToConferencia()}"/>
                            </p:autoComplete>

                            <fc:labelObrigatorio value="Descrição: "/>
                            <p:inputText value="#{parecerSolicitacaoProcessoControlador.selecionado.descricao}"
                                         size="70"/>


                            <fc:labelObrigatorio value="Status do Parecer: "/>
                            <h:selectOneMenu value="#{parecerSolicitacaoProcessoControlador.selecionado.statusParecer}">
                                <f:selectItems value="#{parecerSolicitacaoProcessoControlador.statusDoParecer}"/>
                            </h:selectOneMenu>

                            <fc:labelObrigatorio value="Vencimento Boleto:"
                                                 rendered="#{parecerSolicitacaoProcessoControlador.isGerarProcessoFinanceiro()}"/>
                            <p:calendar maxlength="24"
                                        rendered="#{parecerSolicitacaoProcessoControlador.isGerarProcessoFinanceiro()}"
                                        style="text-align: right"
                                        autocomplete="off"
                                        title="Informe a data de vencimento do boleto do processo financeiro"
                                        value="#{parecerSolicitacaoProcessoControlador.selecionado.vencimentoBoleto}"
                                        showButtonPanel="true"
                                        locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                        size="20"/>
                        </h:panelGrid>

                    </div>
                </div>

                <div id="tab2" class="tab-pane ">
                    <div class="panel-body">
                        <p:dataTable value="#{parecerSolicitacaoProcessoControlador.documentosParecer}"
                                     id="tabela-documentos"
                                     styleClass="mrg-top10"
                                     emptyMessage="Não foram localizados registros"
                                     var="doc"
                                     tableStyleClass="table table-responsive"
                                     paginator="true"
                                     rowIndexVar="rowIx"
                                     rows="10"
                                     paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Documentos&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                     rowsPerPageTemplate="10,25,50,100">
                            <p:column headerText="Formulário" style="text-align: center!important;">
                                <p:outputLabel value="#{doc.formulario.descricao}"/>
                            </p:column>
                            <p:column headerText="Nome Arquivo" style="text-align: center!important;">
                                <p:outputLabel value="#{doc.arquivo.nome}"/>
                            </p:column>
                            <p:column headerText="Tipo Arquivo" style="text-align: center!important;">
                                <p:outputLabel value="#{doc.arquivo.tipo}"/>
                            </p:column>
                            <p:column headerText="Download" style="text-align: center!important;">
                                <p:commandButton
                                        icon="fa fa-download"
                                        styleClass="mrg-top10"
                                        title="Clique para fazer download"
                                        update=":Formulario:tabela-documentos"
                                        ajax="false">
                                    <p:fileDownload value="#{parecerSolicitacaoProcessoControlador.realizarDownloadDocumentoParecer(doc)}" />
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </div>

            <fc:rodapePadrao controlador="#{parecerSolicitacaoProcessoControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
