<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="body">
        <h:form id="Formulario">
            <p:panel header="Cadastro de Palavra Semestral">
                <h:panelGrid columns="2">


                    <fc:labelObrigatorio value="Palavra: "/>
                    <p:inputText value="#{palavraSemestralControlador.selecionado.palavra}"
                                 size="40" maxlength="30"/>

                    <fc:labelObrigatorio value="Data Inicial:"/>
                    <p:calendar maxlength="24"
                                style="text-align: right"
                                autocomplete="off"
                                title="Informe a data inicial de vigência da palavra semestral"
                                value="#{palavraSemestralControlador.selecionado.dataInicial}"
                                showButtonPanel="true"
                                locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                size="20"/>

                    <fc:labelObrigatorio value="Data Final:"/>
                    <p:calendar maxlength="24"
                                style="text-align: right"
                                autocomplete="off"
                                title="Informe a data final de vigência da palavra semestral"
                                value="#{palavraSemestralControlador.selecionado.dataFinal}"
                                showButtonPanel="true"
                                locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                size="20"/>

                </h:panelGrid>
            </p:panel>
            <fc:rodapePadrao controlador="#{palavraSemestralControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
