<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{fornecedorControlador.id == null ? 'Novo' : 'Editar'} Cadastro de Fornecedor
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações do Fornecedor</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Fornecedor: "/>
                                <p:autoComplete value="#{fornecedorControlador.selecionado.pessoa}"
                                                completeMethod="#{fornecedorControlador.completarPessoa}"
                                                converter="#{fornecedorControlador.converterPessoa}"
                                                var="p"
                                                size="70"
                                                maxResults="10"
                                                itemLabel="#{p.toString()}"
                                                itemValue="#{p}">
                                </p:autoComplete>

                                <fc:labelObrigatorio value="Contrato: "/>
                                <p:inputText value="#{fornecedorControlador.selecionado.numeroContrato}"
                                             size="60"
                                             title="Digite o Número do Contrato."/>

                                <fc:labelObrigatorio value="Serviço/Produto: "/>
                                <p:inputText value="#{fornecedorControlador.selecionado.produto}"
                                             size="70"
                                             title="Digite o Serviço/Produto oferecido pelo fornecedor."/>

                                <fc:labelObrigatorio value="Data Inicial: "/>
                                <p:calendar value="#{fornecedorControlador.selecionado.dataInicial}"
                                            locale="pt"
                                            autocomplete="off"
                                            pattern="dd/MM/yyyy"
                                            size="10"
                                            maxlength="10"
                                            navigator="true"
                                            showButtonPanel="true"
                                            onkeyup="mascara(this, mdata)"/>

                                <h:outputLabel value="Data Final: "/>
                                <p:calendar value="#{fornecedorControlador.selecionado.dataFinal}"
                                            locale="pt"
                                            autocomplete="off"
                                            pattern="dd/MM/yyyy"
                                            size="10"
                                            maxlength="10"
                                            navigator="true"
                                            showButtonPanel="true"
                                            onkeyup="mascara(this, mdata)"/>
                            </h:panelGrid>
                            <h:panelGrid columns="2" styleClass="m-t-md">

                                <h:outputLabel value="Documento(s): "/>
                                <p:fileUpload fileUploadListener="#{fornecedorControlador.carregarFileupload}"
                                              label="Selecionar"
                                              cancelLabel="Cancelar"
                                              uploadLabel="Upload"
                                              mode="advanced" dragDropSupport="false"
                                              multiple="true"
                                              allowTypes="/(\.|\/)(pdf|jpe?g|png)$/"
                                              invalidFileMessage="O tipo do arquivo é inválido."/>
                            </h:panelGrid>

                            <p:dataTable
                                value="#{fornecedorControlador.selecionado.documentosFornecedor}"
                                id="tabela-formulario"
                                styleClass="mrg-top10"
                                emptyMessage="Não foram localizados registros"
                                var="documento"
                                tableStyleClass="table"
                                paginator="true"
                                rowIndexVar="rowIx"
                                rows="10"
                                paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Documentos&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                rowsPerPageTemplate="10,25,50,100">
                                <p:column headerText="Ações" style="width: 20%!important; text-align: center!important;"
                                          styleClass="larguraPequena">
                                    <p:commandButton
                                        actionListener="#{fornecedorControlador.removerDocumentoFornecedor(documento)}"
                                        update=":Formulario:tabela-formulario"
                                        process="@this"
                                        icon="fa fa-trash-o"/>
                                </p:column>
                                <p:column headerText="Nome do Arquivo" style="text-align: center!important;width: auto">
                                    <a target="_blank"
                                       href='${facesContext.externalContext.requestContextPath}/arquivo?id=#{documento.arquivo.id}'>
                                        <h:outputText value="#{documento.arquivo.nome}"/>
                                    </a>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadrao controlador="#{fornecedorControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
