<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-eye fa-1x"></i>
        Visualizar Cadastro de Fornecedor
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações do Fornecedor</a></li>
                    <li><a data-toggle="tab" href="#tab2"> Contas Bancárias</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Fornecedor: "/>
                                <h:outputLabel value="#{fornecedorControlador.selecionado.pessoa}" styleClass="negrito"/>

                                <fc:labelObrigatorio value="Contrato: "/>
                                <h:outputLabel value="#{fornecedorControlador.selecionado.numeroContrato}" styleClass="negrito"/>

                                <fc:labelObrigatorio value="Serviço/Produto: "/>
                                <h:outputLabel value="#{fornecedorControlador.selecionado.produto}" styleClass="negrito"/>

                                <fc:labelObrigatorio value="Data Inicial: "/>
                                <h:outputLabel value="#{fornecedorControlador.selecionado.dataInicial}" styleClass="negrito">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputLabel>

                                <h:outputLabel value="Data Final: "/>
                                <h:outputLabel value="#{fornecedorControlador.selecionado.dataFinal}" styleClass="negrito">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputLabel>
                            </h:panelGrid>

                            <p:dataTable
                                value="#{fornecedorControlador.selecionado.documentosFornecedor}"
                                id="tabela-formulario"
                                styleClass="mrg-top10"
                                emptyMessage="Não foram localizados registros"
                                var="documento"
                                tableStyleClass="table"
                                paginator="true"
                                rowIndexVar="rowIx"
                                rows="10"
                                paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Documentos&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                rowsPerPageTemplate="10,25,50,100">
                                <p:column headerText="Nome do Arquivo" style="text-align: center!important;width: auto">
                                    <a target="_blank"
                                       href='${facesContext.externalContext.requestContextPath}/arquivo?id=#{documento.arquivo.id}'>
                                        <h:outputText value="#{documento.arquivo.nome}"/>
                                    </a>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane">
                        <div class="panel-body">
                            <p:dataTable value="#{fornecedorControlador.selecionado.pessoa.contas}"
                                         id="tabela-conta"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="conta"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Contas&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{conta}">
                                <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.numero}"/>
                                </p:column>
                                <p:column headerText="Nome" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.nome}"/>
                                </p:column>
                                <p:column headerText="Agência" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.agencia}"/>
                                </p:column>
                                <p:column headerText="Banco" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.agencia.banco}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadraoVisualizar controlador="#{fornecedorControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
