<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{modeloDocumentoControlador.id == null ? 'Novo' : 'Editar'} Modelo de Documento
    </ui:define>
    <ui:define name="body">
        <script language="javascript" type="text/javascript"
                src="#{facesContext.externalContext.requestContextPath}/resources/js/edit_area/jscripts/tiny_mce/tiny_mce.js"></script>
        <script type="text/javascript">
            tinyMCE.init({
                // General options
                mode: "textareas",
                theme: "advanced",
                plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,visualblocks",
                // Theme options
                theme_advanced_buttons1: "newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
                theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
                theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
                theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,visualblocks",
                theme_advanced_toolbar_location: "top",
                theme_advanced_toolbar_align: "left",
                theme_advanced_statusbar_location: "bottom",
                theme_advanced_resizing: false,
                // Example content CSS (should be your site CSS)
                content_css: "css/content.css",
                // Drop lists for link/image/media/template dialogs
                template_external_list_url: "lists/template_list.js",
                external_link_list_url: "lists/link_list.js",
                external_image_list_url: "lists/image_list.js",
                media_external_list_url: "lists/media_list.js",
                // Style formats
                style_formats: [
                    {title: 'Bold text', inline: 'b'},
                    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                    {title: 'Example 1', inline: 'span', classes: 'example1'},
                    {title: 'Example 2', inline: 'span', classes: 'example2'},
                    {title: 'Table styles'},
                    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                ],
                // Replace values for the template plugin
                template_replace_values: {
                    username: "Some User",
                    staffid: "991234"
                }
            });
        </script>

        <script type="text/javascript">
            function insertAtCursor(valor) {
                try {
                    tinyMCE.execCommand('mceInsertContent', false, valor);
                    tinyMCE.focus();
                } catch (err) {
                }
            }

            function transferirConteudo() {
                var conteudo = tinyMCE.get('modelo2').getContent();
                document.getElementById('Formulario:inputEscondido').value = conteudo;
            }
        </script>
        <h:form id="Formulario">

            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Modelo de Documento</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div id="tab1" class="tab-pane active">
                    <div class="panel-body">

                        <h:panelGrid columns="2" styleClass="m-t-md">
                            <fc:labelObrigatorio para="nome" value="Nome:"/>
                            <p:inputText value="#{modeloDocumentoControlador.selecionado.nome}"
                                         id="nome"
                                         size="60"
                                         styleClass="maiuscula"
                                         onblur="maiuscula(this.id)"
                                         title="Digite o nome desse Modelo de Documento."/>
                        </h:panelGrid>
                        <table style="margin-top: 10px">
                            <tr style="width: 100%">
                                <td style="width: 73%">

                                    <div>
                                        <h:inputHidden id="inputEscondido"
                                                       value="#{modeloDocumentoControlador.selecionado.conteudo}"/>

                                        <textarea id="modelo2"
                                                  name="modelo"
                                                  style="width: 100%;
                                                       height: 400px;
                                                       position: top;
                                                       padding: 0px">
                                            <h:outputText id="modelo"
                                                          value="#{modeloDocumentoControlador.selecionado.conteudo}"/>
                                        </textarea>
                                    </div>

                                </td>
                                <td style="width: 2%"></td>
                                <td style="width: 25%;vertical-align: top">
                                    <p:selectOneMenu
                                            value="#{modeloDocumentoControlador.selecionado.tipoModeloDocumento}">
                                        <f:selectItems value="#{modeloDocumentoControlador.tiposDocumentos}"/>
                                        <p:ajax event="valueChange" update="tabelaTags"/>
                                    </p:selectOneMenu>

                                    <p:dataTable
                                            var="tag"
                                            value="#{modeloDocumentoControlador.tags}"
                                            emptyMessage="Nenhuma Tag encontrada."
                                            selectionMode="single"
                                            rows="12"
                                            paginator="true"
                                            rowKey="#{tag.label}"
                                            paginatorTemplate="{PreviousPageLink} {NextPageLink}"
                                            id="tabelaTags">
                                        <p:column headerText="Nome">
                                            <p:commandLink id="clTagListas"
                                                           immediate="true"
                                                           update="@this"
                                                           process="@form"
                                                           value="#{tag.label}"
                                                           onclick="insertAtCursor( '#{tag.tag}' + ' ')"
                                                           style="text-decoration: none!important">

                                            </p:commandLink>
                                        </p:column>

                                    </p:dataTable>
                                </td>
                            </tr>
                        </table>

                        <p:remoteCommand name="remoteComand" update=":Formulario"
                                         process=":Formulario"/>


                        <p:commandButton value="Salvar"
                                         onclick="transferirConteudo();remoteComand();aguarde.show();"
                                         oncomplete="aguarde.hide()"
                                         icon="fa  fa-save"
                                         ajax="false"
                                         styleClass="button-save m-t"
                                         style="outline: none"
                                         action="#{modeloDocumentoControlador.salvar()}"
                        />
                        <p:commandButton value="Voltar"
                                         styleClass="button-back m-t m-l-xs"
                                         icon="fa fa-close"
                                         immediate="true"
                                         style="outline: none"
                                         ajax="false"
                                         action="#{modeloDocumentoControlador.navegarEmbora()}"
                        />


                    </div>
                </div>
            </div>

        </h:form>

    </ui:define>
</ui:composition>
</html>

