<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head">
        <i class="fa fa-list fa-1x"> </i> Pesquisa de #{pagamentoControlador.nomeEntidade}
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">
            <fc:tabela controlador="#{pagamentoControlador}" />
        </h:form>
    </ui:define>
</ui:composition>
</html>

