<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{paisControlador.selecionado.id == null ? 'Novo' : 'Editar'} Cadastro de País
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2" >

                                <h:outputLabel para="nome" value="Nome:"/>
                                <p:inputText value="#{paisControlador.selecionado.nome}"
                                             id="nome"
                                             size="60"
                                             styleClass="maiuscula"
                                             onblur="maiuscula(this.id)"
                                             title="Digite o nome do país."/>

                                <h:outputLabel para="sigla" value="Sigla:"/>
                                <p:inputText value="#{paisControlador.selecionado.sigla}"
                                             id="sigla"
                                             size="60"
                                             styleClass="maiuscula"
                                             onblur="maiuscula(this.id)"
                                             title="Digite a sigla do país."/>

                                <h:outputLabel para="codigo" value="Código:"/>
                                <p:inputText value="#{paisControlador.selecionado.codigo}"
                                             id="codigo"
                                             size="60"
                                             styleClass="maiuscula"
                                             onblur="maiuscula(this.id)"
                                             title="Digite o código do país."/>
                            </h:panelGrid>
                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadrao controlador="#{paisControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
