<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{receitaControlador.id == null ? 'Nova' : 'Editar'} Receita
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">
            <h:panelGrid columns="2">

                <fc:labelObrigatorio para="data" value="Data de Lançamento:"/>
                <p:calendar id="data" value="#{receitaControlador.selecionado.dataLancamento}"
                            title="Digite a data da Receita"
                            locale="pt"
                            autocomplete="off" pattern="dd/MM/yyyy" size="10" maxlength="10"
                            navigator="true"
                            showButtonPanel="true"/>

                <fc:labelObrigatorio para="loja" value="Loja:"/>
                <p:autoComplete id="loja" title="Selecione uma loja"
                                value="#{receitaControlador.selecionado.loja}"
                                completeMethod="#{lojaControlador.completarEstaEntidade}"
                                var="ob"
                                queryDelay="0"
                                effectDuration="0"
                                itemLabel="#{ob}"
                                itemValue="#{ob}"
                                size="60"
                                onkeyup="maiuscula(this.id)"
                                onfocus="this.select()"
                                onclick="this.select()"
                                converter="#{lojaControlador.converterAutoComplete}">
                    <p:ajax event="itemSelect" update="@form" listener="#{receitaControlador.recuperarLoja}"/>
                </p:autoComplete>


                <fc:labelObrigatorio para="conta" value="Conta:"/>
                <h:selectOneMenu value="#{receitaControlador.selecionado.contaCorrente}"
                                 id="conta"
                                 converter="#{contaCorrenteControlador.converterContaCorrente}">
                    <f:selectItems value="#{receitaControlador.contas}"/>
                </h:selectOneMenu>

                <fc:labelObrigatorio para="nome" value="Descrição:"/>
                <p:inputText value="#{receitaControlador.selecionado.origem}"
                             id="nome"
                             size="60"
                             styleClass="maiuscula"
                             onkeyup="maiuscula(this.id)"
                             title="Digite a descricão da conta."/>

                <fc:labelObrigatorio para="valor" value="Valor:"/>
                <p:inputText value="#{receitaControlador.selecionado.valor}"
                             disabled="#{receitaControlador.selecionado.id ne null}"
                             id="valor"
                             converter="moneyConverter"
                             size="20"
                             styleClass="maiuscula"
                             onclick="this.select();"
                             onfocus="this.select();"
                             style="text-align: right"
                             onkeydown="mascara(this, mvalor);"
                             title="Digite o valor da Conta."/>

                <fc:labelObrigatorio para="formaDePagamento" value="Tipo:"/>
                <h:selectOneMenu id="formaDePagamento" value="#{receitaControlador.selecionado.formaDePagamento}"
                                 style="border: 1px solid; color: grey !important;">
                    <f:selectItems value="#{receitaControlador.formasDePagamento}"/>
                </h:selectOneMenu>

                <p:outputLabel for="observacao" value="Observação"/>
                <p:inputText
                    value="#{receitaControlador.selecionado.observacao}"
                    id="observacao"
                    size="60"
                    styleClass="maiuscula"
                    onkeyup="maiuscula(this.id)"
                    title="Digite a Observação."/>
            </h:panelGrid>

            <fc:rodapePadrao controlador="#{receitaControlador}"/>
        </h:form>

    </ui:define>
</ui:composition>
</html>

