<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{contasReceberControlador.id == null ? 'Novo' : 'Editar'} Conta a Receber
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">

            <h:panelGrid columns="2" id="gridGeral">
                <h:outputText value="Situação:" rendered="#{contasReceberControlador.selecionado.id ne null}"/>
                <h:outputText value="#{contasReceberControlador.selecionado.situacaoContaPagar.descricao}"
                              styleClass="negrito"
                              rendered="#{contasReceberControlador.selecionado.id ne null}"/>

                <fc:labelObrigatorio para="data" value="Data do Vencimento:"/>
                <p:calendar id="data" value="#{contasReceberControlador.selecionado.dataVencimento}"
                            disabled="#{contasReceberControlador.isRegistroEditavel()}"
                            title="Digite a Data da Receita"
                            locale="pt"
                            autocomplete="off" pattern="dd/MM/yyyy" size="10" maxlength="10"
                            navigator="true"
                            showButtonPanel="true"/>

                <fc:labelObrigatorio para="loja" value="Loja:"/>
                <p:autoComplete id="loja" title="Selecione uma loja"
                                value="#{contasReceberControlador.selecionado.loja}"
                                completeMethod="#{lojaControlador.completarEstaEntidade}"
                                var="ob"
                                queryDelay="0"
                                effectDuration="0"
                                itemLabel="#{ob}"
                                itemValue="#{ob}"
                                size="60"
                                onkeyup="maiuscula(this.id)"
                                onfocus="this.select()"
                                onclick="this.select()"
                                converter="#{lojaControlador.converterAutoComplete}"/>

                <fc:labelObrigatorio para="tipo" value="Tipo:"/>
                <h:selectOneMenu id="tipo" value="#{contasReceberControlador.selecionado.tipoContaPagar}"
                                 disabled="#{contasReceberControlador.isRegistroEditavel()}"
                                 style="border: 1px solid; color: grey !important;">
                    <f:selectItems value="#{contasReceberControlador.tipos}"/>
                    <p:ajax event="valueChange"
                            update=":Formulario:gridGeral"
                            process="@this"/>
                </h:selectOneMenu>

                <fc:labelObrigatorio para="pessoa" value="Pessoa:"/>
                <p:autoComplete id="pessoa" title="Selecione uma pessoa"
                                value="#{contasReceberControlador.selecionado.pessoa}"
                                completeMethod="#{pessoaFisicaControlador.completarTodasPessoa}"
                                var="ob"
                                queryDelay="0"
                                effectDuration="0"
                                itemLabel="#{ob}"
                                itemValue="#{ob}"
                                size="60"
                                onkeyup="maiuscula(this.id)"
                                onfocus="this.select()"
                                onclick="this.select()"
                                converter="#{pessoaFisicaControlador.converterPessoa}"/>

                <fc:labelObrigatorio para="nome" value="Descrição:"/>
                <p:inputText value="#{contasReceberControlador.selecionado.descricao}"
                             disabled="#{contasReceberControlador.isRegistroEditavel()}"
                             id="nome"
                             size="60"
                             styleClass="maiuscula"
                             onkeyup="maiuscula(this.id)"
                             title="Digite a descricão da conta."/>

                <fc:labelObrigatorio para="valor" value="Valor:"/>
                <p:inputText value="#{contasReceberControlador.selecionado.valor}"
                             disabled="#{contasReceberControlador.isRegistroEditavel()}"
                             id="valor"
                             converter="moneyConverter"
                             size="20"
                             styleClass="maiuscula"
                             onclick="this.select();"
                             onfocus="this.select();"
                             style="text-align: right"
                             onkeydown="mascara(this, mvalor);"
                             title="Digite o valor da Conta."/>
            </h:panelGrid>

            <h:panelGrid columns="2">
                <fc:rodapePadrao controlador="#{contasReceberControlador}"/>

                <p:commandButton value="Estornar"
                                 title="Clique para estonar este registro."
                                 icon="fa fa-refresh"
                                 styleClass=" btn btn-danger m-l-md mrg-top10"
                                 actionListener="#{contasReceberControlador.estornar()}"
                                 rendered="#{contasReceberControlador.permtiEstornar()}"
                                 onstart="aguarde.show()"
                                 oncomplete="aguarde.hide()"
                                 onclick="if (!confirm('Deseja ESTORNAR este registro?'))return false;"/>

                <p:commandButton value="Receber Conta"
                                 onclick="aguarde.show()"
                                 oncomplete="aguarde.hide()"
                                 styleClass="btn btn-primary m-l-md mrg-top10"
                                 icon="fa fa-floppy-o"
                                 update="@form"
                                 rendered="#{contasReceberControlador.selecionado.situacaoContaPagar eq 'ABERTA' and contasReceberControlador.selecionado.id ne null}"
                                 actionListener="#{contasReceberControlador.receber()}"/>


            </h:panelGrid>

        </h:form>

    </ui:define>
</ui:composition>
</html>

