<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components" xmlns:f="http://java.sun.com/jsf/core"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        Emissão de Boletos
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">
            <h:panelGrid columns="3">

                <fc:labelObrigatorio value="Tipo de taxa: "/>
                <h:selectOneMenu value="#{taxaPercapitaControlador.selecionado.tipoTaxaPercapita}">
                    <f:selectItems value="#{taxaPercapitaControlador.tipos}"/>
                    <p:ajax event="valueChange" update="@form"/>
                </h:selectOneMenu>
                <h:inputHidden/>

                <fc:labelObrigatorio value="Tipo: "/>
                <h:selectOneMenu value="#{taxaPercapitaControlador.selecionado.tipoSolicitacao}">
                    <f:selectItems value="#{taxaPercapitaControlador.tiposSolicitacao}"/>
                    <p:ajax event="valueChange" update="@form"/>
                </h:selectOneMenu>
                <h:inputHidden/>

                <fc:labelObrigatorio value="Serviço: " rendered="#{taxaPercapitaControlador.selecionado.isServico()}"/>
                <p:autoComplete value="#{taxaPercapitaControlador.selecionado.servico}"
                                rendered="#{taxaPercapitaControlador.selecionado.isServico()}"
                                completeMethod="#{taxaPercapitaControlador.completarServico}"
                                converter="#{servicoControlador.converterAutoComplete}"
                                var="p"
                                size="60"
                                itemLabel="#{p.descricao}"
                                itemValue="#{p}">
                    <p:ajax event="itemSelect" update="@form" process="@form" onstart="abrirStatusDialog()"
                            oncomplete="fechaStatusDialog()"
                            listener="#{taxaPercapitaControlador.recuperarLoja}"/>
                </p:autoComplete>
                <h:inputHidden rendered="#{taxaPercapitaControlador.selecionado.isServico()}"/>

                <fc:labelObrigatorio value="Produto: " rendered="#{!taxaPercapitaControlador.selecionado.isServico()}"/>
                <p:autoComplete value="#{taxaPercapitaControlador.selecionado.produto}"
                                completeMethod="#{taxaPercapitaControlador.completarProduto}"
                                rendered="#{!taxaPercapitaControlador.selecionado.isServico()}"
                                converter="#{produtoControlador.converterAutoComplete}"
                                var="p"
                                id="produto"
                                size="40"
                                itemLabel="#{p.descricao}"
                                itemValue="#{p}">
                    <p:ajax event="itemSelect" update="@form" process="@form" onstart="abrirStatusDialog()"
                            oncomplete="fechaStatusDialog()"
                            listener="#{taxaPercapitaControlador.recuperarLoja}"/>
                </p:autoComplete>
                <p:commandButton icon="fa fa-plus-circle"
                                 styleClass="btn btn-round btn-primary  icone-30 button-edit mrg-lef05"
                                 title="Clique para Adicionar o produto."
                                 update="@form"
                                 rendered="#{!taxaPercapitaControlador.selecionado.isServico()}"
                                 process="@form"
                                 onclick="abrirStatusDialog()"
                                 oncomplete="fechaStatusDialog()"
                                 actionListener="#{taxaPercapitaControlador.adicionarProduto}"/>


                <fc:labelObrigatorio value="Forma de Pagamento: "
                                     rendered="#{taxaPercapitaControlador.permitirParcelamento()}"/>
                <h:selectOneMenu value="#{taxaPercapitaControlador.selecionado.formaPagamentoTaxa}"
                                 rendered="#{taxaPercapitaControlador.permitirParcelamento()}">
                    <f:selectItems value="#{taxaPercapitaControlador.formas}"/>
                    <p:ajax event="valueChange" update="@form"/>
                </h:selectOneMenu>
                <h:inputHidden rendered="#{taxaPercapitaControlador.permitirParcelamento()}"/>

                <h:outputLabel value="Loja:" rendered="#{!taxaPercapitaControlador.selecionado.isPorLoja()}"/>
                <fc:labelObrigatorio value="Loja: " rendered="#{taxaPercapitaControlador.selecionado.isPorLoja()}"/>
                <p:autoComplete id="loja" title="Selecione uma loja"
                                value="#{taxaPercapitaControlador.selecionado.loja}"
                                completeMethod="#{lojaControlador.completarEstaEntidade}"
                                var="ob"
                                queryDelay="0"
                                effectDuration="0"
                                itemLabel="#{ob}"
                                disabled="#{taxaPercapitaControlador.selecionado.todasLojas and !taxaPercapitaControlador.selecionado.isPorLoja()}"
                                itemValue="#{ob}"
                                size="60"
                                onkeyup="maiuscula(this.id)"
                                onfocus="this.select()"
                                onclick="this.select()"
                                converter="#{lojaControlador.converterAutoComplete}">
                    <p:ajax event="itemSelect" update="@form" process="@form" onstart="abrirStatusDialog()"
                            oncomplete="fechaStatusDialog()"
                            listener="#{taxaPercapitaControlador.recuperarLoja}"/>
                </p:autoComplete>

                <h:panelGrid columns="2" styleClass="m-l-xs"
                             rendered="#{taxaPercapitaControlador.selecionado.isPorLoja()}">
                    <h:outputText value="Valor Total:"/>
                    <h:outputText value="#{taxaPercapitaControlador.valor}" styleClass="negrito"
                                  converter="moedaConverter"/>
                </h:panelGrid>

                <h:panelGrid columns="2" styleClass="m-l-xs"
                             rendered="#{!taxaPercapitaControlador.selecionado.isPorLoja()}">
                    <h:outputText value="Todas as Lojas?"/>
                    <p:selectBooleanCheckbox styleClass="m-l-xs"
                                             value="#{taxaPercapitaControlador.selecionado.todasLojas}">
                        <p:ajax event="valueChange" update="loja"/>
                    </p:selectBooleanCheckbox>
                </h:panelGrid>

                <h:outputLabel value="Maçom:" rendered="#{!taxaPercapitaControlador.selecionado.isPorLoja()}"/>
                <p:autoComplete id="macon" title="Selecione um Maçom"
                                value="#{taxaPercapitaControlador.selecionado.macon}"
                                completeMethod="#{taxaPercapitaControlador.completarMacons}"
                                var="ob"
                                queryDelay="1000"
                                effectDuration="0"
                                itemLabel="#{ob}"
                                rendered="#{!taxaPercapitaControlador.selecionado.isPorLoja()}"
                                disabled="#{taxaPercapitaControlador.selecionado.todosMacon}"
                                itemValue="#{ob}"
                                size="60"
                                onkeyup="maiuscula(this.id)"
                                onfocus="this.select()"
                                onclick="this.select()"
                                converter="#{maconControlador.converterAutoComplete}">
                    <p:ajax event="itemSelect" update="@form" process="@form"/>
                </p:autoComplete>

                <h:panelGrid columns="3" rendered="#{!taxaPercapitaControlador.selecionado.isPorLoja()}">
                    <p:commandButton icon="fa fa-plus-circle"
                                     styleClass="btn btn-round btn-primary  icone-30 button-edit mrg-lef05"
                                     title="Clique para Adicionar o Maçom."
                                     update="@form"
                                     rendered="#{taxaPercapitaControlador.selecionado.macon ne null}"
                                     process="@form"
                                     onclick="abrirStatusDialog()"
                                     oncomplete="fechaStatusDialog()"
                                     actionListener="#{taxaPercapitaControlador.adicionarMacon}"/>

                    <h:outputText styleClass="m-l-xs" value="Todos os Maçons?"/>
                    <p:selectBooleanCheckbox styleClass="m-l-xs"
                                             value="#{taxaPercapitaControlador.selecionado.todosMacon}">
                        <p:ajax event="valueChange" update="macon buscarMacons" process="@this"/>
                    </p:selectBooleanCheckbox>
                </h:panelGrid>


                <fc:labelObrigatorio para="data" value="Data de Vencimento:"/>
                <p:calendar id="data" value="#{taxaPercapitaControlador.selecionado.dataVencimento}"
                            title="Digite a data de vencimento da conta"
                            locale="pt"
                            mindate="#{taxaPercapitaControlador.getMinimaDataVencimento()}"
                            autocomplete="off" pattern="dd/MM/yyyy" size="10" maxlength="10"
                            navigator="true"
                            showButtonPanel="true"/>
                <h:inputHidden/>


            </h:panelGrid>

            <h:panelGrid columns="3">
                <p:commandButton value="Buscar Maçons"
                                 id="buscarMacons"
                                 disabled="#{!taxaPercapitaControlador.selecionado.todosMacon}"
                                 rendered="#{!taxaPercapitaControlador.selecionado.isPorLoja()}"
                                 onclick="abrirStatusDialog()"
                                 oncomplete="fechaStatusDialog()"
                                 styleClass="btn button-search m-xs"
                                 icon="fa fa-search"
                                 update="@form"

                                 actionListener="#{taxaPercapitaControlador.recuperarMacon()}"/>

                <p:commandButton value="Gerar Boleto"
                                 onclick="abrirStatusDialog()"
                                 oncomplete="fechaStatusDialog()"
                                 styleClass="btn btn-success m-xs"
                                 icon="fa fa-save"
                                 update="@form"
                                 actionListener="#{taxaPercapitaControlador.gerarTaxas()}"/>

                <p:commandButton value="Gerar Carnê de Boletos"
                                 rendered="false"
                                 onclick="abrirStatusDialog()"
                                 oncomplete="fechaStatusDialog()"
                                 styleClass="btn btn-round btn-primary  m-t m-l-xs"
                                 icon="fa fa-print"
                                 update="@form"
                                 actionListener="#{taxaPercapitaControlador.imprimirBoletosAgrupados()}"/>

                <p:button value="Imprimir Carnê"
                          rendered="false"
                          href="#{taxaPercapitaControlador.urlCarne}"
                          disabled="#{taxaPercapitaControlador.urlCarne eq null}"
                          icon="fa fa-print"
                          styleClass="button-search m-t m-l-xs"
                          target="_blank"/>

                <p:commandButton value="Limpar"
                                 update="@form"
                                 process="@form"
                                 onclick="abrirStatusDialog()"
                                 oncomplete="fechaStatusDialog()"
                                 actionListener="#{taxaPercapitaControlador.instanciarCampos()}"
                                 icon="fa fa-file-o"
                                 styleClass="btn button-clean m-xs"
                                 title="Clique para limpar filtros."/>

            </h:panelGrid>

            <p:outputPanel rendered="#{!taxaPercapitaControlador.selecionado.isPorLoja()}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 5%!important;">#</th>
                        <th style="width: 10%!important;">Ações</th>
                        <th style="width: 10%!important; text-align: right">Código</th>
                        <th>Maçom</th>
                    </tr>
                    </thead>
                    <ui:repeat value="#{taxaPercapitaControlador.selecionado.macons}"
                               var="macon"
                               varStatus="var">
                        <tr>
                            <td>
                                #{var.index+1}
                            </td>
                            <td>
                                <p:commandButton icon="fa fa-trash"
                                                 styleClass="btn btn-round btn-primary  icone-30 button-edit mrg-lef05"
                                                 title="Clique para remover este registro."
                                                 update="@form"
                                                 process="@form"
                                                 onclick="abrirStatusDialog()"
                                                 oncomplete="fechaStatusDialog()"
                                                 actionListener="#{taxaPercapitaControlador.removerMacon(macon)}"/>
                            </td>
                            <td style="text-align: right">
                                #{macon.identificacao}
                            </td>
                            <td>
                                #{macon.pessoaFisica.nome}
                            </td>
                        </tr>
                    </ui:repeat>
                </table>
            </p:outputPanel>

            <p:outputPanel rendered="#{!taxaPercapitaControlador.selecionado.isServico()}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 5%!important;">#</th>
                        <th style="width: 10%!important;">Ações</th>
                        <th>Produto</th>
                        <th style="width: 10%!important; text-align: right">Valor</th>
                    </tr>
                    </thead>
                    <ui:repeat value="#{taxaPercapitaControlador.selecionado.produtos}"
                               var="produto"
                               varStatus="varStatus">
                        <tr>
                            <td>
                                #{varStatus.index+1}
                            </td>
                            <td>
                                <p:commandButton icon="fa fa-trash"
                                                 styleClass="btn btn-round btn-primary  icone-30 button-edit mrg-lef05"
                                                 title="Clique para remover este registro."
                                                 update="@form"
                                                 process="@form"
                                                 onclick="abrirStatusDialog()"
                                                 oncomplete="fechaStatusDialog()"
                                                 actionListener="#{taxaPercapitaControlador.removerProduto(produto)}"/>
                            </td>
                            <td>
                                #{produto.descricao}
                            </td>
                            <td style="text-align: right">
                                <h:outputText value="#{produto.valorAtual}" converter="moneyConverter"/>
                            </td>
                        </tr>
                    </ui:repeat>
                </table>
            </p:outputPanel>

            <p:outputPanel rendered="#{!empty taxaPercapitaControlador.selecionado.mensagens}">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 5%!important;">#</th>
                        <th>Registros com Erro</th>
                    </tr>
                    </thead>
                    <ui:repeat value="#{taxaPercapitaControlador.selecionado.mensagens}"
                               var="mensagem"
                               varStatus="indice">
                        <tr>
                            <td>
                                #{indice.index+1}
                            </td>
                            <td>
                                #{mensagem}
                            </td>
                        </tr>
                    </ui:repeat>
                </table>
            </p:outputPanel>

        </h:form>

    </ui:define>
</ui:composition>
</html>

