<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{pessoaFisicaControlador.selecionado.id == null ? 'Novo' : 'Editar'} Cadastro de Pessoa Física
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Dados Pessoais</a></li>
                    <li><a data-toggle="tab" href="#tab2"> Endereços</a></li>
                    <li><a data-toggle="tab" href="#tab3"> Contas Bancárias</a></li>
                    <li><a data-toggle="tab" href="#tab4"> Telefones</a></li>
                    <li><a data-toggle="tab" href="#tab5"> Documentos</a></li>
                    <li><a data-toggle="tab" href="#tab6"> Dados Profissionais</a></li>
                    <li><a data-toggle="tab" href="#tab7"> Área de Formação</a></li>
                    <li><a data-toggle="tab" href="#tab8"> Filhos/Dependentes</a></li>
                    <li><a data-toggle="tab" href="#tab9"> Cônjuge</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Nome: "/>
                                <p:inputText value="#{pessoaFisicaControlador.selecionado.nome}" maxlength="50"
                                             title="Informe o Nome."
                                             size="50"/>

                                <fc:labelObrigatorio value="CPF: "/>
                                <p:inputMask mask="999.999.999-99"
                                             title="Informe o CPF."
                                             value="#{pessoaFisicaControlador.selecionado.cpf}"
                                             id="iCPF"
                                             maxlength="14"
                                             size="14">
                                    <p:ajax event="blur" process="@this"
                                            update="@this"
                                            listener="#{pessoaFisicaControlador.validarCpf()}"/>
                                </p:inputMask>


                                <fc:labelObrigatorio value="Data de Nascimento: "/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "
                                            title="Selecione a Data de Nascimento."
                                            value="#{pessoaFisicaControlador.selecionado.dataNascimento}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>

                                <h:outputLabel value="Mãe: "/>
                                <p:inputText value="#{pessoaFisicaControlador.selecionado.mae}" maxlength="50" size="50"
                                             title="Informe o nome da Mãe."/>

                                <h:outputLabel value="Pai: "/>
                                <p:inputText value="#{pessoaFisicaControlador.selecionado.pai}" maxlength="50" size="50"
                                             title="Informe o nome do Pai."/>

                                <fc:labelObrigatorio value="Sexo: "/>
                                <h:selectOneMenu id="sexo"
                                                 title="Selecione o Sexo."
                                                 value="#{pessoaFisicaControlador.selecionado.sexo}">
                                    <f:selectItems value="#{pessoaFisicaControlador.getSexoSelectItem()}"/>
                                </h:selectOneMenu>

                                <fc:labelObrigatorio value="Raça/Cor: "/>
                                <h:selectOneMenu id="raca"
                                                 title="Selecione a Raça/Cor."
                                                 value="#{pessoaFisicaControlador.selecionado.racaCor}">
                                    <f:selectItems value="#{pessoaFisicaControlador.getRacaCorSelectItem()}"/>
                                </h:selectOneMenu>

                                <fc:labelObrigatorio value="Estado Civil: "/>
                                <h:selectOneMenu id="estado-civil"
                                                 title="Selecione o Estado Civil."
                                                 value="#{pessoaFisicaControlador.selecionado.estadoCivil}">
                                    <f:selectItems value="#{pessoaFisicaControlador.getEstadoCivilSelectItem()}"/>
                                </h:selectOneMenu>

                                <fc:labelObrigatorio value="Tipo Sanguíneo: "/>
                                <h:selectOneMenu id="tipo-sangue"
                                                 title="Selecione o Tipo Sanguíneo."
                                                 value="#{pessoaFisicaControlador.selecionado.tipoSanguineo}">
                                    <f:selectItems value="#{pessoaFisicaControlador.getTipoSanguineoSelectItem()}"/>
                                </h:selectOneMenu>

                                <fc:labelObrigatorio value="Estado da Naturalidade: "/>
                                <p:autoComplete value="#{pessoaFisicaControlador.estado}"
                                                title="Selecione o estado da Naturalidade."
                                                completeMethod="#{pessoaFisicaControlador.completarEstado}"
                                                converter="#{estadoControlador.converterAutoComplete}"
                                                var="estado"
                                                itemLabel="#{estado.nome}  #{estado.sigla}"
                                                itemValue="#{estado}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="50">
                                    <p:ajax event="itemSelect" process="@this" update="@this"/>
                                </p:autoComplete>

                                <fc:labelObrigatorio value="Naturalidade: "/>
                                <p:autoComplete value="#{pessoaFisicaControlador.selecionado.cidade}"
                                                title="Selecione a Naturalidade."
                                                completeMethod="#{pessoaFisicaControlador.completarCidade}"
                                                converter="#{cidadeControlador.converterAutoComplete}"
                                                var="ci"
                                                itemLabel="#{ci.nome}"
                                                itemValue="#{ci}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="50"/>

                                <fc:labelObrigatorio value="Nacionalidade: "/>
                                <p:autoComplete value="#{pessoaFisicaControlador.selecionado.nacionalidade}"
                                                title="Selecione a Nacionalidade."
                                                completeMethod="#{pessoaFisicaControlador.completarNacionalidade}"
                                                converter="#{nacionalidadeControlador.converterAutoComplete}"
                                                var="nac"
                                                itemLabel="#{nac.descricao}"
                                                itemValue="#{nac}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="50"/>

                                <fc:labelObrigatorio value="Email: "/>
                                <p:inputText value="#{pessoaFisicaControlador.selecionado.email}" size="50"
                                             maxlength="50"
                                             title="Informe um Email para cadastro."/>
                            </h:panelGrid>
                        </div>

                    </div>
                    <div id="tab2" class="tab-pane ">
                        <div class="panel-body">
                            <h:panelGrid columns="2" id="panel-grid-endereco">
                                <h:outputLabel value="CEP: "/>
                                <p:inputMask mask="99999-999"
                                             title="Informe o CEP."
                                             value="#{pessoaFisicaControlador.endereco.cep}"
                                             id="iCEP"
                                             maxlength="9"
                                             size="9"/>

                                <fc:labelObrigatorio value="Estado: "/>
                                <p:autoComplete value="#{pessoaFisicaControlador.estadoParaEndereco}"
                                                title="Selecione o estado da Naturalidade."
                                                completeMethod="#{pessoaFisicaControlador.completarEstado}"
                                                converter="#{estadoControlador.converterAutoComplete}"
                                                var="estado"
                                                itemLabel="#{estado.nome}  #{estado.sigla}"
                                                itemValue="#{estado}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="50">
                                    <p:ajax event="itemSelect" process="@this" update="@this"/>
                                </p:autoComplete>

                                <fc:labelObrigatorio value="Cidade: "/>
                                <p:autoComplete value="#{pessoaFisicaControlador.endereco.cidade}"
                                                title="Selecione uma Cidade."
                                                completeMethod="#{pessoaFisicaControlador.completarCidadeParaEndereco}"
                                                converter="#{cidadeControlador.converterAutoComplete}"
                                                var="cidade"
                                                itemLabel="#{cidade.toString()}"
                                                itemValue="#{cidade}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="50">
                                    <p:ajax event="itemSelect" process="@this"
                                            update="panelLabelBairro panelCampoBairro"/>
                                </p:autoComplete>

                                <h:panelGrid columns="1" id="panelLabelBairro">
                                    <fc:labelObrigatorio id="labelBairro"
                                                         value="Bairro: "
                                                         rendered="#{pessoaFisicaControlador.endereco.cidade ne null}"/>
                                </h:panelGrid>

                                <h:panelGrid columns="1" id="panelCampoBairro">
                                    <p:autoComplete id="campoBairro"
                                                    title="Selecione um Bairro."
                                                    rendered="#{pessoaFisicaControlador.endereco.cidade ne null}"
                                                    value="#{pessoaFisicaControlador.endereco.bairro}"
                                                    completeMethod="#{pessoaFisicaControlador.completarBairro}"
                                                    converter="#{bairroControlador.converterAutoComplete}"
                                                    var="ba"
                                                    itemLabel="#{ba.nome}"
                                                    itemValue="#{ba}"
                                                    maxResults="10"
                                                    queryDelay="1000"
                                                    size="50"/>
                                </h:panelGrid>

                                <fc:labelObrigatorio value="Logradouro: "/>
                                <p:inputText value="#{pessoaFisicaControlador.endereco.logradouro}" size="50"
                                             maxlength="50"
                                             title="Informe o Logradouro."/>

                                <h:outputLabel value="Número: "/>
                                <p:inputText value="#{pessoaFisicaControlador.endereco.numero}" size="50"
                                             maxlength="50"
                                             title="Informe o Número."/>

                                <h:outputLabel value="Complemento: "/>
                                <p:inputText value="#{pessoaFisicaControlador.endereco.complemento}" size="50"
                                             maxlength="50"
                                             title="Informe um Complemento."/>

                                <fc:labelObrigatorio value="Tipo de Endereço: "/>
                                <h:selectOneMenu value="#{pessoaFisicaControlador.endereco.tipoEndereco}"
                                                 title="Selecione um Tipo de Endereço.">
                                    <f:selectItems value="#{pessoaFisicaControlador.getTipoEnderecoSelectItem()}"/>
                                </h:selectOneMenu>
                            </h:panelGrid>

                            <p:commandButton value="Adicionar"
                                             actionListener="#{pessoaFisicaControlador.adicionarEndereco()}"
                                             icon="fa fa-plus-circle"
                                             title="Clique para adicionar um endereço"
                                             update=":Formulario:panel-grid-endereco :Formulario:tabela-enderecos"
                                             process="@form"/>

                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.enderecos}"
                                         id="tabela-enderecos"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="endereco"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Endereços&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{endereco}">
                                <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                    <p:commandButton
                                        actionListener="#{pessoaFisicaControlador.removerEndereco(endereco)}"
                                        update=":Formulario:tabela-enderecos"
                                        process="@this"
                                        icon="fa fa-remove"/>
                                    <p:commandButton
                                        actionListener="#{pessoaFisicaControlador.editarEndereco(endereco)}"
                                        update=":Formulario:panel-grid-endereco :Formulario:tabela-enderecos"
                                        process="@this"
                                        icon="fa fa-edit"/>
                                </p:column>
                                <p:column headerText="CEP" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{endereco.cep}"/>
                                </p:column>

                                <p:column headerText="Cidade" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{endereco.cidade.getNome()}"/>
                                </p:column>

                                <p:column headerText="Bairro" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{endereco.bairro.getNome()}"/>
                                </p:column>

                                <p:column headerText="Logradouro" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{endereco.logradouro}"/>
                                </p:column>

                                <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{endereco.numero}"/>
                                </p:column>

                                <p:column headerText="Complemento" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{endereco.complemento}"/>
                                </p:column>

                                <p:column headerText="Tipo de Endereço" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{endereco.tipoEndereco.getDescricao()}"/>
                                </p:column>

                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab3" class="tab-pane ">
                        <div class="panel-body">
                            <h:panelGrid columns="2" id="panel-conta">
                                <fc:labelObrigatorio para="numero" value="Número da Conta:"/>
                                <p:inputText
                                    value="#{pessoaFisicaControlador.contaCorrente.numero}"
                                    id="numero"
                                    styleClass="maiuscula"
                                    onkeyup="maiuscula(this.id)"
                                    title="Digite o Número da conta."/>

                                <fc:labelObrigatorio para="nomeConta" value="Nome da Conta:"/>
                                <p:inputText
                                    value="#{pessoaFisicaControlador.contaCorrente.nome}"
                                    id="nomeConta"
                                    size="60"
                                    styleClass="maiuscula"
                                    onkeyup="maiuscula(this.id)"
                                    title="Digite o Nome da conta."/>

                                <fc:labelObrigatorio para="agencia" value="Agência:"/>
                                <fc:completar title="Selecione a Agência" controller="#{agenciaControlador}"
                                              value="#{pessoaFisicaControlador.contaCorrente.agencia}"
                                              id="agencia"/>

                                <h:outputLabel value="Principal: "/>
                                <p:selectBooleanButton onLabel="Sim" offLabel="Não"
                                                       value="#{pessoaFisicaControlador.contaCorrente.principal}"/>

                            </h:panelGrid>
                            <p:commandButton value="Adicionar"
                                             actionListener="#{pessoaFisicaControlador.adicionarConta}"
                                             icon="fa fa-plus-circle"
                                             title="clique para adicionar uma Conta"
                                             update=":Formulario:panel-conta :Formulario:tabela-conta"
                                             process="@form"/>

                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.contas}"
                                         id="tabela-conta"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="conta"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Contas&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{conta}">
                                <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                    <p:commandButton actionListener="#{pessoaFisicaControlador.removerConta(conta)}"
                                                     update=":Formulario:tabela-conta"
                                                     process="@this"
                                                     icon="fa fa-remove"/>
                                    <p:commandButton actionListener="#{pessoaFisicaControlador.editarConta(conta)}"
                                                     update=":Formulario:panel-conta :Formulario:tabela-conta"
                                                     process="@this"
                                                     icon="fa fa-edit"/>
                                </p:column>
                                <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.numero}"/>
                                </p:column>
                                <p:column headerText="Nome" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.nome}"/>
                                </p:column>
                                <p:column headerText="Agência" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.agencia}"/>
                                </p:column>
                                <p:column headerText="Banco" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.agencia.banco}"/>
                                </p:column>
                                <p:column headerText="Principal" styleClass="alinhamentoCentralizado">
                                    <h:outputText
                                        value="#{conta.contaCorrente.principal == null or conta.contaCorrente.principal == false ? 'Não' : 'Sim'}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab4" class="tab-pane ">
                        <div class="panel-body">
                            <h:panelGrid columns="2" id="panel-grid-telefone">
                                <fc:labelObrigatorio value="Telefone: "/>
                                <h:panelGrid columns="2">
                                    <p:inputText value="#{pessoaFisicaControlador.telefone.telefone}" size="11"
                                                 maxlength="11"
                                                 title="Informe o Número de Telefone."/>
                                    <p:commandButton process="@none"
                                                     update="@none"
                                                     id="bt-informacao-telefone"
                                                     styleClass="m-t m-l-xs"
                                                     icon="ui-icon-info"/>

                                    <p:overlayPanel for="bt-informacao-telefone"
                                                    style="border : solid black 1px;"
                                                    showEvent="mouseover"
                                                    hideEvent="mouseout">
                                        <h:outputText
                                            value="O telefone deve ser informado da seguinte forma: &lt;b> DDD+TELEFONE (ex.: 68999999999) &lt;/b>"
                                            escape="false"/>
                                    </p:overlayPanel>
                                </h:panelGrid>

                                <fc:labelObrigatorio value="Tipo de Telefone: "/>
                                <h:selectOneMenu value="#{pessoaFisicaControlador.telefone.tipoFone}"
                                                 title="Selecione o Tipo de Telefone.">
                                    <f:selectItems value="#{pessoaFisicaControlador.getTipoFoneSelectItem()}"/>
                                </h:selectOneMenu>

                                <h:outputLabel value="Principal: "/>
                                <p:selectBooleanButton onLabel="Sim" offLabel="Não"
                                                       title="O Telefone é o Principal para contato?"
                                                       value="#{pessoaFisicaControlador.telefone.principal}"/>

                                <h:outputLabel value="Pessoa para Contato: "/>
                                <p:inputText value="#{pessoaFisicaControlador.telefone.pessoaContato}" size="50"
                                             title="Informe o nome de uma pessoa para Contato."
                                             maxlength="50"/>
                            </h:panelGrid>

                            <p:commandButton value="Adicionar"
                                             actionListener="#{pessoaFisicaControlador.adicionarTelefone()}"
                                             icon="fa fa-plus-circle"
                                             title="clique para adicionar telefone "
                                             update=":Formulario:panel-grid-telefone :Formulario:tabela-telefones"
                                             process="@form"/>

                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.telefones}"
                                         id="tabela-telefones"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="telefone"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Telefones&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{telefone}">
                                <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                    <p:commandButton
                                        actionListener="#{pessoaFisicaControlador.removerTelefone(telefone)}"
                                        update=":Formulario:tabela-telefones"
                                        process="@this"
                                        icon="fa fa-remove"/>
                                    <p:commandButton
                                        actionListener="#{pessoaFisicaControlador.editarTelefone(telefone)}"
                                        update=":Formulario:panel-grid-telefone :Formulario:tabela-telefones"
                                        process="@this"
                                        icon="fa fa-edit"/>
                                </p:column>
                                <p:column headerText="Telefone" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{telefone.telefone}"/>
                                </p:column>
                                <p:column headerText="Tipo de Telefone" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{telefone.tipoFone.getTipoTelefone()}"/>
                                </p:column>
                                <p:column headerText="Principal" styleClass="alinhamentoCentralizado">
                                    <h:outputText
                                        value="#{telefone.principal == null or telefone.principal == false ? 'Não' : 'Sim'}"/>
                                </p:column>
                                <p:column headerText="Pessoa para Contato " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{telefone.pessoaContato}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab5" class="tab-pane ">
                        <div class="panel-body">
                            <p:fieldset legend="RG" style="margin-bottom:20px">
                                <h:panelGrid columns="2">
                                    <h:outputLabel value="RG: "/>
                                    <p:inputText value="#{pessoaFisicaControlador.rg.numero}" size="30" maxlength="20"
                                                 title="Informe o número de RG."/>

                                    <h:outputLabel value="Orgão Expeditor: "/>
                                    <p:inputText value="#{pessoaFisicaControlador.rg.orgaoExpeditor}" size="30"
                                                 maxlength="20"
                                                 title="Informe o Órgão Expedidor."/>

                                    <h:outputLabel value="Data de Expedição: "/>
                                    <p:calendar onkeypress="mascara(this, Data)"
                                                maxlength="10"
                                                style="text-align: right; "
                                                autocomplete="off"
                                                title="Digite a Data de Expedição."
                                                value="#{pessoaFisicaControlador.rg.dataExpedicao}"
                                                locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                                size="10"/>
                                </h:panelGrid>
                            </p:fieldset>


                            <p:fieldset legend="Passaporte" style="margin-bottom:20px">
                                <h:panelGrid columns="2">
                                    <h:outputLabel value="Número: "/>
                                    <p:inputText value="#{pessoaFisicaControlador.passaporte.numero}" size="30"
                                                 maxlength="20"
                                                 title="Informe o número do Passaporte."/>

                                    <h:outputLabel value="País de Origem: "/>
                                    <p:autoComplete
                                        value="#{pessoaFisicaControlador.passaporte.paisOrigem}"
                                        title="Selecione um País de Origem."
                                        completeMethod="#{estadoControlador.completarPais}"
                                        converter="#{paisControlador.converterAutoComplete}"
                                        var="obj"
                                        maxResults="10"
                                        size="40"
                                        maxlength="20"
                                        queryDelay="1000"
                                        itemLabel="#{obj.nome}"
                                        itemValue="#{obj}"/>

                                    <h:outputLabel value="Data de Expedição: "/>
                                    <p:calendar onkeypress="mascara(this, Data)"
                                                maxlength="10"
                                                style="text-align: right; "
                                                autocomplete="off"
                                                title="Digite a Data de Expedição."
                                                value="#{pessoaFisicaControlador.passaporte.dataExpedicao}"
                                                locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                                size="10"/>

                                    <h:outputLabel value="Data de Validade: "/>
                                    <p:calendar onkeypress="mascara(this, Data)"
                                                maxlength="10"
                                                style="text-align: right; "
                                                autocomplete="off"
                                                title="Digite a Data de Validade."
                                                value="#{pessoaFisicaControlador.passaporte.validade}"
                                                locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                                size="10"/>
                                </h:panelGrid>
                            </p:fieldset>

                            <p:fieldset legend="Título de Eleitor" style="margin-bottom:20px">
                                <h:panelGrid columns="2">
                                    <h:outputLabel value="Número de Inscrição: "/>
                                    <p:inputText value="#{pessoaFisicaControlador.tituloEleitor.numero}" size="30"
                                                 maxlength="20"
                                                 title="Informe o número do Título de Eleitor."/>

                                    <h:outputLabel value="Zona: "/>
                                    <p:inputText value="#{pessoaFisicaControlador.tituloEleitor.zona}" size="30"
                                                 maxlength="20"
                                                 title="Informe a Zona Eleitoral."/>

                                    <h:outputLabel value="Seção: "/>
                                    <p:inputText value="#{pessoaFisicaControlador.tituloEleitor.sessao}" size="30"
                                                 maxlength="20"
                                                 title="Informe a Seção Eleitoral."/>

                                    <h:outputLabel value="Data de Emissão: "/>
                                    <p:calendar onkeypress="mascara(this, Data)"
                                                maxlength="10"
                                                style="text-align: right; "
                                                autocomplete="off"
                                                title="Digite a Data de Emissão."
                                                value="#{pessoaFisicaControlador.tituloEleitor.dataEmissao}"
                                                locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                                size="10"/>
                                </h:panelGrid>
                            </p:fieldset>
                        </div>
                    </div>
                    <div id="tab6" class="tab-pane ">
                        <div class="panel-body">
                            <h:panelGrid columns="2" id="panel-grid-profissao">
                                <h:outputLabel value="Profissão:"/>
                                <p:autoComplete
                                    value="#{pessoaFisicaControlador.carteiraTrabalho.profissao}"
                                    title="Selecione uma Profissão."
                                    completeMethod="#{pessoaFisicaControlador.completarProfissao}"
                                    converter="#{pessoaFisicaControlador.converterProfissao}"
                                    var="obj"
                                    itemLabel="#{obj.getNome()}"
                                    itemValue="#{obj}"
                                    maxResults="10"
                                    size="50"
                                    queryDelay="1000"/>

                                <h:outputLabel value="Cargo: "/>
                                <p:autoComplete
                                    value="#{pessoaFisicaControlador.carteiraTrabalho.cargo}"
                                    title="Selecione um Cargo."
                                    completeMethod="#{pessoaFisicaControlador.completarCargo}"
                                    converter="#{cargoControlador.converterAutoComplete}"
                                    var="obj"
                                    itemLabel="#{obj.getDescricao()}"
                                    itemValue="#{obj}"
                                    maxResults="10"
                                    size="50"
                                    queryDelay="1000"/>
                                <h:outputLabel value="Local de Trabalho: "/>
                                <p:autoComplete
                                    value="#{pessoaFisicaControlador.carteiraTrabalho.localTrabalho}"
                                    title="Selecione um Local de Trabalho."
                                    completeMethod="#{pessoaFisicaControlador.completarPessoaJuridica}"
                                    converter="#{pessoaJuridicaControlador.converterAutoComplete}"
                                    var="obj"
                                    itemLabel="#{obj.getNomeFantasia()}"
                                    itemValue="#{obj}"
                                    maxResults="10"
                                    size="50"
                                    queryDelay="1000"/>

                                <h:outputLabel value="Data Inicial: "/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "
                                            autocomplete="off"
                                            title="Digite a Data Inicial."
                                            value="#{pessoaFisicaControlador.carteiraTrabalho.inicio}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>

                                <h:outputLabel value="Data Final: "/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "
                                            autocomplete="off"
                                            title="Digite a Data Final."
                                            value="#{pessoaFisicaControlador.carteiraTrabalho.fim}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>
                            </h:panelGrid>


                            <p:commandButton value="Adicionar"
                                             actionListener="#{pessoaFisicaControlador.adicionarCarteiraTrabalho()}"
                                             icon="fa fa-plus-circle"
                                             title="Clique para adicionar os Dados Profissionais "
                                             update=":Formulario:panel-grid-profissao :Formulario:tabela-profissao"
                                             process="@form"/>

                            <p:dataTable value="#{pessoaFisicaControlador.carteirasTrabalho}"
                                         id="tabela-profissao"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="ctps"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Dados Profissionais&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{ctps}">
                                <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                    <p:commandButton
                                        actionListener="#{pessoaFisicaControlador.removerCarteiraTrabalho(ctps)}"
                                        update=":Formulario:tabela-profissao"
                                        process="@this"
                                        icon="fa fa-remove"/>
                                    <p:commandButton
                                        actionListener="#{pessoaFisicaControlador.editarCarteiraTrabalho(ctps)}"
                                        update=":Formulario:panel-grid-profissao :Formulario:tabela-profissao"
                                        process="@this"
                                        icon="fa fa-edit"/>
                                </p:column>
                                <p:column headerText="Profissão" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{ctps.profissao.nome}"/>
                                </p:column>

                                <p:column headerText="Cargo " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{ctps.cargo.descricao}"/>
                                </p:column>

                                <p:column headerText="Local de Trabalho" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{ctps.localTrabalho.nomeFantasia}"/>
                                </p:column>

                                <p:column headerText="Data Inicial" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{ctps.inicio}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Data Final">
                                    <h:outputText value="#{ctps.fim}" styleClass="alinhamentoCentralizado">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab7" class="tab-pane ">
                        <div class="panel-body">
                            <h:panelGrid columns="2" id="panel-grid-areaformacao">
                                <h:outputLabel value="Nome: "/>
                                <p:inputText value="#{pessoaFisicaControlador.areaFormacao.nome}" size="50"
                                             maxlength="50"
                                             title="Informe o Nome da Área de Formação."/>

                                <h:outputLabel value="Escolaridade: "/>
                                <h:selectOneMenu value="#{pessoaFisicaControlador.areaFormacao.escolaridade}"
                                                 title="Selecione a Escolaridade.">
                                    <f:selectItems value="#{pessoaFisicaControlador.getFormacoes()}"/>
                                </h:selectOneMenu>

                                <h:outputLabel value="Especialização: "/>
                                <p:selectBooleanButton onLabel="Sim" offLabel="Não"
                                                       title="Possui Especialização?"
                                                       value="#{pessoaFisicaControlador.areaFormacao.especializacao}"/>

                                <h:outputLabel value="Descrição da Especialização: "/>
                                <p:inputText value="#{pessoaFisicaControlador.areaFormacao.descricaoEspecializacao}"
                                             size="50"
                                             maxlength="50"
                                             title="Descrição da Especialização, caso possua."/>
                            </h:panelGrid>

                            <p:commandButton value="Adicionar"
                                             actionListener="#{pessoaFisicaControlador.adicionarFormacao()}"
                                             icon="fa fa-plus-circle"
                                             title="Clique para adicionar a Área de Formação."
                                             update=":Formulario:panel-grid-areaformacao :Formulario:tabela-formacao"
                                             process="@form"/>

                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.formacoes}"
                                         id="tabela-formacao"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="formacao"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Áreas de Formação&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{formacao}">
                                <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                    <p:commandButton
                                        actionListener="#{pessoaFisicaControlador.removerFormacao(formacao)}"
                                        update=":Formulario:tabela-formacao"
                                        process="@this"
                                        icon="fa fa-remove"/>
                                    <p:commandButton
                                        actionListener="#{pessoaFisicaControlador.editarFormacao(formacao)}"
                                        update=":Formulario:panel-grid-areaformacao :Formulario:tabela-formacao"
                                        process="@this"
                                        icon="fa fa-edit"/>
                                </p:column>
                                <p:column headerText="Nome" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{formacao.nome}"/>
                                </p:column>
                                <p:column headerText="Escolaridade" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{formacao.escolaridade.getDescricao()}"/>
                                </p:column>
                                <p:column headerText="Especialização" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{formacao.especializacao ? 'Sim' : 'Não' }"/>
                                </p:column>
                                <p:column headerText="Descrição da Especialização" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{formacao.descricaoEspecializacao}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab8" class="tab-pane ">
                        <div class="panel-body">
                            <h:panelGrid columns="2" id="panel-grid-filho">
                                <fc:labelObrigatorio value="Nome: "/>
                                <p:inputText value="#{pessoaFisicaControlador.filho.nome}" size="30" maxlength="30"
                                             title="Informe o Nome do Filho/Dependente."/>

                                <fc:labelObrigatorio value="Sexo: "/>
                                <h:selectOneMenu value="#{pessoaFisicaControlador.filho.sexo}"
                                                 title="Selecione o Sexo.">
                                    <f:selectItems value="#{pessoaFisicaControlador.getSexos()}"/>
                                </h:selectOneMenu>

                                <h:outputLabel value="Data de Nascimento: "/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "
                                            autocomplete="off"
                                            title="Digite a Data de Nascimento."
                                            value="#{pessoaFisicaControlador.filho.dataNascimento}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>

                                <h:outputLabel value="Matrícula: "/>
                                <p:inputText value="#{pessoaFisicaControlador.filho.matricula}" size="30" maxlength="30"
                                             title="Informe a Matrícula."/>

                                <h:outputLabel value="Tipo de Associação: "/>
                                <h:selectOneMenu value="#{pessoaFisicaControlador.filho.tipoAssociacao}"
                                                 title="Selecione um Tipo de Associação.">
                                    <f:selectItems value="#{pessoaFisicaControlador.getAssociacao()}"/>
                                </h:selectOneMenu>
                            </h:panelGrid>

                            <p:commandButton value="Adicionar"
                                             actionListener="#{pessoaFisicaControlador.adicionarFilho()}"
                                             icon="fa fa-plus-circle"
                                             title="Clique para adicionar o Filho/Dependente."
                                             update=":Formulario:panel-grid-filho :Formulario:tabela-filho"
                                             process="@form"/>

                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.filhos}"
                                         id="tabela-filho"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="filho"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Filhos/Dependentes&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{filho}">
                                <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                    <p:commandButton actionListener="#{pessoaFisicaControlador.removerFilho(filho)}"
                                                     update=":Formulario:tabela-filho"
                                                     process="@this"
                                                     icon="fa fa-remove"/>
                                    <p:commandButton actionListener="#{pessoaFisicaControlador.editarFilho(filho)}"
                                                     update=":Formulario:panel-grid-filho :Formulario:tabela-filho"
                                                     process="@this"
                                                     icon="fa fa-edit"/>
                                </p:column>
                                <p:column headerText="Nome " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{filho.nome}"/>
                                </p:column>

                                <p:column headerText="Sexo " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{filho.sexo.getDescricao()}"/>
                                </p:column>

                                <p:column headerText="Data de Nascimento" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{filho.dataNascimento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Matrícula" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{filho.matricula}"/>
                                </p:column>
                                <p:column headerText="Tipo de Associação" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{filho.tipoAssociacao.getDescricao()}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab9" class="tab-pane ">
                        <div class="panel-body">
                            <h:panelGrid columns="2" id="panel-grid-conjuge">
                                <fc:labelObrigatorio value="Nome: "/>
                                <p:inputText value="#{pessoaFisicaControlador.conjuge.nome}" size="50" maxlength="50"
                                             title="Informe o Nome do Cônjuge."/>

                                <h:outputLabel value="Data de Nascimento: "/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "
                                            autocomplete="off"
                                            title="Digite a Data de Nascimento."
                                            value="#{pessoaFisicaControlador.conjuge.dataNascimento}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>

                                <fc:labelObrigatorio value="Tipo Sanguíneo: "/>
                                <h:selectOneMenu id="tipo-sangue-conjuge"
                                                 title="Selecione o Tipo Sanguíneo."
                                                 value="#{pessoaFisicaControlador.conjuge.tipoSanguineo}">
                                    <f:selectItems value="#{pessoaFisicaControlador.getTipoSanguineoSelectItem()}"/>
                                </h:selectOneMenu>

                                <h:outputLabel value="Escolaridade: "/>
                                <h:selectOneMenu value="#{pessoaFisicaControlador.conjuge.escolaridade}"
                                                 title="Selecione a Escolaridade.">
                                    <f:selectItems value="#{pessoaFisicaControlador.getFormacoes()}"/>
                                </h:selectOneMenu>

                                <h:outputLabel value="Área de Formação: "/>
                                <p:autoComplete
                                    value="#{pessoaFisicaControlador.conjuge.areaFormacao}"
                                    title="Selecione uma Área de Formação."
                                    completeMethod="#{pessoaFisicaControlador.completarAreaFormacao}"
                                    converter="#{pessoaFisicaControlador.converterAreaFormacao}"
                                    var="obj"
                                    itemLabel="#{obj.nome}"
                                    itemValue="#{obj}"
                                    maxResults="10"
                                    size="50"
                                    queryDelay="1000"/>

                                <h:outputLabel value="Profissão:"/>
                                <p:autoComplete
                                    value="#{pessoaFisicaControlador.conjuge.profissao}"
                                    title="Selecione uma Profissão."
                                    completeMethod="#{pessoaFisicaControlador.completarProfissao}"
                                    converter="#{pessoaFisicaControlador.converterProfissao}"
                                    var="obj"
                                    itemLabel="#{obj.getNome()}"
                                    itemValue="#{obj}"
                                    maxResults="10"
                                    size="50"
                                    queryDelay="1000"/>

                                <h:outputLabel value="Local de Trabalho: "/>
                                <p:inputText value="#{pessoaFisicaControlador.conjuge.localTrabalho}" size="50"
                                             maxlength="50"
                                             title="Informe o Local de Trabalho do Cônjuge."/>

                                <h:outputLabel value="Casado Atualmente: "/>
                                <p:selectBooleanButton onLabel="Sim" offLabel="Não"
                                                       title="Casado Atualmente?"
                                                       value="#{pessoaFisicaControlador.conjuge.casado}"/>
                            </h:panelGrid>

                            <p:commandButton value="Adicionar"
                                             actionListener="#{pessoaFisicaControlador.adicionarConjuge()}"
                                             icon="fa fa-plus-circle"
                                             title="Clique para adicionar o Cônjuge. &#013;&#013; Obs.: Caso exista algum Cônjuge com a flag 'Sim' na coluna 'Casado Atualmente', o mesmo terá o status alterado para 'Não'."
                                             update=":Formulario:panel-grid-conjuge :Formulario:tabela-conjuge"
                                             process="@form"/>

                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.conjuges}"
                                         id="tabela-conjuge"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="conjuge"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'> Cônjuges&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{conjuge}">
                                <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                    <p:commandButton actionListener="#{pessoaFisicaControlador.removerConjuge(conjuge)}"
                                                     update=":Formulario:tabela-conjuge"
                                                     process="@this"
                                                     icon="fa fa-remove"/>
                                    <p:commandButton actionListener="#{pessoaFisicaControlador.editarConjuge(conjuge)}"
                                                     update=":Formulario:panel-grid-conjuge :Formulario:tabela-conjuge"
                                                     process="@this"
                                                     icon="fa fa-edit"/>
                                </p:column>
                                <p:column headerText="Nome " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.nome}"/>
                                </p:column>

                                <p:column headerText="Data de Nascimento" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.dataNascimento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Tipo Sanguíneo" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.tipoSanguineo.getDescricao()}"/>
                                </p:column>

                                <p:column headerText="Escolaridade" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.escolaridade.getDescricao()}"/>
                                </p:column>

                                <p:column headerText="Área de Formação" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.areaFormacao}"/>
                                </p:column>

                                <p:column headerText="Profissão" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.profissao}"/>
                                </p:column>

                                <p:column headerText="Local de Trabalho" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.localTrabalho}"/>
                                </p:column>

                                <p:column headerText="Casado Atualmente" styleClass="alinhamentoCentralizado">
                                    <h:outputText
                                        value="#{conjuge.casado == null or conjuge.casado == false ? 'Não' : 'Sim'}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadrao controlador="#{pessoaFisicaControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
