<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{pessoaJuridicaControlador.selecionado.id == null ? 'Novo' : 'Editar'} Cadastro de Pessoa Jurídica
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Nome Fantasia:"/>
                                <p:inputText value="#{pessoaJuridicaControlador.selecionado.nomeFantasia}"
                                             maxlength="70" size="70"
                                             readonly="#{pessoaJuridicaControlador.selecionado.id ne null}"/>
                                <h:outputLabel value="Razão Social:"/>
                                <p:inputText value="#{pessoaJuridicaControlador.selecionado.razaoSocial}"
                                             maxlength="70" size="70"/>
                                <h:outputLabel value="CNPJ:"/>
                                <p:inputMask mask="99.999.999/9999-99"
                                             value="#{pessoaJuridicaControlador.selecionado.cnpj}"
                                             size="20" maxlength="18">
                                    <p:ajax update="@this" event="blur" process="@this"
                                            listener="#{pessoaJuridicaControlador.validarCnpj()}"/>
                                </p:inputMask>
                                <h:outputLabel value="Inscrição Cadastral:"/>
                                <p:inputText value="#{pessoaJuridicaControlador.selecionado.inscricaoEstadual}"
                                             size="20" maxlength="20"/>

                                <h:outputLabel value="Email:"/>
                                <p:inputText value="#{pessoaJuridicaControlador.selecionado.email}" size="50"
                                             maxlength="50"/>

                            </h:panelGrid>

                            <p:tabView id="tab-view-geral">
                                <p:tab title="Endereço">
                                    <h:panelGrid columns="2" id="panel-grid-endereco">
                                        <h:outputLabel value="CEP: "/>
                                        <p:inputMask mask="99999-999"
                                                     title="Informe o CEP."
                                                     value="#{pessoaJuridicaControlador.endereco.cep}"
                                                     maxlength="10"
                                                     size="10"/>

                                        <fc:labelObrigatorio value="Cidade: "/>
                                        <p:autoComplete value="#{pessoaJuridicaControlador.endereco.cidade}"
                                                        completeMethod="#{pessoaJuridicaControlador.buscarCidade}"
                                                        converter="#{cidadeControlador.converterAutoComplete}"
                                                        var="cidade"
                                                        itemLabel="#{cidade.toString()}"
                                                        itemValue="#{cidade}"
                                                        maxResults="10"
                                                        queryDelay="1000"
                                                        size="50">
                                            <p:ajax event="itemSelect" process="@this"
                                                    update="panelLabelBairro panelCampoBairro"/>
                                        </p:autoComplete>

                                        <h:panelGrid columns="1" id="panelLabelBairro">
                                            <fc:labelObrigatorio id="labelBairro"
                                                                 value="Bairro: "
                                                                 rendered="#{pessoaJuridicaControlador.endereco.cidade ne null}"/>
                                        </h:panelGrid>

                                        <h:panelGrid columns="1" id="panelCampoBairro">
                                            <p:autoComplete id="campoBairro"
                                                            rendered="#{pessoaJuridicaControlador.endereco.cidade ne null}"
                                                            value="#{pessoaJuridicaControlador.endereco.bairro}"
                                                            completeMethod="#{pessoaJuridicaControlador.buscarBairro}"
                                                            converter="#{bairroControlador.converterAutoComplete}"
                                                            var="ba"
                                                            itemLabel="#{ba.nome}"
                                                            itemValue="#{ba}"
                                                            maxResults="10"
                                                            queryDelay="1000"
                                                            size="50"/>
                                        </h:panelGrid>

                                        <fc:labelObrigatorio value="Logradouro: "/>
                                        <p:inputText value="#{pessoaJuridicaControlador.endereco.logradouro}" size="50"
                                                     maxlength="50"/>

                                        <h:outputLabel value="Número: "/>
                                        <p:inputText value="#{pessoaJuridicaControlador.endereco.numero}" size="50"
                                                     maxlength="50"/>

                                        <h:outputLabel value="Complemento: "/>
                                        <p:inputText value="#{pessoaJuridicaControlador.endereco.complemento}" size="50"
                                                     maxlength="50"/>

                                        <fc:labelObrigatorio value="Tipo Endereço: "/>
                                        <h:selectOneMenu value="#{pessoaJuridicaControlador.endereco.tipoEndereco}">
                                            <f:selectItems
                                                value="#{pessoaJuridicaControlador.getTipoEnderecoSelectItem()}"/>
                                        </h:selectOneMenu>
                                    </h:panelGrid>

                                    <p:commandButton value="Adicionar"
                                                     actionListener="#{pessoaJuridicaControlador.adicionarEndereco()}"
                                                     icon="fa fa-plus-circle"
                                                     title="clique para adicionar um endereço"
                                                     update=" :Formulario:tab-view-geral:panel-grid-endereco
                                                  :Formulario:tab-view-geral:tabela-enderecos"
                                                     process="@form"/>

                                    <p:dataTable value="#{pessoaJuridicaControlador.selecionado.enderecos}"
                                                 id="tabela-enderecos"
                                                 styleClass="mrg-top10"
                                                 emptyMessage="Não foram localizados registros"
                                                 var="endereco"
                                                 tableStyleClass="table"
                                                 paginator="true"
                                                 rowIndexVar="rowIx"
                                                 rows="10"
                                                 paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Endereços&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                                 rowsPerPageTemplate="10,25,50,100"
                                                 rowKey="#{endereco}">
                                        <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                            <p:commandButton
                                                actionListener="#{pessoaJuridicaControlador.removerEndereco(endereco)}"
                                                update=":Formulario:tab-view-geral:tabela-enderecos"
                                                process="@this"
                                                icon="fa fa-remove"/>
                                            <p:commandButton
                                                actionListener="#{pessoaJuridicaControlador.editarEndereco(endereco)}"
                                                update=":Formulario:tab-view-geral:panel-grid-endereco
                                                     :Formulario:tab-view-geral:tabela-enderecos"
                                                process="@this"
                                                icon="fa fa-edit"/>
                                        </p:column>
                                        <p:column headerText="CEP" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{endereco.cep}"/>
                                        </p:column>

                                        <p:column headerText="Cidade" styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{endereco.cidade.getNome()}"/>
                                        </p:column>

                                        <p:column headerText="Bairro" styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{endereco.bairro.getNome()}"/>
                                        </p:column>

                                        <p:column headerText="Logradouro" styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{endereco.logradouro}"/>
                                        </p:column>

                                        <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{endereco.numero}"/>
                                        </p:column>

                                        <p:column headerText="Complemento" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{endereco.complemento}"/>
                                        </p:column>

                                        <p:column headerText="Tipo de Endereço" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{endereco.tipoEndereco.getDescricao()}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:tab>
                                <p:tab title="Telefone">
                                    <h:panelGrid columns="2" id="panel-grid-telefone">
                                        <fc:labelObrigatorio value="Telefone"/>
                                        <h:panelGrid columns="2">
                                            <p:inputText value="#{pessoaJuridicaControlador.telefone.telefone}"
                                                         size="11"
                                                         maxlength="11"
                                                         title="Informe o Número de Telefone."/>
                                            <p:commandButton process="@none"
                                                             update="@none"
                                                             id="bt-informacao-telefone"
                                                             styleClass="m-t m-l-xs"
                                                             icon="ui-icon-info"/>

                                            <p:overlayPanel for="bt-informacao-telefone"
                                                            style="border : solid black 1px;"
                                                            showEvent="mouseover"
                                                            hideEvent="mouseout">
                                                <h:outputText
                                                    value="O telefone deve ser informado da seguinte forma: &lt;b> DDD+TELEFONE (ex.: 68999999999) &lt;/b>"
                                                    escape="false"/>
                                            </p:overlayPanel>
                                        </h:panelGrid>

                                        <fc:labelObrigatorio value="Tipo de Telefone: "/>
                                        <h:selectOneMenu value="#{pessoaJuridicaControlador.telefone.tipoFone}">
                                            <f:selectItems
                                                value="#{pessoaJuridicaControlador.getTipoFoneSelectItem()}"/>
                                        </h:selectOneMenu>

                                        <h:outputLabel value="Principal: "/>
                                        <p:selectBooleanButton onLabel="Sim" offLabel="Não"
                                                               value="#{pessoaJuridicaControlador.telefone.principal}"/>
                                        <h:outputLabel value="Pessoa para Contato: "/>
                                        <p:inputText value="#{pessoaJuridicaControlador.telefone.pessoaContato}"
                                                     size="50"
                                                     maxlength="50"/>
                                    </h:panelGrid>

                                    <p:commandButton value="Adicionar"
                                                     actionListener="#{pessoaJuridicaControlador.adicionarTelefone()}"
                                                     icon="fa fa-plus-circle"
                                                     title="clique para adicionar telefone "
                                                     update=" :Formulario:tab-view-geral:panel-grid-telefone
                                                     :Formulario:tab-view-geral:tabela-telefones"
                                                     process="@form"/>

                                    <p:dataTable value="#{pessoaJuridicaControlador.selecionado.telefones}"
                                                 id="tabela-telefones"
                                                 styleClass="mrg-top10"
                                                 emptyMessage="Não foram localizados registros"
                                                 var="telefone"
                                                 tableStyleClass="table"
                                                 paginator="true"
                                                 rowIndexVar="rowIx"
                                                 rows="10"
                                                 paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Telefones&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                                 rowsPerPageTemplate="10,25,50,100"
                                                 rowKey="#{telefone}">
                                        <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                            <p:commandButton
                                                actionListener="#{pessoaJuridicaControlador.removerTelefone(telefone)}"
                                                update=":Formulario:tab-view-geral:tabela-telefones"
                                                process="@this"
                                                icon="fa fa-remove"/>
                                            <p:commandButton
                                                actionListener="#{pessoaJuridicaControlador.editarTelefone(telefone)}"
                                                update=":Formulario:tab-view-geral:panel-grid-telefone
                                                     :Formulario:tab-view-geral:tabela-telefones"
                                                process="@this"
                                                icon="fa fa-edit"/>
                                        </p:column>
                                        <p:column headerText="Telefone" styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{telefone.telefone}"/>
                                        </p:column>
                                        <p:column headerText="Tipo Telefone" styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{telefone.tipoFone.getTipoTelefone()}"/>
                                        </p:column>
                                        <p:column headerText="Principal" styleClass="alinhamentoCentralizado">
                                            <h:outputText
                                                value="#{telefone.principal == null or telefone.principal == false ? 'Não' : 'Sim'}"/>
                                        </p:column>
                                        <p:column headerText="Pessoa para Contato "
                                                  styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{telefone.pessoaContato}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:tab>
                                <p:tab title="Contas Bancárias">
                                    <h:panelGrid columns="2" id="panel-conta">
                                        <fc:labelObrigatorio para="numero" value="Número da Conta:"/>
                                        <p:inputText
                                            value="#{pessoaJuridicaControlador.contaCorrente.numero}"
                                            id="numero"
                                            styleClass="maiuscula"
                                            onkeyup="maiuscula(this.id)"
                                            title="Digite o Número da conta."/>

                                        <fc:labelObrigatorio para="nomeConta" value="Nome da Conta:"/>
                                        <p:inputText
                                            value="#{pessoaJuridicaControlador.contaCorrente.nome}"
                                            id="nomeConta"
                                            size="60"
                                            styleClass="maiuscula"
                                            onkeyup="maiuscula(this.id)"
                                            title="Digite o Nome da conta."/>

                                        <fc:labelObrigatorio para="agencia" value="Agência:"/>
                                        <fc:completar title="Selecione a Agência" controller="#{agenciaControlador}"
                                                      value="#{pessoaJuridicaControlador.contaCorrente.agencia}"
                                                      id="agencia"/>

                                        <h:outputLabel value="Principal: "/>
                                        <p:selectBooleanButton onLabel="Sim" offLabel="Não"
                                                               value="#{pessoaJuridicaControlador.contaCorrente.principal}"/>

                                    </h:panelGrid>
                                    <p:commandButton value="Adicionar"
                                                     actionListener="#{pessoaJuridicaControlador.adicionarConta}"
                                                     icon="fa fa-plus-circle"
                                                     title="clique para adicionar uma Conta"
                                                     update=":Formulario:tab-view-geral:panel-conta
                                                     :Formulario:tab-view-geral:tabela-conta"
                                                     process="@form"/>

                                    <p:dataTable value="#{pessoaJuridicaControlador.selecionado.contas}"
                                                 id="tabela-conta"
                                                 styleClass="mrg-top10"
                                                 emptyMessage="Não foram localizados registros"
                                                 var="conta"
                                                 tableStyleClass="table"
                                                 paginator="true"
                                                 rowIndexVar="rowIx"
                                                 rows="10"
                                                 paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Contas&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                                 rowsPerPageTemplate="10,25,50,100"
                                                 rowKey="#{conta}">
                                        <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda">
                                            <p:commandButton
                                                actionListener="#{pessoaJuridicaControlador.removerConta(conta)}"
                                                update=":Formulario:tab-view-geral:tabela-conta"
                                                process="@this"
                                                icon="fa fa-remove"/>
                                            <p:commandButton
                                                actionListener="#{pessoaJuridicaControlador.editarConta(conta)}"
                                                update=":Formulario:tab-view-geral:panel-conta
                                                     :Formulario:tab-view-geral:tabela-conta"
                                                process="@this"
                                                icon="fa fa-edit"/>
                                        </p:column>
                                        <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.numero}"/>
                                        </p:column>
                                        <p:column headerText="Nome" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.nome}"/>
                                        </p:column>
                                        <p:column headerText="Agência" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.agencia}"/>
                                        </p:column>
                                        <p:column headerText="Banco" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.agencia.banco}"/>
                                        </p:column>
                                        <p:column headerText="Principal" styleClass="alinhamentoCentralizado">
                                            <h:outputText
                                                value="#{conta.contaCorrente.principal == null or conta.contaCorrente.principal == false ? 'Não' : 'Sim'}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:tab>
                            </p:tabView>
                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadrao controlador="#{pessoaJuridicaControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
