<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-eye fa-1x"></i>
        Visualizar Cadastro de Pessoa Jurídica
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Nome Fantasia:"/>
                                <p:outputLabel value="#{pessoaJuridicaControlador.selecionado.nomeFantasia}"/>

                                <h:outputLabel value="Razão Social:"/>
                                <p:outputLabel value="#{pessoaJuridicaControlador.selecionado.razaoSocial}"/>

                                <h:outputLabel value="CNPJ:"/>
                                <p:outputLabel value="#{pessoaJuridicaControlador.selecionado.cnpj}"/>

                                <h:outputLabel value="Inscrição Cadastral:"/>
                                <p:outputLabel value="#{pessoaJuridicaControlador.selecionado.inscricaoEstadual}"/>

                                <h:outputLabel value="Email:"/>
                                <p:outputLabel value="#{pessoaJuridicaControlador.selecionado.email}"/>

                            </h:panelGrid>

                            <p:tabView id="tab-view-geral">
                                <p:tab title="Endereço">
                                    <p:dataTable value="#{pessoaJuridicaControlador.selecionado.enderecos}"
                                                 id="tabela-enderecos"
                                                 styleClass="mrg-top10"
                                                 emptyMessage="Não foram localizados registros"
                                                 var="endereco"
                                                 tableStyleClass="table"
                                                 paginator="true"
                                                 rowIndexVar="rowIx"
                                                 rows="10"
                                                 paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Endereços&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                                 rowsPerPageTemplate="10,25,50,100"
                                                 rowKey="#{endereco}">

                                        <p:column headerText="CEP" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{endereco.cep}"/>
                                        </p:column>

                                        <p:column headerText="Cidade" styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{endereco.cidade.getNome()}"/>
                                        </p:column>

                                        <p:column headerText="Bairro" styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{endereco.bairro.getNome()}"/>
                                        </p:column>

                                        <p:column headerText="Logradouro" styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{endereco.logradouro}"/>
                                        </p:column>

                                        <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{endereco.numero}"/>
                                        </p:column>

                                        <p:column headerText="Complemento" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{endereco.complemento}"/>
                                        </p:column>

                                        <p:column headerText="Tipo de Endereço" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{endereco.tipoEndereco.getDescricao()}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:tab>
                                <p:tab title="Telefone">
                                    <p:dataTable value="#{pessoaJuridicaControlador.selecionado.telefones}"
                                                 id="tabela-telefones"
                                                 styleClass="mrg-top10"
                                                 emptyMessage="Não foram localizados registros"
                                                 var="telefone"
                                                 tableStyleClass="table"
                                                 paginator="true"
                                                 rowIndexVar="rowIx"
                                                 rows="10"
                                                 paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Telefones&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                                 rowsPerPageTemplate="10,25,50,100"
                                                 rowKey="#{telefone}">

                                        <p:column headerText="Telefone" styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{telefone.telefone}"/>
                                        </p:column>
                                        <p:column headerText="Tipo Telefone" styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{telefone.tipoFone.getTipoTelefone()}"/>
                                        </p:column>
                                        <p:column headerText="Principal" styleClass="alinhamentoCentralizado">
                                            <h:outputText
                                                value="#{telefone.principal == null or telefone.principal == false ? 'Não' : 'Sim'}"/>
                                        </p:column>
                                        <p:column headerText="Pessoa para Contato "
                                                  styleClass="alinhamentoCentralizado">
                                            <h:outputText value="#{telefone.pessoaContato}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:tab>
                                <p:tab title="Contas Bancárias">
                                    <p:dataTable value="#{pessoaJuridicaControlador.selecionado.contas}"
                                                 id="tabela-conta"
                                                 styleClass="mrg-top10"
                                                 emptyMessage="Não foram localizados registros"
                                                 var="conta"
                                                 tableStyleClass="table"
                                                 paginator="true"
                                                 rowIndexVar="rowIx"
                                                 rows="10"
                                                 paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Contas&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                                 rowsPerPageTemplate="10,25,50,100"
                                                 rowKey="#{conta}">

                                        <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.numero}"/>
                                        </p:column>
                                        <p:column headerText="Nome" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.nome}"/>
                                        </p:column>
                                        <p:column headerText="Agência" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.agencia}"/>
                                        </p:column>
                                        <p:column headerText="Banco" styleClass="alinhamentoEsquerda">
                                            <h:outputText value="#{conta.contaCorrente.agencia.banco}"/>
                                        </p:column>
                                        <p:column headerText="Principal" styleClass="alinhamentoCentralizado">
                                            <h:outputText
                                                value="#{conta.contaCorrente.principal == null or conta.contaCorrente.principal == false ? 'Não' : 'Sim'}"/>
                                        </p:column>
                                    </p:dataTable>
                                </p:tab>
                            </p:tabView>
                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadraoVisualizar controlador="#{pessoaJuridicaControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
