<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-eye fa-1x"></i>
        Visualizar Cadastro de Pessoa Física
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Dados Pessoais</a></li>
                    <li><a data-toggle="tab" href="#tab2"> Endereços</a></li>
                    <li><a data-toggle="tab" href="#tab3"> Contas Bancárias</a></li>
                    <li><a data-toggle="tab" href="#tab4"> Telefones</a></li>
                    <li><a data-toggle="tab" href="#tab5"> Documentos</a></li>
                    <li><a data-toggle="tab" href="#tab6"> Dados Profissionais</a></li>
                    <li><a data-toggle="tab" href="#tab7"> Área de Formação</a></li>
                    <li><a data-toggle="tab" href="#tab8"> Filhos/Dependentes</a></li>
                    <li><a data-toggle="tab" href="#tab9"> Cônjuge</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Nome: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.nome}"/>

                                <fc:labelObrigatorio value="CPF: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.cpf}"/>


                                <fc:labelObrigatorio value="Data de Nascimento: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.dataNascimento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </p:outputLabel>

                                <h:outputLabel value="Mãe: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.mae}"/>

                                <h:outputLabel value="Pai: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.pai}"/>

                                <fc:labelObrigatorio value="Sexo: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.sexo.toString()}"/>

                                <fc:labelObrigatorio value="Raça/Cor: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.racaCor.toString()}"/>

                                <fc:labelObrigatorio value="Estado Civil: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.estadoCivil.toString()}"/>

                                <fc:labelObrigatorio value="Tipo Sanguíneo: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.tipoSanguineo.toString()}"/>


                                <fc:labelObrigatorio value="Naturalidade: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.cidade}"/>

                                <fc:labelObrigatorio value="Nacionalidade: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.nacionalidade}"/>

                                <fc:labelObrigatorio value="Email: "/>
                                <p:outputLabel value="#{pessoaFisicaControlador.selecionado.email}"/>

                            </h:panelGrid>
                        </div>

                    </div>
                    <div id="tab2" class="tab-pane ">
                        <div class="panel-body">

                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.enderecos}"
                                         id="tabela-enderecos"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="endereco"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Endereços&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{endereco}">

                                <p:column headerText="CEP" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{endereco.cep}"/>
                                </p:column>

                                <p:column headerText="Cidade" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{endereco.cidade.getNome()}"/>
                                </p:column>

                                <p:column headerText="Bairro" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{endereco.bairro.getNome()}"/>
                                </p:column>

                                <p:column headerText="Logradouro" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{endereco.logradouro}"/>
                                </p:column>

                                <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{endereco.numero}"/>
                                </p:column>

                                <p:column headerText="Complemento" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{endereco.complemento}"/>
                                </p:column>

                                <p:column headerText="Tipo de Endereço" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{endereco.tipoEndereco.getDescricao()}"/>
                                </p:column>

                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab3" class="tab-pane ">
                        <div class="panel-body">
                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.contas}"
                                         id="tabela-conta"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="conta"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Contas&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{conta}">

                                <p:column headerText="Número" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.numero}"/>
                                </p:column>
                                <p:column headerText="Nome" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.nome}"/>
                                </p:column>
                                <p:column headerText="Agência" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.agencia}"/>
                                </p:column>
                                <p:column headerText="Banco" styleClass="alinhamentoEsquerda">
                                    <h:outputText value="#{conta.contaCorrente.agencia.banco}"/>
                                </p:column>
                                <p:column headerText="Principal" styleClass="alinhamentoCentralizado">
                                    <h:outputText
                                        value="#{conta.contaCorrente.principal == null or conta.contaCorrente.principal == false ? 'Não' : 'Sim'}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab4" class="tab-pane ">
                        <div class="panel-body">
                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.telefones}"
                                         id="tabela-telefones"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="telefone"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Telefones&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{telefone}">

                                <p:column headerText="Telefone" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{telefone.telefone}"/>
                                </p:column>
                                <p:column headerText="Tipo de Telefone" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{telefone.tipoFone.getTipoTelefone()}"/>
                                </p:column>
                                <p:column headerText="Principal" styleClass="alinhamentoCentralizado">
                                    <h:outputText
                                        value="#{telefone.principal == null or telefone.principal == false ? 'Não' : 'Sim'}"/>
                                </p:column>
                                <p:column headerText="Pessoa para Contato " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{telefone.pessoaContato}"/>
                                </p:column>

                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab5" class="tab-pane ">
                        <div class="panel-body">
                            <p:fieldset legend="RG" style="margin-bottom:20px">
                                <h:panelGrid columns="2">

                                    <h:outputLabel value="RG: "/>
                                    <p:outputLabel value="#{pessoaFisicaControlador.rg.numero}"/>

                                    <h:outputLabel value="Orgão Expeditor: "/>
                                    <p:outputLabel value="#{pessoaFisicaControlador.rg.orgaoExpeditor}"/>

                                    <h:outputLabel value="Data de Expedição: "/>
                                    <p:outputLabel value="#{pessoaFisicaControlador.rg.dataExpedicao}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </p:outputLabel>

                                </h:panelGrid>
                            </p:fieldset>


                            <p:fieldset legend="Passaporte" style="margin-bottom:20px">
                                <h:panelGrid columns="2">

                                    <h:outputLabel value="Número: "/>
                                    <p:outputLabel value="#{pessoaFisicaControlador.passaporte.numero}"/>

                                    <h:outputLabel value="País de Origem: "/>
                                    <p:outputLabel value="#{pessoaFisicaControlador.passaporte.paisOrigem}"/>

                                    <h:outputLabel value="Data de Expedição: "/>
                                    <p:outputLabel value="#{pessoaFisicaControlador.passaporte.dataExpedicao}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </p:outputLabel>

                                    <h:outputLabel value="Data de Validade: "/>
                                    <p:outputLabel value="#{pessoaFisicaControlador.passaporte.validade}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </p:outputLabel>

                                </h:panelGrid>
                            </p:fieldset>

                            <p:fieldset legend="Título de Eleitor" style="margin-bottom:20px">
                                <h:panelGrid columns="2">

                                    <h:outputLabel value="Número de Inscrição: "/>
                                    <p:outputLabel value="#{pessoaFisicaControlador.tituloEleitor.numero}"/>

                                    <h:outputLabel value="Zona: "/>
                                    <p:outputLabel value="#{pessoaFisicaControlador.tituloEleitor.zona}"/>

                                    <h:outputLabel value="Seção: "/>
                                    <p:outputLabel value="#{pessoaFisicaControlador.tituloEleitor.sessao}"/>

                                    <h:outputLabel value="Data de Emissão: "/>
                                    <p:outputLabel value="#{pessoaFisicaControlador.tituloEleitor.dataEmissao}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </p:outputLabel>

                                </h:panelGrid>
                            </p:fieldset>
                        </div>
                    </div>
                    <div id="tab6" class="tab-pane ">
                        <div class="panel-body">
                            <p:dataTable value="#{pessoaFisicaControlador.carteirasTrabalho}"
                                         id="tabela-profissao"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="ctps"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Dados Profissionais&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{ctps}">

                                <p:column headerText="Profissão" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{ctps.profissao.nome}"/>
                                </p:column>

                                <p:column headerText="Cargo " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{ctps.cargo.descricao}"/>
                                </p:column>

                                <p:column headerText="Local de Trabalho" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{ctps.localTrabalho.nomeFantasia}"/>
                                </p:column>

                                <p:column headerText="Data Inicial" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{ctps.inicio}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Data Final">
                                    <h:outputText value="#{ctps.fim}" styleClass="alinhamentoCentralizado">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab7" class="tab-pane ">
                        <div class="panel-body">
                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.formacoes}"
                                         id="tabela-formacao"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="formacao"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Áreas de Formação&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{formacao}">

                                <p:column headerText="Nome" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{formacao.nome}"/>
                                </p:column>
                                <p:column headerText="Escolaridade" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{formacao.escolaridade.getDescricao()}"/>
                                </p:column>
                                <p:column headerText="Especialização" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{formacao.especializacao ? 'Sim' : 'Não' }"/>
                                </p:column>
                                <p:column headerText="Descrição da Especialização" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{formacao.descricaoEspecializacao}"/>
                                </p:column>

                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab8" class="tab-pane ">
                        <div class="panel-body">
                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.filhos}"
                                         id="tabela-filho"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="filho"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Filhos/Dependentes&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{filho}">

                                <p:column headerText="Nome " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{filho.nome}"/>
                                </p:column>

                                <p:column headerText="Sexo " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{filho.sexo.toString()}"/>
                                </p:column>

                                <p:column headerText="Data de Nascimento" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{filho.dataNascimento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Matrícula" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{filho.matricula}"/>
                                </p:column>
                                <p:column headerText="Tipo de Associação" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{filho.tipoAssociacao.toString()}"/>
                                </p:column>

                            </p:dataTable>
                        </div>
                    </div>
                    <div id="tab9" class="tab-pane ">
                        <div class="panel-body">
                            <p:dataTable value="#{pessoaFisicaControlador.selecionado.conjuges}"
                                         id="tabela-conjuge"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="conjuge"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'> Cônjuges&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{conjuge}">

                                <p:column headerText="Nome " styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.nome}"/>
                                </p:column>

                                <p:column headerText="Data de Nascimento" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.dataNascimento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Tipo Sanguíneo" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.tipoSanguineo.toString()}"/>
                                </p:column>

                                <p:column headerText="Escolaridade" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.escolaridade.toString()}"/>
                                </p:column>

                                <p:column headerText="Área de Formação" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.areaFormacao}"/>
                                </p:column>

                                <p:column headerText="Profissão" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.profissao}"/>
                                </p:column>

                                <p:column headerText="Local de Trabalho" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{conjuge.localTrabalho}"/>
                                </p:column>

                                <p:column headerText="Casado Atualmente" styleClass="alinhamentoCentralizado">
                                    <h:outputText
                                        value="#{conjuge.casado == null or conjuge.casado == false ? 'Não' : 'Sim'}"/>
                                </p:column>

                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadraoVisualizar controlador="#{pessoaFisicaControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
