<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        Configuração do Cabeçalho dos Relatórios
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">
            <div class="panel-body">
                <h:panelGrid columns="2">
                    <fc:labelObrigatorio value="Título: "/>
                    <p:inputText value="#{configuracaoCabecalhoControlador.selecionado.titulo}"
                                 maxlength="70"
                                 size="70"
                                 id="titulo"/>

                    <fc:labelObrigatorio value="Subtítulo: "/>
                    <p:inputText value="#{configuracaoCabecalhoControlador.selecionado.subTitulo}"
                                 maxlength="70"
                                 size="70"
                                 id="subTitulo"/>

                    <fc:labelObrigatorio value="Arquivo: "/>
                    <h:panelGroup id="gridArquivo">
                        <h:outputText value="#{configuracaoCabecalhoControlador.selecionado.arquivo}"/>

                        <p:fileUpload fileUploadListener="#{configuracaoCabecalhoControlador.uploadArquivo}"
                                      id="arquivo"
                                      label="Selecionar"
                                      uploadLabel="Upload"
                                      rendered="#{configuracaoCabecalhoControlador.selecionado.arquivo eq null}"
                                      multiple="false"
                                      process="@this"
                                      update=":Formulario:gridArquivo"
                                      styleClass="mrg-botom10"
                                      allowTypes="/(\.|\/)(gif|jpeg|png|jpg|bmp)$/"
                                      invalidFileMessage="O formato do arquivo selecionado não é permitido. Por favor, selecione um formato permitido (gif|jpeg|png|jpg|bmp|pdf)."
                                      cancelLabel="Cancelar"/>

                        <p:commandButton icon="fa fa-trash-o"
                                         styleClass="botao-interno"
                                         onstart="abrirStatusDialog()"
                                         oncomplete="fechaStatusDialog()"
                                         title="Clique para remover este regitro."
                                         rendered="#{configuracaoCabecalhoControlador.selecionado.arquivo ne null}"
                                         actionListener="#{configuracaoCabecalhoControlador.removerArquivo}"
                                         process="@this"
                                         update=":Formulario:gridArquivo"/>
                    </h:panelGroup>
                </h:panelGrid>
            </div>

            <div class="panel-footer">
                <fc:rodapePadrao controlador="#{configuracaoCabecalhoControlador}"/>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
</html>
