<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components" xmlns:f="http://java.sun.com/jsf/core"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{conciliacaoBancariaControlador.id == null ? 'Novo' : 'Editar'} Conciliação
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">
            <h:panelGrid columns="2" id="gridConciliacao">
                <fc:labelObrigatorio para="dataConciliacao" value="Data Referência:"/>
                <p:calendar id="dataReferencia"
                            value="#{conciliacaoBancariaControlador.selecionado.dataLancamento}"
                            title="Digite a data de referência."
                            locale="pt"
                            autocomplete="off"
                            pattern="dd/MM/yyyy"
                            disabled="#{conciliacaoBancariaControlador.hasLancamentoSelcionado()}"
                            size="12"
                            maxlength="10"
                            navigator="true"
                            showButtonPanel="true">
                    <p:ajax event="dateSelect"
                            update=":Formulario:panelConciliacao"
                            process=":Formulario:gridConciliacao"
                            onstart="abrirStatusDialog()"
                            oncomplete="fechaStatusDialog()"
                            listener="#{conciliacaoBancariaControlador.recuperarUltimoSaldo()}"/>
                </p:calendar>

                <h:outputText value="Usuário:"/>
                <p:outputLabel value="#{conciliacaoBancariaControlador.selecionado.usuario.login}"
                               styleClass="negrito"/>

                <fc:labelObrigatorio para="dataConciliacao" value="Data de Conciliação:"/>
                <p:calendar id="dataConciliacao"
                            value="#{conciliacaoBancariaControlador.selecionado.dataConciliacao}"
                            title="Digite a data de conciliação."
                            locale="pt"
                            autocomplete="off"
                            pattern="dd/MM/yyyy"
                            disabled="#{conciliacaoBancariaControlador.hasLancamentoSelcionado()}"
                            size="12"
                            maxlength="10"
                            navigator="true"
                            showButtonPanel="true">
                </p:calendar>

                <fc:labelObrigatorio para="contaCorrente"
                                     value="Conta Corrente: "/>
                <p:autoComplete id="contaCorrente"
                                title="Selecione uma conta corrente."
                                value="#{conciliacaoBancariaControlador.selecionado.contaCorrenteBancaria}"
                                completeMethod="#{contaCorrenteControlador.completarEstaEntidade}"
                                var="ob"
                                maxResults="50"
                                disabled="#{conciliacaoBancariaControlador.hasLancamentoSelcionado()}"
                                queryDelay="0"
                                dropdown="true"
                                panelStyle="max-height: 250px; max-width: 700px"
                                effectDuration="0"
                                itemLabel="#{ob}"
                                itemValue="#{ob.id}"
                                size="60"
                                onkeyup="maiuscula(this.id)"
                                converter="#{contaCorrenteControlador.converterAutoComplete}">
                    <p:ajax event="itemSelect"
                            update=":Formulario:panelConciliacao"
                            process=":Formulario:gridConciliacao"
                            onstart="abrirStatusDialog()"
                            oncomplete="fechaStatusDialog()"
                            listener="#{conciliacaoBancariaControlador.recuperarUltimoSaldo()}"/>
                </p:autoComplete>
            </h:panelGrid>

            <p:outputPanel id="panelConciliacao">
                <p:panel rendered="#{conciliacaoBancariaControlador.renderizarPanelConciliacao()}">

                    <table>
                        <tr valign="top">
                            <td style="width: 52%;height: 100%!important;">
                                <div class="alert alert-success" align="center" style="padding: 3px">
                                    Último Saldo Bancário
                                </div>
                                <h:panelGrid columns="2" id="gridSaldo">
                                    <h:outputText value="Banco: "/>
                                    <h:outputLabel
                                        value="#{conciliacaoBancariaControlador.saldoBancario.contaCorrenteBancaria.agencia.banco}"
                                        id="banco"
                                        styleClass="negrito"/>

                                    <h:outputText value="Agência: "/>
                                    <h:outputText
                                        value="#{conciliacaoBancariaControlador.saldoBancario.contaCorrenteBancaria.agencia}"
                                        id="agencia"
                                        styleClass="negrito"/>

                                    <h:outputText value="Conta Corrente: "/>
                                    <h:outputText
                                        value="#{conciliacaoBancariaControlador.saldoBancario.contaCorrenteBancaria}"
                                        styleClass="negrito"/>

                                    <h:outputText value="Data: "/>
                                    <h:outputText
                                        value="#{conciliacaoBancariaControlador.saldoBancario.dataSaldo}"
                                        id="outputDataSaldo"
                                        rendered="#{conciliacaoBancariaControlador.saldoBancario.id ne null}"
                                        styleClass="negrito">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>

                                    <p:calendar id="dataSaldo"
                                                value="#{conciliacaoBancariaControlador.saldoBancario.dataSaldo}"
                                                rendered="#{conciliacaoBancariaControlador.saldoBancario.id eq null}"
                                                onkeyup="mascara(this, mdata)"
                                                pattern="dd/MM/yyyy"
                                                size="21">
                                        <p:ajax event="dateSelect" update="gridSaldo"/>
                                    </p:calendar>

                                    <h:outputText value="Histórico: "/>
                                    <h:panelGrid columns="2" cellpadding="0" cellspacing="0">
                                        <p:inputTextarea id="historicoSaldo"
                                                         value="#{conciliacaoBancariaControlador.saldoBancario.historico}"
                                                         cols="35" rows="4" maxlength="255"
                                                         autoResize="true"
                                                         counterTemplate="{0} Caracteres Restantes"
                                                         counter="counterSaldo"/>
                                        <h:outputText id="counterSaldo" styleClass="azul mrg-lef05"/>
                                    </h:panelGrid>

                                    <h:outputText value="Valor: "
                                                  rendered="#{conciliacaoBancariaControlador.saldoBancario.id ne null}"/>
                                    <fc:labelObrigatorio value="Valor: "
                                                         id="outputSaldo"
                                                         rendered="#{conciliacaoBancariaControlador.saldoBancario.id eq null}"/>

                                    <h:panelGrid columns="4">
                                        <p:inputText
                                            value="#{conciliacaoBancariaControlador.saldoBancario.saldo}"
                                            id="valor"
                                            converter="moneyConverter"
                                            size="20"
                                            styleClass="maiuscula"
                                            style="text-align: right"
                                            onkeydown="mascara(this, mvalor);"
                                            title="Digite o valor da conta."/>

                                    </h:panelGrid>
                                </h:panelGrid>

                                <p:commandButton
                                    icon="fa fa-plus"
                                    styleClass="mrg-top15 mrg-rig05 botao-interno"
                                    value="Novo"
                                    style="width: 120px; border-color: #0A246A!important;"
                                    onstart="abrirStatusDialog()"
                                    oncomplete="fechaStatusDialog()"
                                    process="@this"
                                    update=":Formulario:gridSaldo"
                                    title="Clique para inserir um novo saldo bancário."
                                    actionListener="#{conciliacaoBancariaControlador.novoSaldo()}"
                                />

                                <p:commandButton icon="fa fa-floppy-o"
                                                 value="Salvar"
                                                 style="width: 120px; border-color: #0A246A!important;"
                                                 styleClass="mrg-top15 mrg-rig05 botao-interno"
                                                 title="Clique para salvar saldo."
                                                 onstart="abrirStatusDialog()"
                                                 oncomplete="fechaStatusDialog()"
                                                 process=":Formulario:gridSaldo :Formulario:gridConciliacao @this"
                                                 actionListener="#{conciliacaoBancariaControlador.salvarSaldo()}"
                                                 update=":Formulario:panelHistoricoSaldo :Formulario:gridSaldo  :Formulario:sumario"/>

                                <p:commandButton icon="fa fa-refresh"
                                                 value="Atualizar"
                                                 style="width: 120px; border-color: #0A246A!important;"
                                                 styleClass="mrg-top15 mrg-rig05 botao-interno"
                                                 title="Clique para atualizar o saldo."
                                                 onstart="abrirStatusDialog()"
                                                 oncomplete="fechaStatusDialog()"
                                                 process="@this"
                                                 update=":Formulario:panelHistoricoSaldo :Formulario:gridSaldo  :Formulario:sumario"
                                                 actionListener="#{conciliacaoBancariaControlador.atualizarSaldo()}"
                                />
                            </td>

                            <td style="width: 5%;height: 100%!important;">

                            </td>

                            <td style="width: 52%;height: 100%!important;">
                                <div class="alert alert-success" align="center" style="padding: 3px">
                                    Histórico do Saldo
                                </div>
                                <p:outputPanel id="panelHistoricoSaldo">
                                    <p:dataTable id="tabelaSaldo"
                                                 var="saldo"
                                                 style="overflow: scroll;max-height: 300px; width: auto; margin-top: -3%"
                                                 value="#{conciliacaoBancariaControlador.historicoSaldoBancario}"
                                                 rowStyleClass="#{empty rowlx or rowlx mod 2 ne 0 ? 'linha-selecionada' : 'trintaAltura'}"
                                                 emptyMessage="Não foram localizados registros para serem apresentados."
                                                 rowIndexVar="rowlx">

                                        <p:column headerText="Ações" style="text-align: center">
                                            <p:commandButton icon="fa fa-edit"
                                                             styleClass="mrg-rig05 botao-interno"
                                                             title="Clique para editar este registro."
                                                             onstart="abrirStatusDialog()"
                                                             oncomplete="fechaStatusDialog()"
                                                             process="@this"
                                                             actionListener="#{conciliacaoBancariaControlador.alterarSaldoBancario(saldo)}"
                                                             update=":Formulario:gridSaldo"/>

                                            <p:commandButton icon="fa fa-trash"
                                                             styleClass="mrg-top10 mrg-rig05 botao-interno"
                                                             title="Clique para remover este registro."
                                                             onstart="abrirStatusDialog()"
                                                             oncomplete="fechaStatusDialog()"
                                                             onclick="if (!confirm('Tem certeza que deseja excluir este registro?')) {return false;}"
                                                             process="@this"
                                                             update=":Formulario:gridSaldo tabelaSaldo :Formulario:sumario"
                                                             actionListener="#{conciliacaoBancariaControlador.removerSaldoBancario(saldo)}"/>

                                        </p:column>
                                        <p:column headerText="Data"
                                                  styleClass="texto-centralizado">
                                            <h:outputText value="#{saldo.dataSaldo}">
                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                            </h:outputText>
                                        </p:column>
                                        <p:column headerText="Histórico" styleClass="texto-alinhado-esquerda">
                                            <h:outputText value="#{saldo.historico}"/>
                                        </p:column>
                                        <p:column headerText="Saldo (R$)" styleClass="texto-alinhado-direita">
                                            <h:outputText value="#{saldo.saldo}">
                                                <f:convertNumber pattern="#,##0.00"/>
                                            </h:outputText>
                                        </p:column>
                                    </p:dataTable>
                                </p:outputPanel>
                            </td>
                        </tr>
                    </table>

                    <hr/>

                    <p:outputPanel id="panelLancamentos" styleClass="mrg-top15">
                        <div class="header-table-html" align="center" style="font-size: 14px; padding: 3px">
                            LANÇAMENTOS DE RECEITA / DESPESA
                        </div>
                        <p:dataTable value="#{conciliacaoBancariaControlador.movimentosConciliacao}"
                                     id="tabelaLancamentos"
                                     emptyMessage="Não foram localizados registros"
                                     var="mov"
                                     rows="10"
                                     paginator="true"

                                     rowKey="#{mov}">

                            <p:column style="width: 5%; text-align: center;">
                                <f:facet name="header">
                                    <p:commandButton icon="ui-icon-check"
                                                     style="height: 20px;width: 20px"
                                                     onstart="abrirStatusDialog()"
                                                     oncomplete="fechaStatusDialog()"
                                                     process="@this"
                                                     update="tabelaLancamentos :Formulario:gridConciliacao"
                                                     rendered="#{!conciliacaoBancariaControlador.mostrarBotaoSelecionarTodos() and mov.dataConciliacao eq null}"
                                                     actionListener="#{conciliacaoBancariaControlador.desmarcarTodos()}"/>
                                    <p:commandButton
                                        value=""
                                        style="height: 20px;width: 20px"
                                        process="@this"
                                        update="tabelaLancamentos :Formulario:gridConciliacao"
                                        onstart="abrirStatusDialog()"
                                        oncomplete="fechaStatusDialog()"
                                        rendered="#{conciliacaoBancariaControlador.mostrarBotaoSelecionarTodos() and mov.dataConciliacao eq null}"
                                        actionListener="#{conciliacaoBancariaControlador.selecionarTodos()}"/>
                                </f:facet>

                                <p:commandButton icon="ui-icon-check"
                                                 style="height: 20px;width: 20px"
                                                 styleClass="btn-check-box"
                                                 process="@this"
                                                 update="tabelaLancamentos :Formulario:gridConciliacao"
                                                 onstart="abrirStatusDialog()"
                                                 oncomplete="fechaStatusDialog()"
                                                 rendered="#{conciliacaoBancariaControlador.itemSelecionado(mov) and mov.dataConciliacao eq null}"
                                                 actionListener="#{conciliacaoBancariaControlador.desmarcarItem(mov)}"/>

                                <p:commandButton value=""
                                                 style="height: 20px;width: 20px"
                                                 process="@this"
                                                 update="tabelaLancamentos :Formulario:gridConciliacao"
                                                 onstart="abrirStatusDialog()"
                                                 oncomplete="fechaStatusDialog()"
                                                 rendered="#{!conciliacaoBancariaControlador.itemSelecionado(mov) and mov.dataConciliacao eq null}"
                                                 actionListener="#{conciliacaoBancariaControlador.selecionarItem(mov)}"/>

                                <p:commandButton icon="fa fa-undo"
                                                 styleClass="mrg-lef05 btn-primary"
                                                 style="height: 20px;width: 20px"
                                                 rendered="#{mov.dataConciliacao ne null}"
                                                 title="Clique para estornar a conciliação desse lançamento."
                                                 onstart="abrirStatusDialog()"
                                                 oncomplete="fechaStatusDialog()"
                                                 onclick="if (!confirm('Tem certeza que deseja estornar a conciliação este lançamento?')) {return false;}"
                                                 process="@this"
                                                 update="tabelaLancamentos :Formulario:sumario"
                                                 actionListener="#{conciliacaoBancariaControlador.estornarConcilacao(mov)}"/>
                            </p:column>
                            <p:column headerText="Lançamento" styleClass="texto-centralizado">
                                <h:outputText value="#{mov.tipoMovimentoConciliacao.descricao}"/>
                            </p:column>
                            <p:column headerText="Data de Lançamento" styleClass="texto-centralizado">
                                <h:outputText value="#{mov.dataLancamento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Data de Conciliação" styleClass="texto-centralizado">
                                <h:outputText value="#{mov.dataConciliacao}"
                                              styleClass="azul"
                                              rendered="#{mov.dataConciliacao ne null}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                                <h:outputText value="Não Conciliado" rendered="#{mov.dataConciliacao eq null}"
                                              styleClass="azul"/>
                            </p:column>
                            <p:column headerText="Forma de Pagamento" styleClass="texto-alinhado-esquerda">
                                <h:outputText value="#{mov.tipoLancamento}"/>
                            </p:column>
                            <p:column headerText="Identificador" styleClass="texto-alinhado-esquerda">
                                <h:outputText value="#{mov.identificador}"/>
                            </p:column>
                            <p:column headerText="Crédito (R$)" styleClass="texto-alinhado-direita">
                                <h:outputText value="#{mov.credito}">
                                    <f:convertNumber pattern="#,##0.00"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Débito (R$)" styleClass="texto-alinhado-direita">
                                <h:outputText value="#{mov.debito}">
                                    <f:convertNumber pattern="#,##0.00"/>
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>


                    <h:outputText
                        styleClass="mrg-top10 azul"
                        style="float: right"
                        value="Quantidade de Lançamentos: #{conciliacaoBancariaControlador.movimentosConciliacao.size()}"/>

                    <p:panel id="panelIdentificador" styleClass="m-t-lg">
                        <div class="alert alert-success" align="center" style="padding: 3px">
                            Identicador
                        </div>
                        <p:outputPanel>
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio para="identificador" value="Cadastrar Novo Identificador?"/>
                                <p:selectBooleanCheckbox
                                    value="#{conciliacaoBancariaControlador.cadastrarNovoIdentificador}">
                                    <p:ajax event="valueChange" update=":Formulario:panelIdentificador"
                                            listener="#{conciliacaoBancariaControlador.instanciarIdentificador}"/>
                                </p:selectBooleanCheckbox>
                            </h:panelGrid>
                        </p:outputPanel>

                        <p:outputPanel rendered="#{!conciliacaoBancariaControlador.cadastrarNovoIdentificador}">
                            <div class="alert alert-success" align="center" style="padding: 3px">
                                Utilizar identificador cadastrado
                            </div>
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio para="identificador" value="Identificador:"/>
                                <fc:completar controller="#{identificadorControlador}"
                                              id="identificador"
                                              title="selecione um Identificador"
                                              value="#{conciliacaoBancariaControlador.identificador}"/>
                            </h:panelGrid>
                        </p:outputPanel>

                        <p:outputPanel rendered="#{conciliacaoBancariaControlador.cadastrarNovoIdentificador}">
                            <div class="alert alert-success" align="center" style="padding: 3px">
                                Salvar Novo Identificador
                            </div>
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio para="identificador" value="Identificador:"/>
                                <p:inputText value="#{conciliacaoBancariaControlador.identificador.descricao}" size="60"/>
                            </h:panelGrid>
                            <p:commandButton icon="fa fa-check"
                                             styleClass="mrg-top10 botao-success"
                                             value="Salvar Identificador"
                                             style="height: 30px"
                                             title="Clique para conciliar os movimentos."
                                             onstart="abrirStatusDialog()"
                                             oncomplete="fechaStatusDialog()"
                                             update=":Formulario:tabelaLancamentos :Formulario:panelIdentificador :Formulario:sumario"
                                             actionListener="#{conciliacaoBancariaControlador.salvarIdentificador}"/>

                        </p:outputPanel>

                        <p:separator/>

                        <h:panelGrid columns="2">
                            <p:commandButton icon="fa fa-exchange"
                                             styleClass="mrg-top10 botao-success"
                                             value="Conciliar Movimentos"
                                             style="height: 30px"
                                             title="Clique para conciliar os movimentos."
                                             onstart="abrirStatusDialog()"
                                             oncomplete="fechaStatusDialog()"
                                             onclick="if (!confirm('Tem certeza que deseja conciliar os moviemntos selecionados?')) {return false;}"
                                             update=":Formulario:tabelaLancamentos :Formulario:sumario"
                                             process=":Formulario:tabelaLancamentos @this"
                                             actionListener="#{conciliacaoBancariaControlador.conciliarMovimentos}"/>

                            <p:commandButton icon="fa fa-check"
                                             styleClass="mrg-top10 m-l-md"
                                             value="Identificar"
                                             style="height: 30px"
                                             title="Clique para conciliar os movimentos."
                                             onstart="abrirStatusDialog()"
                                             oncomplete="fechaStatusDialog()"
                                             onclick="if (!confirm('Tem certeza que deseja conciliar os moviemntos selecionados?')) {return false;}"
                                             update=":Formulario:tabelaLancamentos :Formulario:sumario"
                                             actionListener="#{conciliacaoBancariaControlador.identificarMovimentos}"/>
                        </h:panelGrid>
                    </p:panel>
                </p:panel>

                <p:outputPanel
                    id="sumario"
                    style="margin-right: 20px;margin-top: 5px">

                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="description-block border-right">
                                    <br/>
                                    <h5 class="description-header text-left"
                                        style="color: grey; font-weight: normal">TOTAL DE CRÉDITO</h5>
                                    <h5 class="description-header text-left"
                                        style="color: grey; font-weight: normal">TOTAL DE DÉBITO</h5>
                                    <h5 class="description-header text-left"
                                        style="color: grey; font-weight: normal">TOTAL GERAL</h5>
                                </div>
                            </div>

                            <div class="col-sm-2 col-xs-6">
                                <div class="description-block border-right">
                                    <table>
                                        <tr>
                                            <td>
                                                <span class="description-text text-info">À CONCILIAR</span><br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <h:outputText
                                                    style="font-size: 15px; font-weight: normal"
                                                    styleClass="mrg-lef05"
                                                    value="#{conciliacaoBancariaControlador.valorTotalCreditoAConciliar}">
                                                    <f:convertNumber pattern="#,##0.00"/>
                                                </h:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <h:outputText
                                                    style="font-size: 15px; font-weight: normal"
                                                    styleClass="mrg-lef05"
                                                    value="#{conciliacaoBancariaControlador.valorTotalDebitoAConciliar}">
                                                    <f:convertNumber pattern="#,##0.00"/>
                                                </h:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                 <span
                                                     class="#{conciliacaoBancariaControlador.isMovimentosAConciliarConciliados() ? 'text-success' : 'text-danger'}">
                                                <i class="#{conciliacaoBancariaControlador.isMovimentosAConciliarConciliados() ? 'fa fa-caret-up': 'fa fa-caret-down'}"></i>
                                                <h:outputText
                                                    value="#{conciliacaoBancariaControlador.valorTotalGeralAConciliar}">
                                                    <f:convertNumber pattern="#,##0.00"/>
                                                </h:outputText>
                                            </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-sm-2 col-xs-6">
                                <div class="description-block border-right text-right">
                                    <table>
                                        <tr>
                                            <td>
                                                <span class="description-text text-info">CONCILIADO</span><br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <h:outputText
                                                    style="font-size: 15px; font-weight: normal"
                                                    value="#{conciliacaoBancariaControlador.valorTotalCreditoConciliado}">
                                                    <f:convertNumber pattern="#,##0.00"/>
                                                </h:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <h:outputText
                                                    style="font-size: 15px; font-weight: normal"
                                                    styleClass="mrg-lef05"
                                                    value="#{conciliacaoBancariaControlador.valorTotalDebitoConciliado}">
                                                    <f:convertNumber pattern="#,##0.00"/>
                                                </h:outputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <span
                                                    class="#{conciliacaoBancariaControlador.isMovimentosConcilados() ? 'text-success' : 'text-danger'}">
                                                <i class="#{conciliacaoBancariaControlador.isMovimentosConcilados() ? 'fa fa-caret-up': 'fa fa-caret-down'}"></i>
                                                <h:outputText
                                                    value="#{conciliacaoBancariaControlador.valorTotalGeralConciliado}">
                                                    <f:convertNumber pattern="#,##0.00"/>
                                                </h:outputText>
                                            </span>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-6">
                                <div class="description-block border-left"
                                     style="float: right; font-size: 20px">

                                            <span>
                                                <p:outputPanel
                                                    rendered="#{conciliacaoBancariaControlador.isMovimentosConcilados() and conciliacaoBancariaControlador.renderizarPanelConciliacao()}">
                                                    <h:panelGrid columns="3">
                                                        <h:outputText styleClass="text-gray mrg-rig05"
                                                                      value="Lançamentos Conciliados com Sucesso"/>
                                                        <i class="fa fa-caret-square-o-up"></i>
                                                    </h:panelGrid>
                                                </p:outputPanel>

                                                <p:outputPanel
                                                    rendered="#{!conciliacaoBancariaControlador.isMovimentosConcilados() and conciliacaoBancariaControlador.renderizarPanelConciliacao()}">
                                                    <h:outputText value="Lançamentos Pendentes de Conciliação"
                                                                  styleClass="text-gray mrg-rig05"/>
                                                    <i class="fa fa-caret-square-o-down"></i>
                                                </p:outputPanel>
                                            </span>
                                    <span class="description-text text-info"
                                          style="float: right;">Saldo Bancário</span><br/>
                                    <span class="text-green">
                                                <h:outputText style="float: right;"
                                                              value="#{conciliacaoBancariaControlador.saldoBancarioDoDia}">
                                                    <f:convertNumber pattern="#,##0.00"/>
                                                </h:outputText>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </p:outputPanel>
            </p:outputPanel>

            <fc:rodapePadrao controlador="#{conciliacaoBancariaControlador}"/>

        </h:form>


    </ui:define>
</ui:composition>
</html>

