<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        Alterar Senha do Usuário
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Usuário</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <h:outputLabel value="Login:"/>
                                <h:outputLabel value="#{usuarioControlador.selecionado.login}"
                                              styleClass="negrito"/>

                                <fc:labelObrigatorio para="password" value="Senha:"/>
                                <p:password value="#{usuarioControlador.selecionado.senha}"
                                            id="password"
                                            size="30"
                                            placeholder="Nova senha"
                                            maxlength="30"
                                            title="Digite a senha do Usuário. Mínimo 6 caracteres."
                                            feedback="true"
                                            inline="true"
                                            promptLabel="Informe a nova senha"
                                            weakLabel="Fraca"
                                            goodLabel="Boa"
                                            strongLabel="Ótima"
                                            redisplay="true"/>

                                <fc:labelObrigatorio para="password2" value="Confirmar da Senha: "/>
                                <p:password value="#{usuarioControlador.selecionado.confirmacaoSenha}"
                                            id="password2"
                                            size="30"
                                            placeholder="Confirme a nova senha"
                                            maxlength="30"
                                            title="Digite a senha do Usuário. Mínimo 6 caracteres."
                                            feedback="true"
                                            inline="true"
                                            promptLabel="Confirme a nova senha"
                                            weakLabel="Fraca"
                                            goodLabel="Boa"
                                            strongLabel="Ótima"
                                            redisplay="true"/>
                            </h:panelGrid>
                        </div>
                    </div>
                </div>
            </div>
            <p:commandButton value="Salvar"
                             title="Clique para salvar este registro."
                             styleClass="button-search m-t m-l-xs"
                             icon="fa fa-floppy-o"
                             onstart="abrirStatusDialog()"
                             oncomplete="fechaStatusDialog()"
                             process=":Formulario"
                             actionListener="#{usuarioControlador.redefinirSenha()}"/>

            <p:commandButton value="Voltar"
                             title="Clique voltar para cancelar esta operação."
                             styleClass="button-clean m-t m-l-xs"
                             icon="fa fa-close"
                             onstart="abrirStatusDialog()"
                             oncomplete="fechaStatusDialog()"
                             process=":Formulario"
                             actionListener="#{usuarioControlador.navegarEmbora()}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>

