<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{usuarioControlador.selecionado.id == null ? 'Novo' : 'Editar'} Cadastro de Usuário
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações do Usuário</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">

                            <td style="height: auto!important;">

                                <h:panelGrid id="pFoto"
                                             style="float : right; text-align: center;"
                                             columns="1">
                                    <p:graphicImage value="#{request.contextPath}/resources/images/no-logo.png"
                                                    id="oSemFoto"
                                                    width="110"
                                                    rendered="#{usuarioControlador.exibirSiluetaImagem()}"
                                                    height="150"
                                                    style="height: 150px; text-align: center; border : solid #666 1px;"/>

                                    <p:graphicImage cache="false"
                                                    value="#{facesContext.externalContext.sessionMap.get('imagem-foto')}"
                                                    id="oFotoUpload"
                                                    rendered="#{!usuarioControlador.exibirSiluetaImagem()}"
                                                    width="110"
                                                    height="150"
                                                    style="height: 150px; text-align: center; border : solid #666 1px;"/>

                                    <p:fileUpload fileUploadListener="#{usuarioControlador.carregarFoto}"
                                                  update=":Formulario:pFoto"
                                                  process=":Formulario:pFoto"
                                                  cancelLabel="Cancelar"
                                                  auto="true"
                                                  uploadLabel="Enviar"
                                                  label="Selecionar"
                                                  sizeLimit="15728640"
                                                  id="iBotaoUpload"
                                                  invalidFileMessage="O tipo de arquivo inválido">
                                    </p:fileUpload>
                                </h:panelGrid>
                            </td>

                            <h:panelGrid>
                                <p:commandButton icon="ui-icon-key"
                                                 value="Resetar Senha"
                                                 rendered="#{usuarioControlador.selecionado.id ne null}"
                                                 title="Clique para resetar a senha do Usuário"
                                                 styleClass="button-excluir mrg-lef05"
                                                 actionListener="#{usuarioControlador.resetSenha}"
                                                 onclick="if (!confirm('A senha do Usuário será resetada para a senha padrão, deseja confirmar esta operação?'))return false;"
                                                 process="@this"/>
                            </h:panelGrid>

                            <h:panelGrid columns="2">


                                <fc:labelObrigatorio para="login" value="Login:" styleClass="mrg-top10"/>
                                <p:inputText value="#{usuarioControlador.selecionado.login}"
                                             id="login"
                                             size="50"
                                             rendered="#{usuarioControlador.id eq null}"
                                             title="Digite o login do Usuário."/>

                                <h:outputText styleClass="negrito" value="#{usuarioControlador.selecionado.login}"
                                              rendered="#{usuarioControlador.id ne null}"/>

                                <fc:labelObrigatorio para="password" value="Senha:"
                                                     rendered="#{usuarioControlador.selecionado.id eq null}"/>
                                <p:password value="#{usuarioControlador.selecionado.senha}"
                                            rendered="#{usuarioControlador.selecionado.id eq null}"
                                            id="password"
                                            size="20"
                                            placeholder="Senha"
                                            maxlength="30"
                                            title="Digite a senha do Usuário. Mínimo 6 caracteres." feedback="true"
                                            inline="true"
                                            promptLabel="Informe a senha" weakLabel="Fraca" goodLabel="Boa"
                                            strongLabel="Ótima"
                                            redisplay="true"/>

                                <fc:labelObrigatorio para="password2" value="Confirmação da Senha:"
                                                     rendered="#{usuarioControlador.selecionado.id eq null}"/>
                                <p:password value="#{usuarioControlador.selecionado.confirmacaoSenha}"
                                            rendered="#{usuarioControlador.selecionado.id eq null}"
                                            id="password2"
                                            size="20"
                                            placeholder="Senha"
                                            maxlength="30"
                                            title="Digite a senha do Usuário. Mínimo 6 caracteres." feedback="true"
                                            inline="true"
                                            promptLabel="Informe a senha" weakLabel="Fraca" goodLabel="Boa"
                                            strongLabel="Ótima"
                                            redisplay="true"/>

                                <fc:labelObrigatorio para="ativo" value="Ativo?"/>
                                <h:selectBooleanCheckbox value="#{usuarioControlador.selecionado.ativo}" id="ativo"/>

                                <fc:labelObrigatorio para="pessoa" value="Pessoa:"/>
                                <p:autoComplete value="#{usuarioControlador.selecionado.pessoa}"
                                                completeMethod="#{usuarioControlador.completarPessoa}"
                                                converter="#{pessoaFisicaControlador.converterAutoComplete}"
                                                var="obj"
                                                itemValue="#{obj}"
                                                itemLabel="#{obj.nome}"
                                                size="50"
                                                rendered="#{usuarioControlador.id == null}"
                                                maxlength="20"
                                                maxResults="10"
                                                queryDelay="1000"/>

                                <h:outputText value="#{usuarioControlador.selecionado.pessoa}"
                                              styleClass="negrito"
                                              rendered="#{usuarioControlador.selecionado.id ne null}"/>

                            </h:panelGrid>

                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadrao controlador="#{usuarioControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
