<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{formularioControlador.id == null ? 'Novo' : 'Editar'} Formulário
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario" >
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab"  href="#tab1"> Informações do Formulário</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio value="Descrição: "/>
                                <p:inputText value="#{formularioControlador.selecionado.descricao}" size="70"/>
                            </h:panelGrid>
                        </div>
                    </div>
                </div>

            </div>
            <fc:rodapePadrao controlador="#{formularioControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
