<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fc="http://java.sun.com/jsf/composite/components">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{placetControlador.id == null ? 'Novo' : 'Editar'} Placet
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function(event){
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">

            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab"  href="#tab1"> Informações do Placet</a></li>

                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2" styleClass="m-t-md">
                                <h:outputLabel value="Número do Placet: "/>
                                <h:outputLabel styleClass="negrito"
                                               value="#{placetControlador.selecionado.numero
                                            eq null ? 'Número gerado automaticamente ao salvar'
                                                   : placetControlador.selecionado.numero}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputLabel>

                                <h:outputLabel value="Gestão: "/>
                                <h:outputLabel value="#{placetControlador.selecionado.gestao}" readonly="true"/>


                                <fc:labelObrigatorio value="Loja: "/>
                                <p:autoComplete value="#{placetControlador.selecionado.loja}"
                                                completeMethod="#{placetControlador.completarLojasPorNome}"
                                                converter="#{lojaControlador.converterAutoComplete}"
                                                var="loja"
                                                itemLabel="#{loja.nome}"
                                                itemValue="#{loja}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="70"/>

                                <fc:labelObrigatorio value="Pessoa Fisica: "/>
                                <p:autoComplete value="#{placetControlador.selecionado.pessoaFisica}"
                                                completeMethod="#{placetControlador.completarPessoaFisicaComSolicitacaoPorStatus}"
                                                converter="#{pessoaFisicaControlador.converterAutoComplete}"
                                                var="pf"
                                                itemLabel="#{pf}"
                                                itemValue="#{pf}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="70"/>


                                <fc:labelObrigatorio value="Processo Financeiro: "/>
                                <p:autoComplete value="#{placetControlador.selecionado.processoFinanceiro}"
                                                completeMethod="#{placetControlador.completarProcessoFinanceiroPorSituacao}"
                                                converter="#{processoFinanceiroControlador.converterAutoComplete}"
                                                var="pro"
                                                itemLabel="#{pro}"
                                                itemValue="#{pro}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="70"/>


                            </h:panelGrid>
                        </div>

                    </div>
                </div>

            </div>

            <fc:rodapePadrao controlador="#{placetControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
