<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-eye fa-1x"></i>
        Visualizar Placet
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function(event){
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">

            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab"  href="#tab1"> Informações do Placet</a></li>

                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2" styleClass="m-t-md">
                                <h:outputLabel value="Número do Placet: "/>
                                <h:outputLabel styleClass="negrito"
                                               value="#{placetControlador.selecionado.numero}">
                                </h:outputLabel>

                                <h:outputLabel value="Gestão: "/>
                                <h:outputLabel value="#{placetControlador.selecionado.gestao}" readonly="true"/>


                                <fc:labelObrigatorio value="Loja: "/>
                                <h:outputLabel value="#{placetControlador.selecionado.loja}" readonly="true"/>

                                <fc:labelObrigatorio value="Pessoa Fisica: "/>
                                <h:outputLabel value="#{placetControlador.selecionado.pessoaFisica}" readonly="true"/>


                                <fc:labelObrigatorio value="Processo Financeiro: "/>
                                <h:outputLabel value="#{placetControlador.selecionado.processoFinanceiro}" readonly="true"/>


                            </h:panelGrid>
                        </div>

                    </div>
                </div>

            </div>

            <fc:rodapePadraoVisualizar mostrarEditar="false" controlador="#{placetControlador}" mostrarImprimir="true" actionImprimir="#{placetControlador.emitirPlacet()}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
