<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components" xmlns:f="http://java.sun.com/jsf/core">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{gestaoControlador.id == null ? 'Nova' : 'Editar'} Configuração de Gestão
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações da Gestão</a></li>
                    <li><a data-toggle="tab" href="#tab2"> Lojas</a></li>

                </ul>

                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">

                            <td style="height: auto!important;">

                                <h:panelGrid id="pFoto"
                                             style="float : right; text-align: center;"
                                             columns="1">
                                    <p:graphicImage value="#{request.contextPath}/resources/images/no-logo.png"
                                                    id="oSemFoto"
                                                    width="110"
                                                    rendered="#{gestaoControlador.exibirSiluetaImagem()}"
                                                    height="150"
                                                    style="height: 150px; text-align: center; border : solid #666 1px;"/>

                                    <p:graphicImage cache="false"
                                                    value="#{facesContext.externalContext.sessionMap.get('imagem-foto')}"
                                                    id="oFotoUpload"
                                                    rendered="#{!gestaoControlador.exibirSiluetaImagem()}"
                                                    width="110"
                                                    height="150"
                                                    style="height: 150px; text-align: center; border : solid #666 1px;"/>

                                    <p:fileUpload fileUploadListener="#{gestaoControlador.carregarFoto}"
                                                  update=":Formulario:pFoto"
                                                  process=":Formulario:pFoto"
                                                  cancelLabel="Cancelar"
                                                  auto="true"
                                                  uploadLabel="Enviar"
                                                  label="Selecionar"
                                                  sizeLimit="15728640"
                                                  id="iBotaoUpload"
                                                  invalidFileMessage="O tipo de arquivo inválido">
                                    </p:fileUpload>
                                </h:panelGrid>
                            </td>
                            <h:panelGrid columns="2" styleClass="m-t-md">


                                <fc:labelObrigatorio value="Descrição: "/>
                                <p:inputText value="#{gestaoControlador.selecionado.descricao}" size="70"
                                             maxlength="100"/>


                                <fc:labelObrigatorio value="Data Inicial: "/>
                                <p:calendar value="#{gestaoControlador.selecionado.inicioEm}"
                                            locale="pt"
                                            autocomplete="off"
                                            pattern="dd/MM/yyyy"
                                            size="10"
                                            maxlength="10"
                                            navigator="true"
                                            showButtonPanel="true"
                                            onkeyup="mascara(this, mdata)"/>

                                <fc:labelObrigatorio value="Data Final: "/>
                                <p:calendar value="#{gestaoControlador.selecionado.fimEm}"
                                            locale="pt"
                                            autocomplete="off"
                                            pattern="dd/MM/yyyy"
                                            size="10"
                                            maxlength="10"
                                            navigator="true"
                                            showButtonPanel="true"
                                            onkeyup="mascara(this, mdata)"/>

                                <fc:labelObrigatorio value="Sereníssimo: "/>
                                <p:autoComplete value="#{gestaoControlador.selecionado.macon}"
                                                completeMethod="#{gestaoControlador.completarSerenissimo}"
                                                converter="#{gestaoControlador.converterMacon}"
                                                var="macon"
                                                itemLabel="#{macon}"
                                                itemValue="#{macon}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="50"/>

                                <fc:labelObrigatorio value="Secretário: "/>
                                <fc:completar title="Selecione o secretário"
                                              value="#{gestaoControlador.selecionado.secretario}"
                                              controller="#{maconControlador}"/>

                                <fc:labelObrigatorio value="Tesoureiro: "/>
                                <fc:completar title="Selecione o tesoureiro"
                                              value="#{gestaoControlador.selecionado.tesoureiro}"
                                              controller="#{maconControlador}"/>

                                <fc:labelObrigatorio value="Loja Gestora: "/>
                                <p:autoComplete value="#{gestaoControlador.selecionado.loja}"
                                                completeMethod="#{gestaoControlador.completarLojaByNome}"
                                                converter="#{gestaoControlador.converterLoja}"
                                                var="loja"
                                                itemLabel="#{loja.nome}"
                                                itemValue="#{loja}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="40"/>

                                <fc:labelObrigatorio value="Departamento de estoque: "/>
                                <p:autoComplete value="#{gestaoControlador.selecionado.departamentoEstoque}"
                                                completeMethod="#{departamentoControlador.completarEstaEntidade}"
                                                converter="#{departamentoControlador.converterAutoComplete}"
                                                var="depar"
                                                itemLabel="#{depar.nome}"
                                                itemValue="#{depar}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="40"/>

                                <fc:labelObrigatorio value="Conta Corrente Bancária: "/>
                                <fc:completar controller="#{contaCorrenteControlador}"
                                              value="#{gestaoControlador.selecionado.contaCorrenteBancaria}"
                                              title="Selecione a Conta"/>

                                <h:outputLabel value="Número Placet: "/>
                                <p:inputText value="#{gestaoControlador.selecionado.numeroPlacet}" size="10"
                                             maxlength="10"/>

                                <fc:labelObrigatorio value="Gerar Processo Financeiro automático: " />
                                <p:selectBooleanCheckbox value="#{gestaoControlador.selecionado.permitirProcessoFinanceiro}"/>

                            </h:panelGrid>
                        </div>
                    </div>

                    <div id="tab2" class="tab-pane ">
                        <div class="panel-body">
                            <h:panelGrid columns="2" id="painel-loja-gestao">

                                <fc:labelObrigatorio value="Loja: "/>
                                <p:autoComplete value="#{gestaoControlador.gestaoLoja.loja}"
                                                completeMethod="#{lojaControlador.completarEstaEntidade}"
                                                converter="#{lojaControlador.converterAutoComplete}"
                                                var="loja"
                                                itemLabel="#{loja}"
                                                itemValue="#{loja}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="50"/>

                                <fc:labelObrigatorio value="Venerável Mestre: "/>
                                <p:autoComplete value="#{gestaoControlador.gestaoLoja.macon}"
                                                completeMethod="#{maconControlador.completarEstaEntidade}"
                                                converter="#{maconControlador.converterAutoComplete}"
                                                var="macon"
                                                itemLabel="#{macon}"
                                                itemValue="#{macon}"
                                                maxResults="10"
                                                queryDelay="1000"
                                                size="50"/>

                                <fc:labelObrigatorio value="Data Inicial:"/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "
                                            autocomplete="off"
                                            styleClass="mrg-top10"
                                            title="Digite a data inicial"
                                            value="#{gestaoControlador.gestaoLoja.dataInicial}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>

                                <h:outputLabel value="Data Final:"/>
                                <p:calendar onkeypress="mascara(this, Data)"
                                            maxlength="10"
                                            style="text-align: right; "
                                            autocomplete="off"
                                            styleClass="mrg-top10"
                                            title="Digite a data final"
                                            value="#{gestaoControlador.gestaoLoja.dataFinal}"
                                            locale="pt" navigator="true" pattern="dd/MM/yyyy"
                                            size="10"/>


                            </h:panelGrid>


                            <p:commandButton value="Adicionar"
                                             actionListener="#{gestaoControlador.adicionarLoja()}"
                                             icon="fa fa-plus-circle"
                                             title="clique para adicionar a loja"
                                             update=":Formulario:painel-loja-gestao :Formulario:tabela-lojas-gestao"
                                             process=":Formulario:painel-loja-gestao @this"/>

                            <p:dataTable value="#{gestaoControlador.selecionado.gestaoLojas}"
                                         id="tabela-lojas-gestao"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros."
                                         var="loja"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Telefones&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{loja}">
                                <p:column headerText="Ações" styleClass="larguraPequena alinhamentoEsquerda"
                                          style="width: 10%!important; text-align: center!important;">
                                    <p:commandButton actionListener="#{gestaoControlador.removerLojaGestao(loja)}"
                                                     update=":Formulario:tabela-lojas-gestao"
                                                     process="@this"
                                                     styleClass="btn-live"
                                                     icon="fa fa-trash"/>
                                </p:column>
                                <p:column headerText="Loja" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{loja.loja.nome}"/>
                                </p:column>
                                <p:column headerText="Venerável Mestre" styleClass="alinhamentoCentralizado">
                                    <h:outputText value="#{loja.macon.pessoaFisica.nome}"/>
                                </p:column>
                                <p:column headerText="Data Inicial" style="width: 10%!important;">
                                    <h:outputText value="#{loja.dataInicial}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="Data Final" style="width: 10%!important;">
                                    <h:outputText value="#{loja.dataFinal}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>

                        </div>
                    </div>
                </div>
            </div>
            <fc:rodapePadrao controlador="#{gestaoControlador}"/>
        </h:form>
    </ui:define>

</ui:composition>

</html>
