<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{contaCorrenteControlador.id == null ? 'Novo' : 'Editar'} Conta corrente
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">

            <h:panelGrid columns="2">
                <fc:labelObrigatorio para="numero" value="Número da Conta:"/>
                <p:inputText
                    value="#{contaCorrenteControlador.selecionado.numero}"
                    id="numero"
                    styleClass="maiuscula"
                    onkeyup="maiuscula(this.id)"
                    title="Digite o Número da conta."/>

                <fc:labelObrigatorio para="nomeConta" value="Nome da Conta:"/>
                <p:inputText
                    value="#{contaCorrenteControlador.selecionado.nome}"
                    id="nomeConta"
                    size="60"
                    styleClass="maiuscula"
                    onkeyup="maiuscula(this.id)"
                    title="Digite o Nome da conta."/>

                <fc:labelObrigatorio para="agencia" value="Agência:"/>
                <fc:completar title="Selecione a Agência" controller="#{agenciaControlador}"
                              value="#{contaCorrenteControlador.selecionado.agencia}"
                              id="agencia"/>


            </h:panelGrid>


            <fc:rodapePadrao controlador="#{contaCorrenteControlador}"/>
        </h:form>

    </ui:define>
</ui:composition>
</html>

