<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{bancoControlador.id == null ? 'Novo' : 'Editar'} Banco
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">

            <h:panelGrid columns="2">

                <fc:labelObrigatorio para="codigo" value="Código:"/>
                <p:inputText value="#{bancoControlador.selecionado.numero}"
                             id="codigo"
                             size="60"
                             styleClass="maiuscula"
                             onkeyup="maiuscula(this.id)"
                             title="Digite o código do Banco."/>

                <fc:labelObrigatorio para="nome" value="Descrição:"/>
                <p:inputText value="#{bancoControlador.selecionado.descricao}"
                             id="nome"
                             size="60"
                             styleClass="maiuscula"
                             onkeyup="maiuscula(this.id)"
                             title="Digite a descrição do Banco."/>


            </h:panelGrid>


            <fc:rodapePadrao controlador="#{bancoControlador}"/>
        </h:form>

    </ui:define>
</ui:composition>
</html>

