<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head">
        <i class="fa fa-list fa-1x"> </i> Consulta de Estoque
    </ui:define>
    <ui:define name="body">
        <h:form id="Formulario">

            <h:panelGrid columns="2" id="panelFiltros">
                <fc:labelObrigatorio value="Data Inicial:"/>
                <p:calendar value="#{consultaEstoqueControlador.dataInicial}"
                            locale="pt"
                            autocomplete="off"
                            pattern="dd/MM/yyyy"
                            size="10"
                            maxlength="10"
                            navigator="true"
                            showButtonPanel="true"
                            onkeyup="mascara(this, mdata)"/>

                <fc:labelObrigatorio value="Data Final:"/>
                <p:calendar value="#{consultaEstoqueControlador.dataFinal}"
                            locale="pt"
                            autocomplete="off" pattern="dd/MM/yyyy" size="10" maxlength="10"
                            navigator="true"
                            showButtonPanel="true"
                            onkeyup="mascara(this, mdata)"/>


                <h:outputLabel value="Departamento: "/>
                <p:autoComplete value="#{consultaEstoqueControlador.departamento}"
                                converter="#{solicitacaoProcessoControlador.converterDepartamento}"
                                completeMethod="#{solicitacaoProcessoControlador.completarDepartamento}"
                                var="c"
                                size="40"
                                itemValue="#{c}"
                                itemLabel="#{c}"/>

                <h:outputLabel for="produto" value="Produto:"/>
                <p:autoComplete value="#{consultaEstoqueControlador.produto}"
                                id="produto"
                                completeMethod="#{entradaEstoqueControlador.completarProduto}"
                                converter="#{entradaEstoqueControlador.converterProduto}"
                                var="p"
                                size="40"
                                itemLabel="#{p.descricao}"
                                itemValue="#{p.id}"/>
            </h:panelGrid>


            <p:commandButton value="Consultar"
                             onclick="aguarde.show()"
                             oncomplete="aguarde.hide()"
                             title="Clique para consultar saldo almoxarifado."
                             icon="fa fa-search"
                             update=":Formulario:tabelaSaldo"
                             actionListener="#{consultaEstoqueControlador.consultar()}"/>

            <p:commandButton value="Limpar Filtros"
                             onclick="aguarde.show()"
                             oncomplete="aguarde.hide()"
                             title="Clique para limpar os filtros informados."
                             icon="fa fa-refresh"
                             styleClass="m-l-xs button-excluir"
                             update=":Formulario:panelFiltros"
                             actionListener="#{consultaEstoqueControlador.iniciarFiltros()}"/>


            <p:outputPanel id="tabelaSaldo" styleClass="mrg-top10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="texto-centralizado">Data</th>
                        <th>Departamento</th>
                        <th>Produto</th>
                        <th class="text-right">Quantidade</th>
                    </tr>
                    </thead>
                    <ui:repeat value="#{consultaEstoqueControlador.saldos}"
                               var="saldo">
                        <tr>
                            <td class="texto-centralizado">
                                <h:outputText value="#{saldo.data}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </td>
                            <td>
                                #{saldo.departamento}
                            </td>
                            <td>
                                #{saldo.produto}
                            </td>
                            <td class="text-right">
                                #{saldo.quantidade}
                            </td>
                        </tr>
                    </ui:repeat>
                </table>
                <div align="right" class="negrito mrg-rig03">
                    Total: #{consultaEstoqueControlador.quantidadeTotal}
                </div>
            </p:outputPanel>
        </h:form>
    </ui:define>
</ui:composition>
</html>

