<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
>

<ui:composition template="resources/template/template.xhtml">
    <ui:define name="dashboard-financeiro">
        <h:form id="form-index">
            <p:outputLabel rendered="#{homeControlador.isMacon()}">
                <div class="wrapper wrapper-content">
                    <div class="row animated fadeInRight">
                        <div class="col-md-8">
                            <div class="ibox float-e-margins">
                                <div>
                                    <div class="ibox-content profile-content">

                                        <div class="row">
                                            <table class="table mrg-top10">

                                                <ui:repeat value="#{homeControlador.atributosTabelaveisMacon}"
                                                           var="atr">
                                                    <tr>
                                                        <td class="text-right"> #{web.getNomeCampo(atr)} :
                                                        </td>
                                                        <td class="text-left">
                                                            <h:outputText
                                                                value="#{web.getValorCampo(atr, homeControlador.maconLogado)}"
                                                                escape="false" styleClass="link-discreto font-bold"/>
                                                        </td>
                                                    </tr>
                                                </ui:repeat>

                                            </table>
                                            <p:commandButton value="Visualizar cadastro"
                                                             onclick="abrirStatusDialog()"
                                                             oncomplete="fechaStatusDialog()"
                                                             icon="fa  fa-edit"
                                                             styleClass="button-save m-t"
                                                             actionListener="#{homeControlador.redirecionarMacon}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Minhas Movimentações</h5>
                                </div>
                                <div class="ibox-content">

                                    <div>
                                        <div class="feed-activity-list">

                                            <div class="feed-element">
                                                <h5>Boletos</h5>
                                            </div>
                                            <div class="feed-element">
                                                <div class="media-body ">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>

                                                                <th>#</th>
                                                                <th>Número</th>
                                                                <th class="text-center">Data</th>
                                                                <th class="text-center">Data de Vencimento</th>
                                                                <th>Tipo</th>
                                                                <th>Situação</th>
                                                                <th>Valor</th>
                                                                <th class="text-center">Imprimir</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <ui:repeat
                                                                value="#{homeControlador.contasReceberComBoletoDoMacon}"
                                                                var="boletoMacon"
                                                                varStatus="status">
                                                                <tr>
                                                                    <td>#{status.index+1}</td>
                                                                    <td>#{boletoMacon.boleto.numero}</td>
                                                                    <td class="text-center">
                                                                        <h:outputText
                                                                            value="#{boletoMacon.boleto.dataTransacao}">
                                                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                                        </h:outputText>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <h:outputText
                                                                            value="#{boletoMacon.boleto.dataVencimento}">
                                                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                                        </h:outputText>
                                                                    </td>
                                                                    <td>
                                                                        <h:outputText
                                                                            value="#{boletoMacon.tipoContaPagar.descricao}"/>
                                                                    </td>
                                                                    <td>
                                                                        <h:outputText
                                                                            value="#{boletoMacon.situacaoContaPagar.descricao}"/>
                                                                    </td>
                                                                    <td>
                                                                        <h:outputText
                                                                            value="#{boletoMacon.boleto.valorTotal}"
                                                                            converter="moneyConverter"/>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <p:button
                                                                            href="#{boletoMacon.boleto.urlPdfPagamento}"
                                                                            icon="fa fa-print"
                                                                            styleClass="button-search m-t m-l-xs"
                                                                            target="_blank"/>
                                                                    </td>
                                                                </tr>
                                                            </ui:repeat>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="feed-element">
                                                <h5>Processos</h5>
                                            </div>
                                            <div class="feed-element">
                                                <div class="media-body ">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>

                                                                <th>#</th>
                                                                <th>Número</th>
                                                                <th class="text-center">Data</th>
                                                                <th>Descrição</th>
                                                                <th>Tipo</th>
                                                                <th>Situação</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <ui:repeat
                                                                value="#{homeControlador.solicitacaoProcessosDoMacon}"
                                                                var="processo"
                                                                varStatus="status">
                                                                <tr>
                                                                    <td>#{status.index+1}</td>
                                                                    <td>#{processo.numero}</td>
                                                                    <td class="text-center">
                                                                        <h:outputText value="#{processo.solicitadoEm}">
                                                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                                        </h:outputText>
                                                                    </td>
                                                                    <td>
                                                                        <h:outputText value="#{processo.descricao}"/>
                                                                    </td>
                                                                    <td>
                                                                        <h:outputText
                                                                            value="#{processo.tipoSolicitacao.descricao}"/>
                                                                    </td>
                                                                    <td>
                                                                        <h:outputText
                                                                            value="#{processo.statusProcesso.descricao}"/>
                                                                    </td>
                                                                </tr>
                                                            </ui:repeat>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </p:outputLabel>

            <p:outputPanel rendered="#{homeControlador.isPerfilFinanceiro()}">
                <div class="wrapper-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                <a href="#{request.contextPath}/admin/macon/listar">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <span class="label label-success">Maçons</span>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="no-margins font-bold text-success"><h1><i
                                                class="fa fa-user"></i> #{homeControlador.countMacons}</h1></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="#{request.contextPath}/admin/loja/listar">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <span class="label label-info">Lojas</span>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="no-margins font-bold text-info"><h1><i
                                                class="fa fa-bank"></i> #{homeControlador.countLojas}</h1></div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4">

                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <span class="label label-primary pull-right ">A receber hoje</span>
                                    </div>
                                    <div class="ibox-content">

                                        <div class="row">
                                            <a href="#{request.contextPath}/admin/contas-receber/listar">
                                                <div class="col-md-12 pull-right">
                                                    <h2 class="no-margins font-bold pull-right">
                                                        <i class="fa fa-level-up text-navy"></i>
                                                        <h:outputText
                                                            styleClass="m-l-md text-navy"
                                                            value="#{homeControlador.contasReceber}"
                                                            converter="moneyConverter"/>
                                                    </h2>
                                                </div>
                                            </a>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <span class="label label-danger pull-right">A pagar hoje</span>
                                    </div>
                                    <div class="ibox-content">

                                        <div class="row">
                                            <a href="#{request.contextPath}/admin/contas-pagar/listar">
                                                <div class="col-md-12 pull-right">

                                                    <h2 class="no-margins font-bold pull-right">
                                                        <i class="fa fa-level-down text-danger"></i>
                                                        <h:outputText
                                                            styleClass="m-l-md text-danger"
                                                            value="#{homeControlador.contasPagar}"
                                                            converter="moneyConverter"/>
                                                    </h2>

                                                </div>
                                            </a>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <span>Contas Bancárias</span>
                                    </div>
                                    <div class="ibox-content">

                                        <div class="row">
                                            <ui:repeat value="#{homeControlador.saldosDasLojas}" var="lanc"
                                                       varStatus="status">

                                                <div class="row #{(status.index+1) mod 2 eq 0 ? 'negrito-azul' : ''}">
                                                    <div class="col-xs-6 text-left">
                                                        <h4>
                                                            <h:outputText
                                                                value="Banco: #{lanc.contaCorrente.contaCorrenteBancaria.agencia.banco.numero}"/>
                                                            <br/>
                                                            <h:outputText
                                                                value="Ag.: #{lanc.contaCorrente.contaCorrenteBancaria.agencia.numero}"/>
                                                        </h4>
                                                        <h4>
                                                            <h:outputText
                                                                value="C/C.: #{lanc.contaCorrente.contaCorrenteBancaria.numero}"/>
                                                        </h4>
                                                    </div>
                                                    <div class="col-xs-6 text-right">
                                                        <h4>
                                                            <h:outputText value="#{lanc.saldoFinanceiro}"
                                                                          converter="moneyConverter"/>
                                                        </h4>
                                                    </div>
                                                </div>

                                            </ui:repeat>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <div>
                                        <span class="pull-right text-right">

                                            <div class="btn-group-vertical">
                                                    <button type="button" class="btn btn-sm btn-success">Saldo</button>
                                                    <button type="button" class="btn btn-sm btn-primary">Recebimento</button>
                                                    <button type="button" class="btn btn-sm btn-danger">Pagamento</button>

                                            </div>
                                        </span>
                                            <h3 class="font-bold no-margins">
                                                Fluxo de Caixa Diário
                                            </h3>
                                            <small>Valores em reais (R$)</small>
                                            <br/>
                                            <small>Valores referentes aos últimos <strong> 15 dias.</strong></small>
                                        </div>

                                        <div class="m-t-sm">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div>
                                                        <canvas id="lineChart" height="114"></canvas>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="m-t-md">
                                            <small>
                                                <strong>Informações do Gráfico:</strong> Os Valores desse gráfico, são atualizados automaticamente conforme as movimentações do sistema.
                                            </small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </p:outputPanel>


        </h:form>

        <script type="text/javascript">
            function formatar(valor) {
                var moeda = 'R$ ';
                valor = ('' + valor).replace(',', '.');
                valor = ('' + valor).split('.');
                var parteInteira = valor[0];
                var parteDecimal = valor[1];

                // tratar a parte inteira
                var rx = /(\d+)(\d{3})/;
                parteInteira = parteInteira.replace(/^\d+/, function (w) {
                    while (rx.test(w)) {
                        w = w.replace(rx, '$1.$2');
                    }
                    return w;
                });

                // tratar a parte decimal
                var formatoDecimal = 2;

                if (parteDecimal) parteDecimal = parteDecimal.slice(0, formatoDecimal);
                else if (!parteDecimal &amp;&amp; formatoDecimal) {
                    parteDecimal = '';
                    while (parteDecimal.length &lt; formatoDecimal) {
                        parteDecimal = '0' + parteDecimal;
                    }
                }
                if (parteDecimal.length &lt; formatoDecimal) {
                    while (parteDecimal.length &lt; formatoDecimal) {
                        parteDecimal = parteDecimal + '0';
                    }
                }
                var string = moeda + (parteDecimal ? [parteInteira, parteDecimal].join(',') : parteInteira);
                return string;

            }

            var options = {
                responsive: true,
                // String - Template string for single tooltips
                tooltipTemplate: "&lt;%if (label){%>&lt;%=label %>: &lt;%}%>&lt;%= formatar(value) + %>",
                // String - Template string for multiple tooltips
                multiTooltipTemplate: "&lt;%= formatar(value) %>",
                //Interpolated JS string - can access value
                scaleLabel: "&lt;%=formatar(value)%>",
            }

            window.onload = function () {
                var ctx = $("#lineChart").get(0).getContext("2d");

                $.ajax({
                    url: '#{request.contextPath}/ws/grafico/despesa-receita',
                    type: 'GET',
                    data: '',
                    success: function (retorno) {
                        var LineChart = new Chart(ctx).Line(retorno, options);
                    }
                });

            }
        </script>
    </ui:define>
</ui:composition>
</html>

