<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:cc="http://java.sun.com/jsp/jstl/core">

<f:view contentType="text/html; charset=UTF-8">
    <h:head>
        <h:head>
            <fc:metas/>
            <h:outputScript library="js" name="jquery-2.1.1.js" />
            <h:outputStylesheet library="css" name="bootstrap.css"/>
            <h:outputStylesheet library="css" name="style.css"/>
            <h:outputStylesheet library="css" name="style_1.css"/>


        </h:head>


    </h:head>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#out").fadeOut("slow");
        });
        function aguardeLogin() {
            $("#in").fadeIn("slow");
        }

    </script>
    <style type="text/css">
        #out {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999999;
            background: #f3f3f4;
        }

        #in {
            display: none;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background:  #f3f3f4;
            text-align: center;
        }
    </style>
    <h:body styleClass="gray-bg">
        <div id="in">
            <div class="loginColumns">
                <div class="row">
                    <div class="col-md-12">
                      <img src="resources/images/md-logo.png" alt="image"/>
                        <div class="center m-t-md" style="font-weight: 500"   >
                            Grande Loja Maçônica do Estado do Acre
                        </div>
                        <div class="center m-t-md" style="font-weight: bolder"   >
                            Estamos carregando seu perfil, Aguarde...
                        </div>
                        <br/>
                        <img src="resources/images/ajax-loader-login.gif" width="25px" alt="image" style="margin-right: 5px!important;"/>

                    </div>
                </div>
            </div>


        </div>
        <div id="out"></div>



        <div class="loginColumns animated fadeInDown">
            <div class="row">

                <div class="col-md-6">
                    <img src="resources/images/md-logo.png" alt="image"/>
                    <div class="center m-t-md" style="font-weight: bold">
                        Grande Loja Maçônica do Estado do Acre
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="ibox-content">
                        <p class="m-t">
                            Informe o seu Usuário e Senha
                        </p>
                        <h:form id="login" styleClass="m-t" prependId="false"
                                onsubmit="document.getElementById('login').action = '#{request.contextPath}/j_spring_security_check';">

                            <div class="form-group">
                                <input id="j_username" name="user" type="text" class="form-control"
                                       placeholder="Usuário"/>
                            </div>
                            <div class="form-group">
                                <input id="j_password" name="password" type="password" class="form-control"
                                       placeholder="Senha"/>
                            </div>

                            <button value="Login" class="btn btn-primary block full-width m-b"
                                    onclick="aguardeLogin(); login.submit(); "  type="submit">Login
                            </button>

                            <a href="#{facesContext.externalContext.requestContextPath}/public/primeiro-acesso/">
                                <input
                                    type="button"
                                    value="Primeiro Acesso"
                                    onclick="aguarde(); processando();"
                                    class="btn btn-success block full-width m-b"
                                >
                                </input>
                            </a>

                            <cc:if test="${param.invalid == true}">
                                <div class="alert alert-danger" style="text-align: center!important;">
                                    Usuário ou senha inválidos!
                                    <br/>Por Favor cheque suas credenciais.
                                </div>
                            </cc:if>



                            <!-- <p class="text-muted text-center">
                                <small>Ainda não tem acesso?</small>
                            </p> -->




                           <!-- <div class="text-left">
                                <a href="#{facesContext.externalContext.requestContextPath}/public/resetar-senha/verificacao/">
                                    <small>Esqueceu a senha?</small>
                                </a>
                            </div> -->

                        </h:form>


                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6 text-right">
                    <small>© All rights reserved 2014-2020</small>
                </div>
            </div>
        </div>

    </h:body>
</f:view>
</html>
