<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html; charset=UTF-8">
    <h:head>
        <h:head>
            <fc:metas/>
            <fc:imports/>

        </h:head>


    </h:head>

    <h:body styleClass="gray-bg">


        <div class="loginColumns animated fadeInDown">
            <div class="row">

                <div class="col-md-6">
                    <img src="#{facesContext.externalContext.requestContextPath}/resources/images/md-logo.png"
                         alt="image"/>
                    <div class="center m-t-md" style="font-weight: bold">
                        Grande Loja Maçônica do Estado do Acre
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="ibox-content">
                        <p class="m-t font-bold">
                            Informe sua nova senha para acesso
                        </p>
                        <hr/>
                        <h:form id="Formulario">
                            <p:messages rendered="false"/>
                            <p:growl escape="true"
                                     showDetail="true"
                                     showSummary="true"
                                     sticky="true"
                                     autoUpdate="true"
                                     id="growl"/>
                            <h:panelGrid columns="2">
                                <h:outputText value="Senha:"/>
                                <p:password value="#{primeiroAcessoControlador.usuario.senha}"
                                            id="password"
                                            size="20"
                                            placeholder="Senha"
                                            maxlength="30"
                                            title="Digite a senha do Usuário. Mínimo 6 caracteres." feedback="true"
                                            inline="true"
                                            promptLabel="Informe a senha" weakLabel="Fraca" goodLabel="Boa"
                                            strongLabel="Ótima"
                                            redisplay="true"/>

                                <h:outputText value="confirmar senha:"/>
                                <p:password value="#{primeiroAcessoControlador.usuario.confirmacaoSenha}"
                                            id="password2"
                                            size="20"
                                            placeholder="Confirmação"
                                            maxlength="30"
                                            title="Digite a senha do Usuário. Mínimo 6 caracteres." feedback="true"
                                            inline="true"
                                            promptLabel="Informe a senha" weakLabel="Fraca" goodLabel="Boa"
                                            strongLabel="Ótima"
                                            redisplay="true"/>


                            </h:panelGrid>


                            <h:commandButton onstart="aguarde.show()"
                                             onsuccess="aguarde.hide()"
                                             styleClass="btn btn-success block full-width m-b"
                                             value="Salvar"
                                             actionListener="#{primeiroAcessoControlador.salvarSenhaNova()}"/>

                        </h:form>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6 text-right">
                    <small>© All rights reserved 2014-2017</small>
                </div>
            </div>
        </div>


    </h:body>
</f:view>
</html>
