<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html; charset=UTF-8">
    <h:head>
        <h:head>
            <fc:metas/>
            <fc:imports/>

        </h:head>


    </h:head>

    <h:body styleClass="gray-bg">


        <div class="loginColumns animated fadeInDown">
            <div class="row">

                <div class="col-md-6">
                    <img src="#{facesContext.externalContext.requestContextPath}/resources/images/md-logo.png"
                         alt="image"/>
                    <div class="center m-t-md" style="font-weight: bold">
                        Grande Loja Maçônica do Estado do Acre
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="ibox-content">
                        <p class="m-t font-bold">
                            Primeiro Passo
                        </p>
                        <hr/>
                        <h:form id="Formulario">
                            <p:messages rendered="false"/>
                            <p:growl escape="true"
                                     showDetail="true"
                                     showSummary="true"
                                     sticky="true"
                                     autoUpdate="true"
                                     id="growl"/>
                            <div class="form-group">
                                <fc:labelObrigatorio value="Nome de Usuário:" styleClass="label-login"/>
                                <p:inputText value="#{primeiroAcessoControlador.primeiroAcesso.login}"
                                             styleClass="form-control"
                                             placeholder="Informe um nome de usuário"
                                             title="Informe um nome de usuário que deseja utilizar no sistema."/>
                            </div>
                            <div class="form-group">
                                <fc:labelObrigatorio value="CPF:" styleClass="label-login"/>
                                <p:inputMask value="#{primeiroAcessoControlador.primeiroAcesso.cpf}"
                                             id="cpf"
                                             size="15"
                                             mask="999.999.999-99"
                                             styleClass="form-control"
                                             style="border: 1px solid #e5e6e7!important;"
                                             title="Informe o CPF cadastrado no sistema.">
                                </p:inputMask>

                            </div>
                            <div class="form-group">
                                <fc:labelObrigatorio value="E-mail:" styleClass="label-login"/>
                                <p:inputText value="#{primeiroAcessoControlador.primeiroAcesso.email}"
                                             styleClass="form-control"
                                             title="Informe o e-mail cadastrado no sistema."/>
                            </div>


                            <h:commandButton onstart="aguarde.show()"
                                             onsuccess="aguarde.hide()"
                                             styleClass="btn btn-success block full-width m-b"
                                             value="Confirmar"
                                             actionListener="#{primeiroAcessoControlador.verificarInformacoes()}"/>

                        </h:form>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6 text-right">
                    <small>© All rights reserved 2014-2017</small>
                </div>
            </div>
        </div>


    </h:body>
</f:view>
</html>
