<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{configuracaoServicoControlador.id == null ? 'Nova' : 'Editar'} Configuração de Serviço
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function(event){
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario" >
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab"  href="#tab1"> Informações da Configuração de Serviço</a></li>
                    <li ><a data-toggle="tab"  href="#tab2"> Formulários </a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">

                                <fc:labelObrigatorio value="Descrição da Configuração do Serviço: "/>
                                <p:inputText value="#{configuracaoServicoControlador.selecionado.descricao}" size="70"/>

                                <h:outputLabel value="Descrição da Lei Orçamentária: "/>
                                <p:inputText value="#{configuracaoServicoControlador.selecionado.lei}" size="70"/>

                                <fc:labelObrigatorio value="Multiplicar Pela Quantidade de Maçons: " />
                                <p:selectBooleanCheckbox value="#{configuracaoServicoControlador.selecionado.anuidade}"/>

                                <fc:labelObrigatorio value="Permitir Parcelamento: " />
                                <p:selectBooleanCheckbox value="#{configuracaoServicoControlador.selecionado.parcelamento}"/>

                                <fc:labelObrigatorio value="Data Inicial: " />
                                <p:calendar value="#{configuracaoServicoControlador.selecionado.dataInicial}"
                                            locale="pt"
                                            autocomplete="off"
                                            pattern="dd/MM/yyyy"
                                            size="10"
                                            maxlength="10"
                                            navigator="true"
                                            showButtonPanel="true"
                                            onkeyup="mascara(this, mdata)"/>

                                <fc:labelObrigatorio value="Data Final: " />
                                <p:calendar value="#{configuracaoServicoControlador.selecionado.dataFinal}"
                                            locale="pt"
                                            autocomplete="off"
                                            pattern="dd/MM/yyyy"
                                            size="10"
                                            maxlength="10"
                                            navigator="true"
                                            showButtonPanel="true"
                                            onkeyup="mascara(this, mdata)"/>

                                <fc:labelObrigatorio value="Serviço: "/>
                                <p:autoComplete value="#{configuracaoServicoControlador.selecionado.servico}"
                                                completeMethod="#{configuracaoServicoControlador.completarServicosLessConfiguracao}"
                                                converter="#{configuracaoServicoControlador.converterServico}"
                                                size="70"
                                                var="s"
                                                itemLabel="#{s}"
                                                itemValue="#{s}"
                                                label="Pesquise pela descrição..."/>

                                <fc:labelObrigatorio para="valor" value="Valor:"/>
                                <p:inputText value="#{configuracaoServicoControlador.selecionado.valor}"
                                             id="valor"
                                             converter="moneyConverter"
                                             size="20"
                                             styleClass="maiuscula"
                                             onclick="this.select();"
                                             onfocus="this.select();"
                                             style="text-align: right"
                                             onkeydown="mascara(this, mvalor);"
                                             title="Digite o valor do Serviço."/>


                                <fc:labelObrigatorio para="quantidadeDiasDesconto" value="Quantidade de dias para desconto:"/>
                                <p:inputText value="#{configuracaoServicoControlador.selecionado.quantidadeDiasDesconto}"
                                             id="quantidadeDiasDesconto"
                                             size="20"
                                             title="Digite a quantidade de dias para dar desconto do Serviço."/>


                                <fc:labelObrigatorio para="valorDesconto" value="Valor do Desconto:"/>
                                <p:inputText value="#{configuracaoServicoControlador.selecionado.valorDesconto}"
                                             id="valorDesconto"
                                             converter="moneyConverter"
                                             size="20"
                                             styleClass="maiuscula"
                                             onclick="this.select();"
                                             onfocus="this.select();"
                                             style="text-align: right"
                                             onkeydown="mascara(this, mvalor);"
                                             title="Digite o valor do desconto do Serviço."/>
                            </h:panelGrid>
                        </div>
                    </div>

                    <div id="tab2" class="tab-pane">
                        <div class="panel-body">
                            <h:panelGrid columns="3">
                                <fc:labelObrigatorio value="Formulário: "/>
                                <p:autoComplete value="#{configuracaoServicoControlador.configuracaoServicoFormulario.formulario}"
                                                completeMethod="#{configuracaoServicoControlador.completarFormularios}"
                                                converter="#{configuracaoServicoControlador.converterFormulario}"
                                                var="s"
                                                itemLabel="#{s}"
                                                itemValue="#{s}"
                                                size="70"
                                                id="form"
                                                label="Pesquise pela descrição..."/>
                            </h:panelGrid>

                            <p:commandButton value="Adicionar"
                                             actionListener="#{configuracaoServicoControlador.adicionarFormulario()}"
                                             icon="fa fa-plus-circle fa-1x"
                                             title="clique para adicionar um formlário"
                                             update="tabela-formulario form"
                                             process="@form"/>



                            <p:dataTable value="#{configuracaoServicoControlador.selecionado.configuracaoServicoFormularios}"
                                         id="tabela-formulario"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="form"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Formulários&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100">
                                <p:column headerText="Ações" style="width: 5%!important; text-align: center!important;"
                                          styleClass="larguraPequena">
                                    <p:commandButton
                                            actionListener="#{configuracaoServicoControlador.removerFormulario(form)}"
                                            update=":Formulario:tabela-formulario"
                                            process="@this"
                                            icon="fa fa-trash-o"/>
                                </p:column>
                                <p:column headerText="Formulário" style="text-align: center!important;">
                                    <p:outputLabel value="#{form.formulario.descricao}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>

            </div>
            <fc:rodapePadrao controlador="#{configuracaoServicoControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
