<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fc="http://java.sun.com/jsf/composite/components">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{solicitacaoProcessoControlador.id == null ? 'Nova' : 'Editar'} Solicitação de Processo
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">

            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações da Solicitação</a></li>
                    <li style="display: ${solicitacaoProcessoControlador.selecionado.tipoSolicitacao ne 'SERVICO' ? 'none' : 'block'}">
                        <a data-toggle="tab" href="#tab2"> Formulários </a></li>
                    <li style="display: ${solicitacaoProcessoControlador.selecionado.tipoSolicitacao ne 'SERVICO' ? 'block' : 'none'}">
                        <a data-toggle="tab" href="#tab3"> Produtos </a></li>

                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2" styleClass="m-t-md">
                                <h:outputLabel value="Número: "/>
                                <h:outputLabel styleClass="negrito"
                                               value="#{solicitacaoProcessoControlador.selecionado.numero
                                            eq null ? 'Número gerado automaticamente ao salvar'
                                                   : solicitacaoProcessoControlador.selecionado.numero}"/>

                                <h:outputLabel value="Solicitado Em: "/>
                                <h:outputLabel styleClass="negrito"
                                               value="#{solicitacaoProcessoControlador.selecionado.solicitadoEm}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputLabel>

                                <h:outputLabel value="Status: "/>
                                <h:outputLabel
                                    value="#{solicitacaoProcessoControlador.selecionado.statusProcesso.descricao}"/>

                                <fc:labelObrigatorio value="Descrição: "/>
                                <p:inputText value="#{solicitacaoProcessoControlador.selecionado.descricao}" size="70"/>

                                <fc:labelObrigatorio value="Tipo da Solicitação: "/>
                                <h:selectOneMenu value="#{solicitacaoProcessoControlador.selecionado.tipoSolicitacao}">
                                    <f:selectItems value="#{solicitacaoProcessoControlador.tipoSolicitacaoProcesso}"/>
                                    <p:ajax event="change" process="@form" update="@form"
                                            listener="#{solicitacaoProcessoControlador.recarregarSolicitacao()}"/>
                                </h:selectOneMenu>

                                <fc:labelObrigatorio value="Tipo de pagamento: "/>
                                <h:selectOneMenu value="#{solicitacaoProcessoControlador.selecionado.tipoPagamento}">
                                    <f:selectItems value="#{solicitacaoProcessoControlador.tipoPagamento}"/>
                                </h:selectOneMenu>


                                <fc:labelObrigatorio value="Serviço: "
                                                     rendered="#{solicitacaoProcessoControlador.selecionado.tipoSolicitacao eq 'SERVICO' }"/>

                                <p:autoComplete value="#{solicitacaoProcessoControlador.selecionado.servico}"
                                                completeMethod="#{solicitacaoProcessoControlador.completarServico}"
                                                converter="#{solicitacaoProcessoControlador.converterServico}"
                                                var="p"
                                                rendered="#{solicitacaoProcessoControlador.selecionado.tipoSolicitacao eq 'SERVICO' }"
                                                size="70"
                                                itemLabel="#{p.descricao}"
                                                itemValue="#{p}">
                                    <p:ajax event="itemSelect" process="@this"
                                            update=":Formulario:formulario :Formulario:pf  :Formulario:bt-upload-arquivo"
                                            listener="#{solicitacaoProcessoControlador.carregarFormularios()}"/>
                                </p:autoComplete>

                                <fc:labelObrigatorio value="Departamento: "/>
                                <p:autoComplete value="#{solicitacaoProcessoControlador.selecionado.departamento}"
                                                converter="#{solicitacaoProcessoControlador.converterDepartamento}"
                                                completeMethod="#{solicitacaoProcessoControlador.completarDepartamento}"
                                                var="c"
                                                size="70"
                                                itemValue="#{c}"
                                                itemLabel="#{c}"/>
                                <fc:labelObrigatorio value="Pessoa: "/>
                                <p:autoComplete value="#{solicitacaoProcessoControlador.selecionado.pessoa}"
                                                converter="#{solicitacaoProcessoControlador.converterPessoa}"
                                                completeMethod="#{solicitacaoProcessoControlador.completarPessoa}"
                                                var="pf"
                                                id="pf"
                                                size="70"
                                                maxResults="10"
                                                disabled="#{solicitacaoProcessoControlador.selecionado.servico eq null
                                                and solicitacaoProcessoControlador.selecionado.tipoSolicitacao ne 'PRODUTO'}"
                                                itemLabel="#{pf}"
                                                itemValue="#{pf}"/>


                            </h:panelGrid>
                        </div>

                    </div>

                    <div id="tab2" class="tab-pane">
                        <div class="panel-body">
                            <h:panelGrid columns="2" styleClass="m-t-md">

                                <fc:labelObrigatorio value="Formulário: "/>
                                <h:selectOneMenu id="formulario"
                                                 value="#{solicitacaoProcessoControlador.solicitacaoProcessoFormulario.formulario}"
                                                 converter="#{solicitacaoProcessoControlador.converterFormulario}"
                                                 disabled="#{empty solicitacaoProcessoControlador.solicitacaoProcessoFormularios}">
                                    <f:selectItems
                                        value="#{solicitacaoProcessoControlador.solicitacaoProcessoFormularios}"/>
                                    <p:ajax event="change" process="@this" update="bt-upload-arquivo"/>
                                </h:selectOneMenu>

                                <fc:labelObrigatorio value="Documento: "/>
                                <p:fileUpload id="bt-upload-arquivo"
                                              fileUploadListener="#{solicitacaoProcessoControlador.carregarFileupload}"
                                              disabled="#{solicitacaoProcessoControlador.solicitacaoProcessoFormulario.formulario eq null}"
                                              label="Selecionar"
                                              sizeLimit="15728640"
                                              cancelLabel="Cancelar"
                                              uploadLabel="Upload"
                                              mode="advanced" dragDropSupport="false"
                                              multiple="false"
                                              allowTypes="/(\.|\/)(pdf)$/"
                                              invalidSizeMessage="O tamanho do arquivo é inválido, o tamanho do arquivo não pode ser superior a 15Mb."
                                              invalidFileMessage="O tipo do arquivo é inválido. Apenas formato em pdf é válido."/>

                            </h:panelGrid>

                            <p:dataTable
                                value="#{solicitacaoProcessoControlador.selecionado.solicitacaoProcessoFormularios}"
                                id="tabela-formulario"
                                styleClass="mrg-top10"
                                emptyMessage="Não foram localizados registros"
                                var="form"
                                tableStyleClass="table"
                                paginator="true"
                                rowIndexVar="rowIx"
                                rows="10"
                                paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Formulários&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                rowsPerPageTemplate="10,25,50,100">
                                <p:column headerText="Ações" style="width: 20%!important; text-align: center!important;"
                                          styleClass="larguraPequena">
                                    <p:commandButton
                                        actionListener="#{solicitacaoProcessoControlador.removerSolicitacaoProcessoFormulario(form)}"
                                        update=":Formulario:tabela-formulario
                                         :Formulario:bt-upload-arquivo
                                         :Formulario:formulario"
                                        process="@this"
                                        icon="fa fa-trash-o"/>
                                </p:column>
                                <p:column headerText="Formulário" style="text-align: center!important; width: auto">
                                    <p:outputLabel value="#{form.formulario.descricao}"/>
                                </p:column>
                                <p:column headerText="Nome Arquivo" style="text-align: center!important;width: auto">
                                    <p:outputLabel value="#{form.arquivo.nome}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>

                    <div id="tab3" class="tab-pane ">
                        <div class="painel-body">
                            <h:panelGrid columns="2" styleClass="m-t-md">
                                <fc:labelObrigatorio value="Produto: "/>

                                <p:autoComplete
                                    value="#{solicitacaoProcessoControlador.solicitacaoProcessoProduto.produto}"
                                    completeMethod="#{solicitacaoProcessoControlador.completarProduto}"
                                    converter="#{solicitacaoProcessoControlador.converterProduto}"
                                    var="p"
                                    id="produto"
                                    size="40"
                                    itemLabel="#{p.descricao}"
                                    itemValue="#{p}">
                                </p:autoComplete>

                                <fc:labelObrigatorio para="quantidade" value="Quantidade:"/>
                                <p:inputText value="#{solicitacaoProcessoControlador.solicitacaoProcessoProduto.quantidade}"
                                             id="quantidade"
                                             size="20" maxlength="10">
                                </p:inputText>
                            </h:panelGrid>


                            <p:commandButton value="Adicionar"
                                             actionListener="#{solicitacaoProcessoControlador.adicionarItemSolicitacao()}"
                                             icon="fa fa-plus-circle"
                                             title="clique para adicionar um endereço"
                                             update="tabela-itens produto"
                                             process="@form"/>


                            <p:dataTable value="#{solicitacaoProcessoControlador.selecionado.solicitacaoProdutos}"
                                         id="tabela-itens"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="cc"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Itens da Solicitação&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{cc}">
                                <p:column headerText="Ações" style="width: 20%!important; text-align: center!important;"
                                          styleClass="larguraPequena">
                                    <p:commandButton
                                        actionListener="#{solicitacaoProcessoControlador.removerItemSolicitacao(cc)}"
                                        update=":Formulario:tabela-itens"
                                        process="@this"
                                        icon="fa fa-remove"/>
                                </p:column>
                                <p:column headerText="Produto" style="text-align: center!important;">
                                    <p:outputLabel value="#{cc.produto.descricao}"/>
                                </p:column>
                                <p:column headerText="Quantidade" style="text-align: center!important;">
                                    <p:outputLabel value="#{cc.quantidade}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>

            </div>

            <fc:rodapePadrao controlador="#{solicitacaoProcessoControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
