<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fc="http://java.sun.com/jsf/composite/components">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-eye fa-1x"></i>
        Visualizar Cadastro da Solicitação de Processo
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">

            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Informações da Solicitação</a></li>
                    <li style="display: ${solicitacaoProcessoControlador.selecionado.tipoSolicitacao ne 'SERVICO' ? 'none' : 'block'}">
                        <a data-toggle="tab" href="#tab2"> Formulários </a></li>
                    <li style="display: ${solicitacaoProcessoControlador.selecionado.tipoSolicitacao ne 'SERVICO' ? 'block' : 'none'}">
                        <a data-toggle="tab" href="#tab3"> Produtos </a></li>

                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2" styleClass="m-t-md">
                                <h:outputLabel value="Número: "/>
                                <p:outputLabel styleClass="negrito"
                                               value="#{solicitacaoProcessoControlador.selecionado.numero}"/>

                                <h:outputLabel value="Solicitado Em: "/>
                                <p:outputLabel value="#{solicitacaoProcessoControlador.selecionado.solicitadoEm}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </p:outputLabel>

                                <h:outputLabel value="Status: "/>
                                <p:outputLabel styleClass="negrito"
                                               value="#{solicitacaoProcessoControlador.selecionado.statusProcesso.descricao}"/>

                                <fc:labelObrigatorio value="Descrição: "/>
                                <p:outputLabel styleClass="negrito"
                                               value="#{solicitacaoProcessoControlador.selecionado.descricao}"/>

                                <fc:labelObrigatorio value="Tipo da Solicitação: "/>
                                <p:outputLabel styleClass="negrito"
                                               value="#{solicitacaoProcessoControlador.selecionado.tipoSolicitacao.descricao}"/>

                                <fc:labelObrigatorio value="Tipo de Pagamento: "/>
                                <p:outputLabel styleClass="negrito"
                                               value="#{solicitacaoProcessoControlador.selecionado.tipoPagamento.descricao}"/>

                                <fc:labelObrigatorio value="Serviço: "
                                                     rendered="#{solicitacaoProcessoControlador.selecionado.tipoSolicitacao eq 'SERVICO' }"/>
                                <p:outputLabel styleClass="negrito"
                                               value="#{solicitacaoProcessoControlador.selecionado.servico}"/>

                                <fc:labelObrigatorio value="Departamento: "/>
                                <p:outputLabel styleClass="negrito"
                                               value="#{solicitacaoProcessoControlador.selecionado.departamento}"/>

                                <fc:labelObrigatorio value="Pessoa: "/>
                                <p:outputLabel styleClass="negrito"
                                               value="#{solicitacaoProcessoControlador.selecionado.pessoa}"/>
                            </h:panelGrid>
                        </div>

                    </div>

                    <div id="tab2" class="tab-pane">
                        <div class="panel-body">

                            <p:dataTable
                                value="#{solicitacaoProcessoControlador.selecionado.solicitacaoProcessoFormularios}"
                                id="tabela-formulario"
                                styleClass="mrg-top10"
                                emptyMessage="Não foram localizados registros"
                                var="form"
                                tableStyleClass="table"
                                paginator="true"
                                rowIndexVar="rowIx"
                                rows="10"
                                paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Formulários&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                rowsPerPageTemplate="10,25,50,100">
                                <p:column headerText="Formulário" style="text-align: center!important; width: auto">
                                    <p:outputLabel value="#{form.formulario.descricao}"/>
                                </p:column>
                                <p:column headerText="Nome Arquivo" style="text-align: center!important;width: auto">
                                    <p:outputLabel value="#{form.arquivo.nome}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>

                    <div id="tab3" class="tab-pane ">
                        <div class="painel-body">

                            <p:dataTable value="#{solicitacaoProcessoControlador.selecionado.solicitacaoProdutos}"
                                         id="tabela-itens"
                                         styleClass="mrg-top10"
                                         emptyMessage="Não foram localizados registros"
                                         var="cc"
                                         tableStyleClass="table"
                                         paginator="true"
                                         rowIndexVar="rowIx"
                                         rows="10"
                                         paginatorTemplate="{CurrentPageReport}  &lt;span class='titulo-tabela mrig10'>Itens Solicitação&lt;/span> {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         currentPageReportTemplate="({startRecord} - {endRecord} de {totalRecords}, Página: {currentPage}/{totalPages})"
                                         rowsPerPageTemplate="10,25,50,100"
                                         rowKey="#{cc}">
                                <p:column headerText="Produto" style="text-align: center!important;">
                                    <p:outputLabel value="#{cc.produto.descricao}"/>
                                </p:column>
                                <p:column headerText="Quantidade" style="text-align: center!important;">
                                    <p:outputLabel value="#{cc.quantidade}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>

            </div>

            <fc:rodapePadraoVisualizar controlador="#{solicitacaoProcessoControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
