<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
    <h:head>
        <fc:metas/>
        <fc:imports/>
        <f:facet name="first">
            <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.ico" />
        </f:facet>

    </h:head>

    <h:body id="wrapper">
        <h:form>
            <fc:aguarde/>
            <p:hotkey bind="f1" handler="window.open('#{request.contextPath}/admin/home','_blank');" process="@none"
                      update="@none"
                      immediate="true"/>
            <p:hotkey bind="f2" handler="window.open(document.URL,'_blank');" process="@none" update="@none"
                      immediate="true"/>
            <p:hotkey bind="f4"
                      handler="if (!confirm('Tem certeza que deseja ir para a tela inicial?')){return;}; window.location = '#{request.contextPath}/admin/home'"
                      immediate="true"/>
        </h:form>

        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false"
                  resizable="false" showHeader="false">
            <img src="#{facesContext.externalContext.requestContextPath}/resources/images/ajax-loader.gif"/>
        </p:dialog>

        <fc:menu id="menu"/>


        <div id="page-wrapper" class="gray-bg dashboard-1">
            <fc:barra-superior id="barra-superior"/>

            <h:form id="formulario-mensagem">
                <p:messages rendered="false"/>
                <p:growl escape="false"
                         showDetail="true"
                         showSummary="true"
                         sticky="true"
                         autoUpdate="true"
                         id="growl"/>
            </h:form>
            <div class="wrapper-content " style="#{homeControlador.isHome() ? 'display:none': ''}">
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10 ">
                        <h2 class="text-center">
                            <ui:insert name="head"/>
                        </h2>
                    </div>
                </div>
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content ibox-title">
                                    <ui:insert name="body"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-content"
                 style="#{homeControlador.isHome() ? '': 'display:none'}">
                <ui:insert name="dashboard-financeiro"/>
            </div>
        </div>

    </h:body>
</f:view>
</html>
