<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components">
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{configuracaoProdutoControlador.id == null ? 'Nova' : 'Editar'} Configuração de Produto
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function(event){
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario" >
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab"  href="#tab1"> Informações da Configuração de Produto</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">

                                <fc:labelObrigatorio value="Descrição da Configuração do Produto: "/>
                                <p:inputText value="#{configuracaoProdutoControlador.selecionado.descricao}" size="70"/>

                                <h:outputLabel value="Descrição da Lei Orçamentária: "/>
                                <p:inputText value="#{configuracaoProdutoControlador.selecionado.lei}" size="70"/>

                                <fc:labelObrigatorio value="Permitir Parcelamento: " />
                                <p:selectBooleanCheckbox value="#{configuracaoProdutoControlador.selecionado.parcelamento}"/>

                                <fc:labelObrigatorio value="Data Inicial: " />
                                <p:calendar value="#{configuracaoProdutoControlador.selecionado.dataInicial}"
                                            locale="pt"
                                            autocomplete="off"
                                            pattern="dd/MM/yyyy"
                                            size="10"
                                            maxlength="10"
                                            navigator="true"
                                            showButtonPanel="true"
                                            onkeyup="mascara(this, mdata)"/>

                                <fc:labelObrigatorio value="Data Final: " />
                                <p:calendar value="#{configuracaoProdutoControlador.selecionado.dataFinal}"
                                            locale="pt"
                                            autocomplete="off"
                                            pattern="dd/MM/yyyy"
                                            size="10"
                                            maxlength="10"
                                            navigator="true"
                                            showButtonPanel="true"
                                            onkeyup="mascara(this, mdata)"/>

                                <fc:labelObrigatorio value="Produto: "/>
                                <p:autoComplete value="#{configuracaoProdutoControlador.selecionado.produto}"
                                                completeMethod="#{configuracaoProdutoControlador.completarProdutoLessConfiguracao}"
                                                converter="#{configuracaoProdutoControlador.converterProduto}"
                                                size="70"
                                                var="s"
                                                itemLabel="#{s}"
                                                itemValue="#{s}"
                                                label="Pesquise pela descrição..."/>

                                <fc:labelObrigatorio para="valor" value="Valor:"/>
                                <p:inputText value="#{configuracaoProdutoControlador.selecionado.valor}"
                                             id="valor"
                                             converter="moneyConverter"
                                             size="20"
                                             styleClass="maiuscula"
                                             onclick="this.select();"
                                             onfocus="this.select();"
                                             style="text-align: right"
                                             onkeydown="mascara(this, mvalor);"
                                             title="Digite o valor do Produto."/>
                            </h:panelGrid>
                        </div>
                    </div>
                </div>

            </div>
            <fc:rodapePadrao controlador="#{configuracaoProdutoControlador}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>
