<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fc="http://java.sun.com/jsf/composite/components"
>
<ui:composition template="../../../resources/template/template.xhtml">
    <ui:define name="head"> <i class="fa fa-edit fa-1x"></i>
        #{configuracaoEmailControlador.configuracaoEmail.id == null ? 'Nova' : 'Editar'} Configuração de E-mail
    </ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            $('#nav li a').click(function (event) {
                $(this).parent().find('a.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
        <h:form id="Formulario">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1"> Parâmetros da Configuração</a></li>
                    <li><a data-toggle="tab" href="#tab2"> Enviar E-mail de Teste</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <div class="panel-body">
                            <h:panelGrid columns="2">
                                <fc:labelObrigatorio para="hostSmtp" value="Host SMTP:"/>
                                <p:inputText value="#{configuracaoEmailControlador.configuracaoEmail.hostSmtp}"
                                             size="70"
                                             id="hostSmtp"
                                             title="Digite o Host SMTP desta Configuração de E-mail."/>

                                <fc:labelObrigatorio para="porta" value="Porta:"/>
                                <p:inputText value="#{configuracaoEmailControlador.configuracaoEmail.porta}"
                                             size="70"
                                             id="porta"
                                             title="Digite a Porta desta Configuração de E-mail."/>

                                <h:outputLabel for="criptografia" value="Criptografia?"/>
                                <p:selectOneMenu id="criptografia"
                                                 value="#{configuracaoEmailControlador.tipoCriptografica}">
                                    <f:selectItems value="#{configuracaoEmailControlador.tiposCriptografia}"/>
                                    <p:ajax event="valueChange"
                                            listener="#{configuracaoEmailControlador.setarCriptografia()}"/>
                                </p:selectOneMenu>


                                <fc:labelObrigatorio para="email" value="E-mail Remetente:"/>
                                <p:inputText value="#{configuracaoEmailControlador.configuracaoEmail.emailRemetente}"
                                             size="70"
                                             id="email"
                                             title="Digite o E-mail Remetente desta Configuração de E-mail."/>

                                <fc:labelObrigatorio para="senha" value="Senha:"/>
                                <p:password id="senha" value="#{configuracaoEmailControlador.configuracaoEmail.senha}"
                                            title="Digite a senha do E-mail Remetente desta Configuração de E-mail."
                                            redisplay="true"/>
                            </h:panelGrid>
                            <fc:rodapePadrao controlador="#{configuracaoEmailControlador}"/>
                        </div>

                    </div>
                    <div id="tab2" class="tab-pane ">
                        <div class="painel-body">
                            <h:panelGrid columns="2">
                                <h:outputLabel for="destinatario" value="Destinatário:"/>
                                <p:inputText value="#{configuracaoEmailControlador.destinatario}"
                                             size="50" id="destinatario"
                                             title="Digite o Destinatário, para testar a configuração."/>

                                <p:commandButton value="Enviar"
                                                 icon="fa fa-paper-plane"
                                                 title="Clique para enviar um e-mail de teste ao destinatário informado."
                                                 actionListener="#{configuracaoEmailControlador.enviarEmailTeste()}"
                                                 onstart="aguarde.show()"
                                                 oncomplete="aguarde.hide()"
                                                 update="@form"/>
                            </h:panelGrid>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
</html>

